material-checkbox {
    .mdc-checkbox {
        vertical-align: middle;
    }
    .mdccustom-label {
        font-size: 16px;
        vertical-align: middle;
        -webkit-font-smoothing: auto;
        @if $materialFontFamily { font-family: $materialFontFamily; }
        @if $materialFontWeight { font-weight: $materialFontWeight; }
    }
}
