material-select {
    .mdc-select {
        width: 200px;
        &.mdccustom-select-fullwidth {
            width: 100%;
        }
        .mdc-floating-label {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
        .mdc-select__selected-text {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
        .mdc-list-item__text {
            -webkit-font-smoothing: auto;
            @if $materialFontFamily { font-family: $materialFontFamily; }
            @if $materialFontWeight { font-weight: $materialFontWeight; }
        }
    }
}
