<material-checkbox> <!-- version: 20201113 -->

<div ref="formfield" class="mdc-form-field">
    <div ref="checkbox" class="mdc-checkbox">
        <input type="checkbox" class="mdc-checkbox__native-control" id={ random + '_checkbox' } onchange={ onChange }>
        <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
        </div>
        <div class="mdc-checkbox__ripple"></div>
    </div>
    <label for={ random + '_checkbox' } class="mdccustom-label">{ label }</label>
</div>

<script>
    const main = () => {
        this.label = opts.label || '';
        const isDefaultChecked = Boolean(opts.is_checked);
        const _onChange = opts.on_change || (checked => { checked });
        this.random = generateID(16);
        let mdcCheckbox = null;

        this.getChecked = () => {
            if (mdcCheckbox) return mdcCheckbox.checked;
            else return null;
        };
        this.setChecked = (checked) => {
            if (mdcCheckbox) mdcCheckbox.checked = checked;
            else setTimeout(() => {
                if (mdcCheckbox) mdcCheckbox.checked = checked;
            }, 0);
        };

        this.onChange = () => { _onChange(mdcCheckbox.checked) };
        this.on('mount', () => {
            mdcCheckbox = new mdc.checkbox.MDCCheckbox(this.refs.checkbox);
            const mdcFormField = new mdc.formField.MDCFormField(this.refs.formfield);
            mdcFormField.input = mdcCheckbox;
            mdcCheckbox.checked = isDefaultChecked;
        });
    };
    const generateID = (length) => {
        const CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        const CHARS_LENGTH = CHARS.length;
        let code = '';
        for (let i = 0; i < length; i++) code += CHARS[Math.floor(Math.random() * CHARS_LENGTH)];
        return code;
    };
    main();
</script>

</material-checkbox>
