<material-select> <!-- version: 20210919 -->

<div ref="select" class="mdc-select mdc-select--filled { mdccustom-select-fullwidth: isFullWidth }">
    <div class="mdc-select__anchor" role="button"
         aria-haspopup="listbox" aria-expanded="false" aria-labelledby="{ random + '_label' } { random + '_selectedtext' }">
        <span class="mdc-select__ripple"></span>
        <span id={ random + '_label' } class="mdc-floating-label">{ hint }</span>
        <span class="mdc-select__selected-text-container">
            <span id={ random + '_selectedtext' } class="mdc-select__selected-text"></span>
        </span>
        <span class="mdc-select__dropdown-icon">
            <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5" focusable="false">
                <polygon class="mdc-select__dropdown-icon-inactive" stroke="none" fill-rule="evenodd" points="7 10 12 15 17 10"></polygon>
                <polygon class="mdc-select__dropdown-icon-active" stroke="none" fill-rule="evenodd" points="7 15 12 10 17 15"></polygon>
            </svg>
        </span>
        <span class="mdc-line-ripple"></span>
    </div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface { mdc-menu-surface--fullwidth: isMenuWidthFixed }">
        <ul class="mdc-list" role="listbox" aria-label="Food picker listbox">
            <li if={ withEmptyItem } class="mdc-list-item mdc-list-item--selected" aria-selected="true" data-value="" role="option">
                <span class="mdc-list-item__ripple"></span>
            </li>
            <li each={ items } class="mdc-list-item" aria-selected="false" data-value={ value } role="option">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">{ label }</span>
            </li>
        </ul>
    </div>
</div>

<script>
    const main = () => {
        this.hint = opts.hint || '';
        this.items = copyItems(opts.items || [{ value: 'value1', label: 'item1' }]);
        const defaultValue = opts.default_value || null;
        const width = opts.width || null;
        this.isFullWidth = Boolean(opts.is_fullwidth);
        this.withEmptyItem = Boolean(opts.with_empty_item);
        this.isMenuWidthFixed = Boolean(opts.is_menuwidth_fixed);
        const _onChange = opts.on_change || (value => { value });
        this.random = generateID(16);
        let mdcSelect = null;

        this.getValue = () => {
            if (mdcSelect) return mdcSelect.value;
            else return null;
        };
        this.setValue = (value) => {
            if (mdcSelect) mdcSelect.value = value;
            else setTimeout(() => {
                if (mdcSelect) mdcSelect.value = value;
            }, 0);
        };

        const onChange = () => { _onChange(mdcSelect.value) };
        this.on('mount', () => {
            this.refs.select.style.width = width;
            mdcSelect = new mdc.select.MDCSelect(this.refs.select);
            if (defaultValue) mdcSelect.value = defaultValue;
            mdcSelect.listen('MDCSelect:change', onChange);
        });
    };
    const generateID = (length) => {
        const CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        const CHARS_LENGTH = CHARS.length;
        let code = '';
        for (let i = 0; i < length; i++) code += CHARS[Math.floor(Math.random() * CHARS_LENGTH)];
        return code;
    };
    const copyItems = (items) => JSON.parse(JSON.stringify(items.map(({ value, label }) => ({ value, label }))));
    main();
</script>

</material-select>
