<material-textfield> <!-- version: 20210621 -->

<!-- filled -->
<label if={ !isOutlined } ref="textfield" class="mdc-text-field mdc-text-field--filled { mdc-text-field--textarea: isTextarea }">
    <span class="mdc-text-field__ripple"></span>
    <span if={ hint } class="mdc-floating-label" id={ random + '_label' }>{ hint }</span>
    <input if={ !isTextarea } ref="input" class="mdc-text-field__input" type={ isPassword ? 'password' : 'text' } maxlength={ maxLength }
            aria-labelledby={ random + '_label' } aria-controls={ random + '_helper' } aria-describedby={ random + '_helper' }
            onchange={ onChange } oninput={ onInput } onkeypress={ onKeyPress }>
    <textarea if={ isTextarea } ref="input" class="mdc-text-field__input" rows={ textareaRows } maxlength={ maxLength }
                aria-labelledby={ random + '_label' } aria-controls={ random + '_helper' } aria-describedby={ random + '_helper' }
                onchange={ onChange } oninput={ onInput } onkeypress={ onKeyPress }></textarea>
    <span class="mdc-line-ripple"></span>
</label>

<!-- outlined -->
<label if={ isOutlined } ref="textfield" class="mdc-text-field mdc-text-field--outlined { mdc-text-field--textarea: isTextarea }">
    <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span if={ hint } class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id={ random + '_label' }>{ hint }</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input if={ !isTextarea } ref="input" class="mdc-text-field__input" type={ isPassword ? 'password' : 'text' } maxlength={ maxLength }
            aria-labelledby={ random + '_label' } aria-controls={ random + '_helper' } aria-describedby={ random + '_helper' }
            onchange={ onChange } oninput={ onInput } onkeypress={ onKeyPress }>
    <textarea if={ isTextarea } ref="input" class="mdc-text-field__input" rows={ textareaRows } maxlength={ maxLength }
                aria-labelledby={ random + '_label' } aria-controls={ random + '_helper' } aria-describedby={ random + '_helper' }
                onchange={ onChange } oninput={ onInput } onkeypress={ onKeyPress }></textarea>
</label>

<div class="mdc-text-field-helper-line">
    <div class="mdc-text-field-helper-text { mdc-text-field-helper-text--persistent: isHelperPersistent || !isValid, mdc-text-field-helper-text--validation-msg: !isValid }"
            id={ random + '_helper' } aria-hidden="true"></div>
    <div if={ maxLength } class="mdc-text-field-character-counter">0 / { maxLength }</div>
</div>

<script>
    const main = () => {
        this.hint = opts.hint || '';
        let helperMessage = opts.helper || '';
        const invalidMessage = opts.invalid_message || 'invalid input';
        const patternReg = opts.pattern ? new RegExp(`^${opts.pattern}\$`) : null;
        const checkFunc = opts.check_func; // (value) => isValid
        this.maxLength = opts.max_length || null;
        this.isOutlined = Boolean(opts.is_outlined);
        this.isHelperPersistent = Boolean(opts.is_helper_persistent);
        this.isPassword = Boolean(opts.is_password);
        this.isTextarea = Boolean(opts.is_textarea);
        this.textareaRows = opts.textarea_rows || '4';
        const onEnter = opts.on_enter || (value => { value });
        const _onChange = opts.on_change || (value => { value });
        const _onInput = opts.on_input || (value => { value });
        this.random = generateID(16);
        this.isValid = true;
        let mdcTextField = null;

        this.getValue = () => {
            if (mdcTextField) return mdcTextField.value;
            else return null;
        };
        this.setValue = (value) => {
            if (mdcTextField) mdcTextField.value = value;
            else setTimeout(() => {
                if (mdcTextField) mdcTextField.value = value;
            }, 0);
        };
        this.setHelperMessage = (message) => {
            helperMessage = message;
            if (mdcTextField.valid) mdcTextField.helperTextContent = helperMessage;
        };
        this.focus = () => { mdcTextField.focus() };

        this.onChange = () => {
            const inputValue = mdcTextField.value;
            const lastValid = this.isValid;
            if (checkFunc) this.isValid = checkFunc(inputValue);
            else if (patternReg) this.isValid = Boolean(inputValue.match(patternReg));
            if (this.isValid !== lastValid) {
                this.update();
                mdcTextField.helperTextContent = this.isValid ? helperMessage : invalidMessage;
                mdcTextField.valid = this.isValid;
            }
            _onChange(inputValue);
        };
        this.onInput = () => { _onInput(mdcTextField.value) };
        this.onKeyPress = (event) => {
            if (event.code === 'Enter' || event.key === 'Enter' || event.keyCode === 13) {
                onEnter(mdcTextField.value);
            }
        };
        this.on('mount', () => {
            mdcTextField = new mdc.textField.MDCTextField(this.refs.textfield);
            mdcTextField.useNativeValidation = false;
            mdcTextField.helperTextContent = helperMessage;
        });
    };
    const generateID = (length) => {
        const CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        const CHARS_LENGTH = CHARS.length;
        let code = '';
        for (let i = 0; i < length; i++) code += CHARS[Math.floor(Math.random() * CHARS_LENGTH)];
        return code;
    };
    main();
</script>

</material-textfield>
