@mixin dispensers {
    .tokensale-items {
        margin: 10px;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        .tokensale-item {
            position: relative;
            box-sizing: border-box;
            width: 240px;
            height: calc(240px * 1.428);
            border-radius: 3px;
            overflow: hidden;
            background-color: white;
            cursor: pointer;
            box-shadow: 0px 1px 2px rgba(black, 0.2);
            content-visibility: auto;
            @media screen and (max-width: 760px) {
                width: calc(33.3vw - 13.4px);
                height: calc((33.3vw - 13.4px) * 1.428);
            }
            @media screen and (max-width: 520px) {
                width: calc(50vw - 16px);
                height: calc((50vw - 16px) * 1.428);
            }
            &:hover { filter: brightness(105%); }
            &:active { filter: brightness(110%); }
            div {
                position: relative;
            }
            .image {
                display: block;
                width: 100%;
                border-radius: 2px; // こっちも丸めたほうが綺麗
            }
            .info-frame {
                position: absolute;
                box-sizing: border-box;
                bottom: 0;
                right: 0;
                width: calc(100% - 8px);
                margin: 4px;
                padding: 6px 10px;
                background-color: rgba(white, 0.7);
                backdrop-filter: blur(2px);
                border-radius: 2px;
                font-size: 20px;
                text-align: right;
                .amount {
                    font-size: 80%;
                }
                .unit {
                    font-size: 70%;
                    padding-left: 4px;
                }
                .asset-id {
                    font-size: 64%;
                }
                .addr-button {
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    width: 60px;
                    height: 28px;
                    .setcount {
                        padding-left: 2px;
                        font-size: 72%;
                        text-align: left;
                        white-space: nowrap;
                        }
                    .hashcolors {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 60px;
                        height: 6px;
                    }
                }
            }
            .status-icon {
                position: absolute;
                right: 0;
                padding: 8px 4px 8px 8px;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                background-color: rgba(255, 255, 255, 0.6);
                .material-icons {
                    font-size: 28px;
                    vertical-align: middle;
                }
                &.status-icon-wallet {
                    top: 8px;
                }
                &.status-icon-treasure {
                    top: 60px;
                }
            }
            &.tokensale-item-square {
                .image {
                    width: 88%;
                    margin: 10% 6% 44.857% 6%;
                    border-radius: 4px;
                }
            }
        }
    }
}