// SweetAlertにclassNameで指定するためのクラス
.swalcustom-singlebutton {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-title {
        margin: 20px;
        font-size: 20px;
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-text {
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-button-container {
        display: block;
    }
    .swal-button {
        width: 100%;
        height: 42px;
        font-family: $fontFamily;
        font-weight: $swalFontWeight;
        background-color: $accentColor;
        border-radius: 3px;
        &:hover {
            background-color: lighten($accentColor, 5%);
        }
    }
}
.swalcustom-singlebutton-center {
    @extend .swalcustom-singlebutton;
    .swal-text {
        text-align: center;
    }
}
.swalcustom-icon {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-title {
        margin-bottom: 20px;
        padding-top: 0;
        font-size: 24px;
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-text {
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-button-container {
        display: block;
    }
    .swal-button {
        width: 100%;
        height: 42px;
        font-family: $fontFamily;
        font-weight: $swalFontWeight;
        background-color: $accentColor;
        border-radius: 3px;
        &:hover {
            background-color: lighten($accentColor, 5%);
        }
        &.swal-button--cancel {
            color: white;
        }
        &.swal-button--danger {
            background-color: tomato;
            &:hover {
                background-color: lighten(tomato, 5%);
            }
        }
    }
}
.swalcustom-okorcancel {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-title {
        margin: 20px;
        font-size: 20px;
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-text {
        font-weight: $swalFontWeight;
        color: $color;
    }
    .swal-button-container {
        display: block;
    }
    .swal-button {
        width: 100%;
        height: 42px;
        font-family: $fontFamily;
        font-weight: $swalFontWeight;
        background-color: $accentColor;
        border-radius: 3px;
        &:hover {
            background-color: lighten($accentColor, 5%);
        }
        &.swal-button--cancel {
            color: white;
            background-color: #CCCCCC;
            &:hover {
                background-color: lighten(#CCCCCC, 5%);
            }
        }
    }
}
.swalcustom-okorcancel-center {
    @extend .swalcustom-okorcancel;
    .swal-text {
        text-align: center;
    }
}
.swalcustom-justtext {
    &.swal-modal {
        border-radius: 3px;
    }
    .swal-text {
        margin: 24px 0;
        font-weight: $swalFontWeight;
        color: $color;
    }
}
.swalcustom-content .swal-content {
    &.swal-modal {
        border-radius: 3px;
        font-size: 16px;
    }
    .title {
        font-size: 20px;
        margin-bottom: 20px;
        &.title-with-toprightbutton {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .section {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #EEEEEE;
        .section-title {
            font-size: 17px;
            margin: 20px 0;
        }
        .bottombutton-frame {
            margin-top: 12px;
            margin-bottom: -6px;
        }
    }
    .basic {
        position: relative;
        margin: 20px 0;
        &.thin {
            margin: 10px 0;
        }
        &.success-color {
            color: mediumseagreen;
        }
        &.warning-color {
            color: tomato;
        }
    }
    .data {
        padding: 6px 6px;
        background-color: #F5F5F5;
        border-radius: 3px;
        font-family: $codeFontFamily;
        white-space: pre-wrap;
    }
    .bottombutton-frame {
        margin: 10px 0 0 0;
        width: 100%;
    }
    .toprightbutton-frame {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    .inputenterbutton-frame {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    .buttons-frame {
        margin: 18px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px 6px;
        .mdc-button {
            min-width: 120px;
        }
    }
    .inline-icon {
        font-size: 20px;
        vertical-align: middle;
    }
    .inline-input {
        display: inline-block;
        vertical-align: middle;
        // widthは個別に指定
    }
    .text-with-inlineinput {
        display: inline-block;
        padding-top: 12px;
        vertical-align: middle;
        font-size: 16px;
    }
    .upper-helper {
        margin-bottom: 2px;
        font-size: 12px;
        color: $quietColor;
    }
    .oblique {
        font-style: oblique;
    }
}
