<about-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">info</i>
        <h2 class="page-title">About</h2>
    </div>
    <div class="page-content">
        <div if={ !TagG.IS_MPURSEEX } class="section-frame">
            <div class="section-title">{ TagG.jp ? 'これはなに' : 'What is this?' }</div>
            <div class="paragraph">
                <span if={ TagG.jp }>お手軽に使えるモナコイン＋Monapartyの超高機能総合エンタテイメントウォレットです。</span>
                <span if={ !TagG.jp }>Monapalette is an easy-to-use ultra-high-functionality entertainment wallet of Monacoin + Monaparty.</span>
            </div>
            <div if={ TagG.jp } class="paragraph">
                <span>詳しいことは<a href="https://opaque-toast-7ea.notion.site/fe5a2c309f3a495fa7a3399549cfe50c" target="_blank">モナパレット大全</a>を見てください。</span>
            </div>
        </div>
        <div if={ TagG.IS_MPURSEEX } class="section-frame">
            <div class="section-title">{ TagG.jp ? 'これはなに' : 'What is this?' }</div>
            <div class="paragraph">
                <span if={ TagG.jp }>Mpurseはとても便利ですが機能はシンプルなので、モナパレットの機能をMpurseのアドレスで使えるようにしてみました。これでMpurseのアドレスからでもトークンを送る以外のMonapartyの操作ができるし、モナカードとの連携もお手軽です。やったね。</span>
                <span if={ !TagG.jp }>MpurseExte enables you to use Monapalette's functions with your Mpurse address.</span>
            </div>
            <div class="paragraph">
                <span if={ TagG.jp }>本家: <a href="https://monapalette.komikikaku.com/" target="_blank">モナパレット</a></span>
                <span if={ !TagG.jp }>Powered by <a href="https://monapalette.komikikaku.com/" target="_blank">Monapalette</a></span>
            </div>
        </div>
        <div class="section-frame">
            <div class="section-title">{ TagG.jp ? '利用上の注意' : 'Notes on Use' }</div>
            <div class="paragraph">
                <span if={ TagG.jp }>モナパレットではウォレットのニーモニックをあなた自身が管理するので、運営は秘密鍵にはノータッチです。つまりニーモニックや秘密鍵を失くしたり盗まれたりしてモナコイン／Monapartyトークンを失ったときはあなた自身の責任です。とくにニーモニックを入力する都合上、フィッシングサイトなどにもご注意ください。利用者側の管理／知識の不足によるいかなるトラブルもモナパレットは関知しません。</span>
                <span if={ !TagG.jp }>Don't Trust. Verify.</span>
            </div>
            <div class="paragraph">
                <span if={ TagG.jp }>モナパレットの処理はすべてブラウザ上で行われ、実際のコードは比較的読みやすい形で誰でも確認可能です。いちおう<a href="https://bitbucket.org/anipopina/monapalette/" target="_blank">リポジトリ</a>も公開しているので Don't Trust. Verify ということでよろしくお願いします。既知の問題は<a href="https://anipopina.hateblo.jp/entry/2021/02/19/221226" target="_blank">こちら</a>にまとめてあります。</span>
                <span if={ !TagG.jp }>The code repository is available <a href="https://bitbucket.org/anipopina/monapalette/" target="_blank">here</a>. Known issues are summarized <a href="https://anipopina.hateblo.jp/entry/2021/02/19/221226" target="_blank">here</a>.</span>
            </div>
            <div class="paragraph">
                <span if={ TagG.jp }>推奨ブラウザはChromeです。それ以外のブラウザからの利用はあんまりサポートされません。</span>
                <span if={ !TagG.jp }>The recommended browser is Chrome. Other browsers may not be well supported.</span>
            </div>
        </div>
        <div class="section-frame">
            <div class="section-title">{ TagG.jp ? 'バックエンド' : 'Backends' }</div>
            <div class="paragraph">
                <span if={ TagG.jp }>モナパレットはこれらのサービスを使って動いています。いつもありがとうございます。</span>
                <span if={ !TagG.jp }>Monapalette is powered by the following services. Thanks!</span>
            </div>
            <div class="service">Monaparty: <span each={ monapartyServers } class="api-server">{ endpoint }</span></div>
            <div if={ TagG.BLOCKBOOK_API_ENDPOINTS } class="service">Monacoin Blockbook: <span each={ endpoint in TagG.BLOCKBOOK_API_ENDPOINTS } class="api-server">{ endpoint }</span></div>
            <div if={ TagG.INSIGHT_API_ENDPOINT } class="service">Monacoin Insight: { TagG.INSIGHT_API_ENDPOINT }</div>
            <div if={ TagG.CARDSERVER_API } class="service">Monacard: <a class="link" target="_blank" href="https://card.mona.jp/">card.mona.jp</a></div>
            <div class="service">Imgur (as D-Board image host): <a class="link" target="_blank" href="https://imgur.com/">imgur.com</a></div>
        </div>
        <div class="section-frame">
            <div class="section-title">{ TagG.jp ? 'ほかには' : 'Other Apps' }</div>
            <div class="service">{ TagG.jp ? '公式Twitter' : 'Official Twitter' }: <a class="link" target="_blank" href="https://twitter.com/monapalette">@monapalette<img class="inline-iconimg" width="40" height="40" src={ TagG.RELATIVE_URL_BASE + 'img/logoicon_80.png' } loading="lazy"></a></div>
            <div class="service">{ TagG.jp ? 'モナパちゃん' : 'Monapachan' }: <a class="link" target="_blank" href="https://twitter.com/monapachan">@monapachan<img class="inline-iconimg" width="40" height="40" src={ TagG.RELATIVE_URL_BASE + 'img/monapachan-face-icon.png' } loading="lazy"></a></div>
            <div class="service">{ TagG.jp ? 'オダイロイド１号' : 'Odairoid 001' }: <a class="link" target="_blank" href="https://twitter.com/odairoid_001">@odairoid_001<img class="inline-iconimg" width="40" height="40" src={ TagG.RELATIVE_URL_BASE + 'img/odairoid-face-icon.png' } loading="lazy"></a></div>
            <div class="service">{ TagG.jp ? 'そのた' : 'And more' }: <a class="link" target="_blank" href="https://komikikaku.com/">{ TagG.jp ? 'こみ企画' : 'Komi Kikaku' }</a></div>
        </div>
        <div class="section-frame">
            <div class="section-title">{ TagG.jp ? '開発の支援' : 'Fuels for Development' }</div>
            <div class="paragraph">
                <span if={ TagG.jp }>モナパレットは個人の趣味により無償で開発運営されています。モナパレットを気に入ったらモナコインを投げて開発や運営を支えてくれると喜びます。</span>
                <span if={ !TagG.jp }>Monapalette is developed free of charge as a personal hobby. If you like Monapalette, it would be a pleasure to send MONA to support the development and operation.</span>
            </div>
            <div class="paragraph"><a class="link" target="_blank" href="https://monalist.komikikaku.com/list/ERgn9oScLi939FCyTSGYNzfykCU7Q3pfVM">{ TagG.jp ? 'ほしいMONAリスト運営のほしいMONAリスト' : 'Hoshi-MONA List' }</a></div>
            <div class="paragraph"><a class="link" target="_blank" href="https://monalist.komikikaku.com/list/C7rFTwN9LzSgFrRB3XJioK4xw3NVdB6wTM">{ TagG.jp ? 'ほしいMONAリスト運営のほしいMONAリスト ２枚目' : 'Hoshi-MONA List 2' }</a></div>
            <div class="paragraph">{ TagG.jp ? 'こちらのアドレスにはMonapartyトークンも寄付できます' : 'You can also donate Monaparty tokens to this address' }: M8pCS86ufakMYWetAJWDv8FjF9mD9eZ3Hn</div>
            <div class="paragraph">{ TagG.jp ? '開発運営その他ぜんぶ' : 'Developer' }: <a class="link" target="_blank" href="https://twitter.com/anipopina">@anipopina<img class="inline-iconimg" width="30" height="30" src={ TagG.RELATIVE_URL_BASE + 'img/sunagimo-icon.png' } loading="lazy"></a></div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.monapartyServers = [];
    this.on('mount', async() => {
        if (TagG.MONAPARTY_ENDPOINTS) this.monapartyServers = TagG.MONAPARTY_ENDPOINTS.map(endpoint => ({ endpoint }));
        else {
            const { servers } = await Util.aGetJSON(Monaparty.defaults.serversFile, true);
            this.monapartyServers = servers;
        }
        this.update();
    });
</script>

</about-page>
