about-page {
    .section-frame {
        margin-bottom: 10px;
        padding-bottom: 6px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        border-radius: 4px;
    }
    .section-title {
        margin: 20px;
        font-size: 20px;
    }
    .paragraph {
        margin: 20px;
    }
    .service {
        display: inline-block;
        margin: 0 20px 20px 20px;
    }
    .link {
        text-decoration: none;
        color: $accentColor;
    }
    .inline-iconimg {
        display: inline-block;
        padding-left: 8px;
        vertical-align: middle;
    }
    .api-server {
        display: inline-block;
        margin-right: 12px;
    }
}
