addrs-window {
    .addrswindow-bottomfloat {
        position: fixed;
        bottom: 6px;
        left: 0;
        padding: 0 17px 0 11px;
        z-index: 2;
        line-height: 44px;
        border-radius: 0 30px 30px 0;
        font-size: 20px;
        white-space: nowrap;
        background-color: rgba($bgColor, 0.6);
        box-shadow: 0px 2px 2px rgba(black, 0.1);
        cursor: pointer;
        backdrop-filter: blur(2px);
        @supports not (backdrop-filter: blur(2px)) {
            background-color: rgba($bgColor, 0.9);
        }
        &:hover {
            color: lighten($color, 12%);
        }
        &:active {
            color: lighten($color, 20%);
        }
        .material-icons {
            vertical-align: middle;
            font-size: 22px;
        }
    }
}
.addrswindow-swalwindow {
    position: relative;
    .qrcode-frame {
        height: 30vh;
        max-height: 240px;
        margin: 20px;
    }
    .addr {
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        user-select: all;
        &.addr-bech32 {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .hashcolors {
        height: 8px;
    }
    .balances {
        margin: 20px 0 5px 0;
        .balance {
            display: inline-block;
            margin: 0 10px 20px 10px;
            .currency-unit {
                font-size: 12px;
                padding-left: 4px;
            }
        }
    }
    .prevnext-button {
        display: block;
        position: absolute;
        top: calc(15vh + 32px);
        &.prev-button {
            left: -10px;
        }
        &.next-button {
            right: -10px;
        }
    }
}
