addrbook-page {
    .centering {
        text-align: center;
        max-width: 800px;
        margin: 0 auto 40px auto;
        &.centering-inputs {
            max-width: 400px;
        }
    }
    .label-input {
        margin-bottom: 20px;
        max-width: 200px;
    }
    .addr-input {
        margin-bottom: 20px;
    }
    .addrbook-item {
        position: relative;
        margin: 10px 0;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        border-radius: 3px;
        .item-label {
            margin: 16px 40px;
        }
        .item-addr {
            text-align: center;
            background-color: #EEEEEE;
            font-family: $codeFontFamily;
            border-radius: 4px;
            padding: 6px;
            margin: 10px;
            line-height: 26px;
            .item-memo {
                border-top-style: solid;
                border-top-width: 1px;
                border-top-color: white;
                margin-top: 6px;
                padding-top: 6px;                
            }
            .material-icons {
                margin-right: 4px;
                font-size: 18px;
                vertical-align: middle;
            }
        }
        .delete-button {
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }
}
