addr-from-mpurse-page {
    .no-mpurse {
        margin: 40px auto;
        text-align: center;
    }
    .monapalette-link {
        margin: 60px auto;
        text-align: center;
    }
    .addrs-frame {
    }
}
