<addr-from-mpurse-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">account_balance_wallet</i>
        <h2 class="page-title">Wallet</h2>
        <div class="page-helpbutton-frame">
            <material-iconbutton icon="help_outline" on_click={ onClickPageHelpButton }></material-iconbutton>
        </div>
    </div>
    <div class="page-content">
        <div if={ !addrsLoaded }>
            <div class="no-mpurse">{ waitingMessage }</div>
            <div class="monapalette-link"><a href="https://monapalette.komikikaku.com/">{ TagG.jp ? 'モナパレットに移動する' : 'Go to Monapalette' }</a></div>
        </div>
        <div if={ addrsLoaded }>
            <div class="addrs-frame">
                <address-card data={ TagG.addrsData[0] }></address-card>
            </div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.onClickPageHelpButton = () => {
        myswal({
            text: (TagG.jp ? 'Mpurseのアドレスをモナパレットのインターフェイスで操作することができます。モナカードとの連携をはじめとするモナパレットの機能をMpurseのアドレスで使いたい場合にご利用ください' : 'MpurseExte enables you to use Monapalette\'s functions with your Mpurse address.'),
            buttons: {},
        });
    };
    this.on('mount', async() => {
        if (!TagG.addrsData) {
            this.waitingMessage = TagG.jp ? 'Mpurseを読み込み中...' : 'Loading Mpurse ...';
            this.update();
        }
        if (window.mpurse) aOpenMpurseAddress();
        else this.tryMpurseIntervalID = setInterval(tryMpurse, 1000);
        await Util.aSleep(3500);
        if (!window.mpurse) {
            this.waitingMessage = TagG.jp ? 'Mpurseが有効になっていません' : 'Mpurse is not enabled.';
            this.update();
        }
    });
    this.on('before-unmount', () => {
        clearInterval(this.tryMpurseIntervalID);
    });
    const tryMpurse = () => {
        if (window.mpurse) {
            clearInterval(this.tryMpurseIntervalID);
            aOpenMpurseAddress();
        }
    };
    const aOpenMpurseAddress = async() => {
        await TagG.aUpdateAddrsDataWithUI(TagG.bodySpinner);
        if (TagG.addrsData) {
            TagG.addrsData[0].label = TagG.addrsData[0].label || TagG.getDefaultAddrLabel();
            this.addrsLoaded = true;
            this.update();
        }
        TagG.aLoadAssetsExtendedInfo().then(isUpdated => { if (isUpdated) this.update() });
    };
</script>

</addr-from-mpurse-page>
