address-card {
    .theme-ajisai {
        $buttonColor: #C58ADE;
        $assetButtonColor: white;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        .stylebg-addresscard {
            border-color: #eeeaee;
            background-color: #fafafa;
        }
        .stylebg-multisend {
            border-color: #eeeaee;
        }
        .asset-frame {
            .mdc-icon-button { @include icon-button.ink-color($assetButtonColor); }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: #efa6e6; }
            &.stylebg-asset-builtinasset { background-color: #90CAE9; }
            &.stylebg-asset-own {
                background-color: #B1B0EA;
                &.stylebg-asset-cardmode-card { background-color: rgba(#8180BA, 0.5); }
            }
            &.stylebg-asset-notown {
                background-color: #d19ce8;
                &.stylebg-asset-cardmode-card { background-color: rgba(#955AAE, 0.5); }
            }
        }
        .stylebg-issuebutton { background-color: #B1B0EA; }
        .styleimage {
            &.styleimage-topleft {
                width: 400px;
                height: 400px;
                background-image: url('../img/theme/ajisai_corner_topleft.png');
            }
        }
    }
    .theme-mikan {
        $buttonColor: white;
        $assetButtonColor: #DD7000;
        $textShadow: 1px 1.5px 0 #FF8C00;
        $assetBackColor: rgba(white, 0.8);
        .stylebg-addresscard {
            background-image: url('../img/theme/mikan_bg.png');
            background-size: 332px 327px;
            border-color: transparent;
            box-shadow: 1px 1.5px 2px 1px rgba(black, 0.2) inset;
        }
        .header-frame,.dispensers-frame {
            text-shadow: $textShadow;
            .label,.address {
                color: white;
                font-weight: $boldFontWeight;
            }
            .mdc-button {
                --mdc-theme-primary: #{$buttonColor};
                font-weight: $boldFontWeight;
                text-shadow: $textShadow;
            }
            .mdc-icon-button {
                @include icon-button.ink-color($buttonColor);
                text-shadow: $textShadow;
            }
        }
        .multisend-frame {
            color: $assetButtonColor;
            font-weight: $boldFontWeight;
            .mdc-button {
                --mdc-theme-primary: #{$assetButtonColor};
                font-weight: $boldFontWeight;
            }
            .mdc-icon-button { @include icon-button.ink-color($assetButtonColor); }
        }
        .stylebg-multisend {
            background-color: $assetBackColor;
            border-color: transparent;
            box-shadow: 1px 1.5px 2px 1px rgba(black, 0.2);
        }
        .asset-frame {
            color: $assetButtonColor;
            border-radius: 3px;
            box-shadow: 1px 1.5px 2px 1px rgba(black, 0.2);
            .mdc-icon-button { @include icon-button.ink-color($assetButtonColor); }
            .asset-card-frame { border-color: transparent; }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: $assetBackColor; }
            &.stylebg-asset-builtinasset { background-color: $assetBackColor; }
            &.stylebg-asset-own { background-color: $assetBackColor; }
            &.stylebg-asset-notown { background-color: $assetBackColor; }
        }
        .stylebg-issuebutton {
            background-color: transparent;
            border-color: transparent;
        }
    }
    .theme-ptrn01 {
        $buttonColor: #222222;
        $assetBackColor: white;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        .stylebg-addresscard {
            background-image: url('../img/theme/ptrn01_bg.png');
            background-size: 190px 187px;
            border-color: $bgColor;
            box-shadow: 1px 1.5px 2px 1px rgba(black, 0.2) inset;
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend {
            background-color: $assetBackColor;
            border-color: $assetBackColor;
            box-shadow: 1px 1.5px 2px 1px rgba(black, 0.2);
        }
        .asset-frame {
            color: $buttonColor;
            border-radius: 3px;
            box-shadow: 1px 1.5px 2px 1px rgba(black, 0.2);
            .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
            .asset-info-frame {
                .asset-name,.asset-qty,.asset-id { font-weight: $basicFontWeight; }
            }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: $assetBackColor; }
            &.stylebg-asset-builtinasset { background-color: $assetBackColor; }
            &.stylebg-asset-own {
                background-color: $assetBackColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($assetBackColor, 0.8); }
            }
            &.stylebg-asset-notown {
                background-color: $assetBackColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($assetBackColor, 0.8); }
            }
        }
        .stylebg-issuebutton {
            background-color: transparent;
            border-color: transparent;
        }
    }
    .theme-grad01 {
        $buttonColor: #c0a3fc;
        $assetButtonColor: white;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-image: linear-gradient(240deg, #f6d365 0%, #fda085 100%); }
            &.stylebg-asset-builtinasset { background-image: linear-gradient(240deg, #c0a3fc 0%, #8ec5fc 100%); }
            &.stylebg-asset-own {
                background-image: linear-gradient(240deg, #ffd0c0 0%, #e9e949 100%);
                &.stylebg-asset-cardmode-card {
                    background-color: transparent;
                    background-image: linear-gradient(340deg, rgba(#ffd0c0, 0.5) 0%, #e9e949 100%);
                }
            }
            &.stylebg-asset-notown {
                background-image: linear-gradient(240deg, #cce969 0%, #90e980 100%);
                &.stylebg-asset-cardmode-card {
                    background-color: transparent;
                    background-image: linear-gradient(340deg, rgba(#cce969, 0.5) 0%, #90e980 100%);
                }
            }
        }
        .stylebg-issuebutton {
            background-image: linear-gradient(240deg, #ffd0c0 0%, #e9e949 100%);
        }
    }
    .theme-mmt01 { // @momotan011
        $buttonColor: #5968CB;
        $assetButtonColor: white;
        $styleSwitchWidth: 1000px;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame {
            padding-bottom: 400px;
            @media screen and (min-width: $styleSwitchWidth) { padding-bottom: 0; }
        }
        .stylebg-addresscard {
            background-color: #ADD3BD;
            background-image: url('../img/theme/mmt01_pattern.png');
            background-size: 132px 133px;
            background-repeat: repeat;
        }
        .header-frame,.multisend-frame {
            color: #222222;
            .label { color: #222222; }
        }
        .stylebg-multisend { border-color: #222222; }
        .assets-frame {
            @media screen and (min-width: $styleSwitchWidth) { padding-right: 280px; }
        }
        .asset-frame {
            .mdc-icon-button { @include icon-button.ink-color($assetButtonColor); }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: #F9A0E5; }
            &.stylebg-asset-builtinasset { background-color: #5968CB; }
            &.stylebg-asset-own {
                background-color: #F9C352;
                &.stylebg-asset-cardmode-card { background-color: rgba(#E9B342, 0.5); }
            }
            &.stylebg-asset-notown {
                background-color: #8484FE;
                &.stylebg-asset-cardmode-card { background-color: rgba(#8484FE, 0.5); }
            }
        }
        .stylebg-issuebutton { background-color: #F9C352; }
        .styleimage {
            &.styleimage-bottomright {
                right: 5%;
                width: 100%;
                height: 400px;
                max-width: 90%;
                max-height: 100%;
                background-image: url('../img/theme/mmt01_corner.png');
                @media screen and (min-width: $styleSwitchWidth) { right: 16px; }
            }
        }
    }
    .theme-arh01 { // @thinking_14
        $buttonColor: white;
        $assetButtonColor: #023574;
        $styleSwitchWidth: 1000px;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame {
            padding-bottom: 400px;
            @media screen and (min-width: $styleSwitchWidth) { padding-bottom: 0; }
        }
        .stylebg-addresscard {
            background-color: $assetButtonColor;
            background-image: url('../img/theme/arh01_bg.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-position: right top;
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend { border-color: $buttonColor; }
        .assets-frame {
            @media screen and (min-width: $styleSwitchWidth) { padding-right: 280px; }
        }
        .asset-frame {
            color: $assetButtonColor;
            .mdc-icon-button { @include icon-button.ink-color($assetButtonColor); }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: $buttonColor; }
            &.stylebg-asset-builtinasset { background-color: $buttonColor; }
            &.stylebg-asset-own {
                background-color: $buttonColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($buttonColor, 0.5); }
            }
            &.stylebg-asset-notown {
                background-color: $buttonColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($buttonColor, 0.5); }
            }
        }
        .stylebg-issuebutton {
            background-color: $buttonColor;
            border-color: $assetButtonColor;
        }
        .styleimage {
            &.styleimage-bottomright {
                width: 100%;
                height: 400px;
                max-width: 90%;
                max-height: 90%;
                background-image: url('../img/theme/arh01_corner.png');
            }
        }
    }
    .theme-nns01 { // @nanashino_1
        $buttonColor: #554023;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 300px; }
        .stylebg-addresscard {
            background-color: #EFD672;
            background: linear-gradient(168deg, #F5EECD 35%, rgba(#F5EECD, 0.0) 35.1%), linear-gradient(193deg, #EFD672 70%, rgba(#EFD672, 0.0) 70.03%), linear-gradient(#E8C14C, #E8C14C);
            background-attachment: fixed;
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend { border-color: $buttonColor; }
        .asset-frame {
            color: $buttonColor;
            &.asset-frame-baseasset {
                $col: #F5EECD;
                color: $col;
                .mdc-icon-button { @include icon-button.ink-color($col); }
            }
            &.asset-frame-builtinasset {
                color: $buttonColor;
                .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
            }
            &.asset-frame-own {
                $col: #A67D44;
                color: $col;
                .mdc-icon-button { @include icon-button.ink-color($col); }
            }
            &.asset-frame-notown {
                color: $buttonColor;
                .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
            }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: $buttonColor; }
            &.stylebg-asset-builtinasset { background-color: #EFD672; }
            &.stylebg-asset-own {
                background-color: #F5EECD;
                &.stylebg-asset-cardmode-card { background-color: rgba(white, 0.5); }
            }
            &.stylebg-asset-notown {
                background-color: #F5EECD;
                &.stylebg-asset-cardmode-card { background-color: rgba(white, 0.5); }
            }
        }
        .stylebg-issuebutton {
            top: 2px;
            left: 2px;
            background-color: #F5EECD;
            color: #EFD672;
            border-style: solid;
            border-width: 1px;
        }
        .styleimage {
            &.styleimage-bottomleft {
                left: 7%;
                width: 100%;
                height: 300px;
                max-width: 90%;
                max-height: 90%;
                background-image: url('../img/theme/nns01_corner_left.png');
                @media screen and (max-width: $phoneWidth) { background-image: url('../img/theme/nns01_corner.png'); }
            }
            &.styleimage-bottomright {
                right: 12%;
                width: 100%;
                height: 300px;
                max-width: 90%;
                max-height: 90%;
                background-image: url('../img/theme/nns01_corner_right.png');
                @media screen and (max-width: $phoneWidth) { background-image: none; }
            }
        }
    }
    .theme-nzt01 { // @pointsute1
        $buttonColor: white;
        $assetButtonColor: #22a5c0;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 240px; }
        .stylebg-addresscard {
            background-color: $assetButtonColor;
            @media screen and (min-width: $tabletWidth) {
                background-image: url('../img/theme/nzt01_bg.png');
                background-size: 96px auto;
                background-attachment: fixed;
                background-position: right 40px top 200px;
                background-repeat: no-repeat;
            }
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            .label,.address { color: $buttonColor }
        }
        .stylebg-multisend { border-color: $buttonColor; }
        .asset-frame {
            color: $assetButtonColor;
            .mdc-icon-button { @include icon-button.ink-color($assetButtonColor); }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: $buttonColor; }
            &.stylebg-asset-builtinasset { background-color: $buttonColor; }
            &.stylebg-asset-own {
                background-color: $buttonColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($buttonColor, 0.7); }
            }
            &.stylebg-asset-notown {
                background-color: $buttonColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($buttonColor, 0.7); }
            }
        }
        .stylebg-issuebutton {
            background-color: $buttonColor;
            border-color: $assetButtonColor;
        }
        .styleimage {
            &.styleimage-bottomleft {
                width: 100%;
                height: 200px;
                max-width: 90%;
                max-height: 90%;
                background-image: url('../img/theme/nzt01_corner_left.png');
            }
        }
    }
    .theme-ckt01 { // @chocotaro0912
        $buttonColor: white;
        $textColor: rgba(#e945ff, 0.8);
        $styleSwitchWidth: 1000px;
        .mdc-button {
            --mdc-theme-primary: #{$buttonColor};
            font-weight: $boldFontWeight;
        }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame {
            padding-bottom: 400px;
            @media screen and (min-width: $styleSwitchWidth) { padding-bottom: 0; }
        }
        .stylebg-addresscard {
            background-color: #011e42;
            background-image: url('../img/theme/ckt01_bg.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-position: left top;
        }
        .header-frame,.multisend-frame {
            color: $textColor;
            font-weight: $boldFontWeight;
            .label,.address { color: $textColor; }
        }
        .stylebg-multisend { border-color: $textColor; }
        .assets-frame {
            @media screen and (min-width: $styleSwitchWidth) { padding-right: 280px; }
        }
        .asset-frame {
            color: $buttonColor;
            .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: rgba(#ab45ff, 0.5); }
            &.stylebg-asset-builtinasset { background-color: rgba(#6d45ff, 0.5); }
            &.stylebg-asset-own { background-color: rgba(#455bff, 0.5); }
            &.stylebg-asset-notown { background-color: rgba(#4499FF, 0.5); }
        }
        .stylebg-issuebutton {
            background-color: transparent;
            border-color: #011e42;
        }
        .styleimage {
            &.styleimage-bottomright {
                bottom: 8px;
                width: 100%;
                height: 400px;
                max-width: 90%;
                max-height: 90%;
                background-image: url('../img/theme/ckt01_corner.png');
            }
        }
    }
    .theme-yag01 { // @yamanouenoyagi
        $buttonColor: #00e6ff;
        $assetButtonColor: white;
        $styleSwitchWidth: 1000px;
        .mdc-button {
            --mdc-theme-primary: #{$buttonColor};
            font-weight: $boldFontWeight;
        }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame {
            padding-bottom: 400px;
            @media screen and (min-width: $styleSwitchWidth) { padding-bottom: 0; }
        }
        .stylebg-addresscard {
            background-color: #bcf8fe;
            background: linear-gradient(#ffffff, #bcf8fe);
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            font-weight: $boldFontWeight;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend { border-color: $buttonColor; }
        .assets-frame {
            @media screen and (min-width: $styleSwitchWidth) { padding-right: 260px; }
        }
        .asset-frame {
            .mdc-icon-button { @include icon-button.ink-color($assetButtonColor); }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: #ff47c8; }
            &.stylebg-asset-builtinasset { background-color: #2e7eef; }
            &.stylebg-asset-own {
                background-color: #f7cc0b;
                &.stylebg-asset-cardmode-card { background-color: rgba(#f7cc0b, 0.5); }
            }
            &.stylebg-asset-notown {
                background-color: #00f560;
                &.stylebg-asset-cardmode-card { background-color: rgba(#00f560, 0.5); }
            }
        }
        .stylebg-issuebutton { background-color: #f7cc0b; }
        .styleimage {
            &.styleimage-bottomright {
                width: 100%;
                height: 500px;
                max-width: 90%;
                max-height: 100%;
                background-image: url('../img/theme/yag01_corner.png');
                @media screen and (max-width: $styleSwitchWidth) { bottom: -20px; }
            }
        }
    }
    .theme-yag02 { // @yamanouenoyagi
        $buttonColor: #444444;
        $assetBackgroundColor: white;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 400px; }
        .stylebg-addresscard {
            background-color: #eaffff;
            background-image: url('../img/theme/yag02_bg.png');
            background-size: cover;
            background-attachment: fixed;
            background-position: right top;
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend { border-color: $buttonColor; }
        .asset-frame {
            color: $buttonColor;
            .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: $assetBackgroundColor; }
            &.stylebg-asset-builtinasset { background-color: $assetBackgroundColor; }
            &.stylebg-asset-own {
                background-color: $assetBackgroundColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($assetBackgroundColor, 0.5); }
            }
            &.stylebg-asset-notown {
                background-color: $assetBackgroundColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($assetBackgroundColor, 0.5); }
            }
        }
        .stylebg-issuebutton {
            background-color: transparent;
            border-color: transparent;
        }
        .styleimage {
            &.styleimage-topleft {
                top: unset;
                bottom: 0;
                width: 100%;
                height: 500px;
                background: linear-gradient(rgba(white, 0.0), white);
            }
            &.styleimage-bottomleft {
                width: 100%;
                height: 600px;
                max-width: 36%;
                max-height: 100%;
                background-image: url('../img/theme/yag02_corner_left.png');
            }
            &.styleimage-bottomright {
                width: 100%;
                height: 600px;
                max-width: 71%;
                max-height: 100%;
                background-image: url('../img/theme/yag02_corner_right.png');
            }
        }
    }
    .theme-rkg01 { // @rkgk_ac
        $buttonColor: #512F23;
        .mdc-button {
            --mdc-theme-primary: #{$buttonColor};
            font-weight: $boldFontWeight;
        }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 280px; }
        .stylebg-addresscard {
            background-color: #FFFAF5;
            background-image: url('../img/theme/rkg01_pattern.png');
            background-size: 512px 396px;
            background-repeat: repeat;
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            font-weight: $boldFontWeight;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend { border-color: $buttonColor; }
        .asset-frame {
            color: $buttonColor;
            .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        }
        .stylebg-asset {
            &.stylebg-asset-baseasset { background-color: #F9E0E4; }
            &.stylebg-asset-builtinasset { background-color: #C7E3E9; }
            &.stylebg-asset-own {
                background-color: #FAF5C5;
                &.stylebg-asset-cardmode-card { background-color: rgba(#FAF5C5, 0.8); }
            }
            &.stylebg-asset-notown {
                background-color: #C6E3E1;
                &.stylebg-asset-cardmode-card { background-color: rgba(#C6E3E1, 0.8); }
            }
        }
        .stylebg-issuebutton {
            background-color: #FAF5C5;
            border-color: #FFFAF5;
        }
        .styleimage {
            &.styleimage-bottomright {
                right: -40px;
                width: 100%;
                min-width: 400px;
                height: 280px;
                background-image: url('../img/theme/rkg01_corner.png');
            }
        }
    }
    .theme-kdm01 { // @kedamany
        $buttonColor: #8E89F9;
        $baseColor: white;
        $assetColor1: #f89bb0;
        $assetColor2: #6ed8e9;
        $assetColor3: #f8cd6a;
        $assetColor4: #73db92;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 270px; }
        .stylebg-addresscard {
            border-color: $buttonColor;
            background-color: $baseColor;
            background-image: radial-gradient(#EAFAFF 25%, transparent 25%), radial-gradient(#EAFAFF 25%, transparent 25%);
            background-size: 80px 80px;
            background-position: 0 0, 40px 40px;
            background-attachment: fixed;
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend { border-color: $buttonColor; }
        .asset-frame {
            .asset-info-frame {
                .asset-name,.asset-qty,.asset-id { font-weight: $basicFontWeight; }
            }
            .asset-card-frame { border-color: unset; } // colorが反映されるようになる
            &.asset-frame-baseasset {
                color: $assetColor1;
                .mdc-icon-button { @include icon-button.ink-color($assetColor1); }
            }
            &.asset-frame-builtinasset {
                color: $assetColor2;
                .mdc-icon-button { @include icon-button.ink-color($assetColor2); }
            }
            &.asset-frame-own {
                color: $assetColor3;
                .mdc-icon-button { @include icon-button.ink-color($assetColor3); }
            }
            &.asset-frame-notown {
                color: $assetColor4;
                .mdc-icon-button { @include icon-button.ink-color($assetColor4); }
            }
        }
        .stylebg-asset {
            border-style: solid;
            border-width: 1px;
            &.stylebg-asset-baseasset {
                background-color: $baseColor;
                border-color: $assetColor1;
            }
            &.stylebg-asset-builtinasset {
                background-color: $baseColor;
                border-color: $assetColor2;
            }
            &.stylebg-asset-own {
                background-color: $baseColor;
                border-color: $assetColor3;
                &.stylebg-asset-cardmode-card { background-color: rgba($baseColor, 0.8); }
            }
            &.stylebg-asset-notown {
                background-color: $baseColor;
                border-color: $assetColor4;
                &.stylebg-asset-cardmode-card { background-color: rgba($baseColor, 0.8); }
            }
        }
        .issueassetbutton-frame {
            .mdc-icon-button { @include icon-button.ink-color($assetColor3); }
        }
        .stylebg-issuebutton {
            background-color: transparent;
            border-color: transparent;
        }
        .styleimage {
            &.styleimage-bottomright {
                width: 132%;
                height: 270px;
                min-width: 460px;
                background-image: url('../img/theme/kdm01_corner.png');
            }
        }
    }
    .theme-nmm01 { // @nempoint
        $buttonColor: #13958b;
        $assetBackgroundColor: white;
        .mdc-button {
            --mdc-theme-primary: #{$buttonColor};
            font-weight: $boldFontWeight;
        }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 260px; }
        .stylebg-addresscard {
            border-style: dashed;
            border-color: $buttonColor;
            background-color: #eefaf9;
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            font-weight: $boldFontWeight;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend {
            border-style: dashed;
            border-color: $buttonColor;
        }
        .asset-frame {
            color: $buttonColor;
            .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
            .asset-card-frame {
                border-style: dashed;
                border-color: unset; // colorが反映されるようになる
            }
        }
        .stylebg-asset {
            border-style: dashed;
            border-width: 1px;
            border-color: $buttonColor;
            &.stylebg-asset-baseasset { background-color: $assetBackgroundColor; }
            &.stylebg-asset-builtinasset { background-color: $assetBackgroundColor; }
            &.stylebg-asset-own {
                background-color: $assetBackgroundColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($assetBackgroundColor, 0.5); }
            }
            &.stylebg-asset-notown {
                background-color: $assetBackgroundColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($assetBackgroundColor, 0.5); }
            }
        }
        .stylebg-issuebutton {
            top: 2px;
            left: 2px;
            background-color: transparent;
            border-style: dashed none none dashed;
            border-width: 1px;
            border-color: $buttonColor;
        }
        .styleimage {
            &.styleimage-bottomleft {
                width: 100%;
                height: 800px;
                max-height: 80%;
                background-image: linear-gradient(to top, #13958b 0%, #2dbdb3 50%, #eefaf9 100%);
            }
            &.styleimage-bottomright {
                bottom: 10px;
                right: -200px;
                width: 100%;
                height: 140px;
                background-image: url('../img/theme/nmm01_corner.png');
                animation: roomba 10s linear 0s infinite alternate none running;
            }
        }
        @keyframes roomba {
            0% { bottom: 10px; right: -120px; }
            20% { bottom: 120px; right: 10%; }
            40% { bottom: 10px; right: 30%; }
            60% { bottom: 120px; right: 52%; }
            80% { bottom: 10px; right: 75%; }
            100% { bottom: 120px; right: 102%; }
        }
    }
    .theme-gem01 { // @GemBoxWork
        $buttonColor: white;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 330px; }
        .stylebg-addresscard {
            background-color: black;
            background-image: url('../img/theme/gem01_bg.png');
            background-size: 384px 384px;
            background-repeat: repeat;
            background-attachment: fixed;
        }
        .header-frame,.dispensers-frame,.multisend-frame {
            color: $buttonColor;
            font-weight: $boldFontWeight;
            .label,.address {
                color: $buttonColor;
                font-weight: $boldFontWeight;
            }
            .mdc-button { font-weight: $boldFontWeight; }
        }
        .stylebg-multisend {
            border-color: $buttonColor;
            border-width: 2px;
        }
        .asset-frame {
            color: $buttonColor;
            .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
            .asset-card-frame {
                border-width: 2px;
                border-color: $buttonColor;
            }
        }
        .stylebg-asset {
            border-style: solid;
            border-width: 2px;
            &.stylebg-asset-baseasset { background-color: rgba(#FF00FF, 0.7); }
            &.stylebg-asset-builtinasset { background-color: rgba(#FF00FF, 0.7); }
            &.stylebg-asset-own {
                background-color: rgba(#FFFF00, 0.7);
                &.stylebg-asset-cardmode-card { background-color: rgba(#FFFF00, 0.7); }
            }
            &.stylebg-asset-notown {
                background-color: rgba(#00FFFF, 0.7);
                &.stylebg-asset-cardmode-card { background-color: rgba(#00FFFF, 0.7); }
            }
        }
        .stylebg-issuebutton {
            background-color: transparent;
            border-color: transparent;
        }
        .styleimage {
            &.styleimage-bottomleft {
                width: 100%;
                height: 89px;
                background-image: url('../img/theme/gem01_pattern.png');
                background-repeat: repeat-x;
            }
            &.styleimage-bottomright {
                bottom: 60px;
                right: 10%;
                width: 80%;
                height: 261px;
                background-image: url('../img/theme/gem01_corner.png');
            }
        }
    }
    .theme-gem02 { // @GemBoxWork
        $buttonColor: #666666;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 320px; }
        .stylebg-addresscard {
            background-color: white;
            background-image: url('../img/theme/gem02_bg.png');
            background-size: 165px 165px;
            background-repeat: repeat;
            background-attachment: fixed;
        }
        .header-frame,.dispensers-frame,.multisend-frame {
            color: $buttonColor;
            font-weight: $boldFontWeight;
            .label,.address {
                color: $buttonColor;
                font-weight: $boldFontWeight;
            }
            .mdc-button { font-weight: $boldFontWeight; }
        }
        .stylebg-multisend {
            border-color: $buttonColor;
        }
        .asset-frame {
            &.asset-frame-baseasset {
                $col: #94a4ff;
                color: $col;
                .mdc-icon-button { @include icon-button.ink-color($col); }
            }
            &.asset-frame-builtinasset {
                $col: #94a4ff;
                color: $col;
                .mdc-icon-button { @include icon-button.ink-color($col); }
            }
            &.asset-frame-own {
                $col: #f8c455;
                color: $col;
                .mdc-icon-button { @include icon-button.ink-color($col); }
            }
            &.asset-frame-notown {
                $col: #e39cfd;
                color: $col;
                .mdc-icon-button { @include icon-button.ink-color($col); }
            }
        }
        .stylebg-asset {
            border-style: solid;
            border-width: 1px;
            &.stylebg-asset-baseasset {
                border-color: #94a4ff;
                background-color: rgba(white, 0.6);
            }
            &.stylebg-asset-builtinasset {
                border-color: #94a4ff;
                background-color: rgba(white, 0.6);
            }
            &.stylebg-asset-own {
                border-color: #f8c455;
                background-color: rgba(white, 0.6);
                &.stylebg-asset-cardmode-card { background-color: rgba(white, 0.9); }
            }
            &.stylebg-asset-notown {
                border-color: #e39cfd;
                background-color: rgba(white, 0.6);
                &.stylebg-asset-cardmode-card { background-color: rgba(white, 0.9); }
            }
        }
        .stylebg-issuebutton {
            top: 2px;
            left: 2px;
            background-color: transparent;
            border-width: 1px;
        }
        .styleimage {
            &.styleimage-bottomright {
                bottom: 64px;
                left: 8%;
                width: 84%;
                height: 214px;
                background-image: url('../img/theme/gem02_corner.png');
                background-position: center;
            }
        }
    }
    .theme-hms01 { // @hamasmi
        $buttonColor: white;
        $assetBackgroundColor: #1c1f2e;
        .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        &.address-card-frame { padding-bottom: 300px; }
        .stylebg-addresscard {
            border-color: $buttonColor;
            background-color: $assetBackgroundColor;
        }
        .header-frame,.multisend-frame {
            color: $buttonColor;
            .label,.address { color: $buttonColor; }
        }
        .stylebg-multisend { border-color: $buttonColor; }
        .asset-frame {
            color: $buttonColor;
            .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
            .asset-info-frame {
                .asset-name,.asset-qty,.asset-id { font-weight: $basicFontWeight; }
            }
            .asset-card-frame {
                &.asset-card-frame-square { background-color: $assetBackgroundColor; }
            }
        }
        .stylebg-asset {
            border-style: solid;
            border-width: 1px;
            border-color: $buttonColor;
            &.stylebg-asset-baseasset { background-color: $assetBackgroundColor; }
            &.stylebg-asset-builtinasset { background-color: $assetBackgroundColor; }
            &.stylebg-asset-own {
                background-color: $assetBackgroundColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($assetBackgroundColor, 0.5); }
            }
            &.stylebg-asset-notown {
                background-color: $assetBackgroundColor;
                &.stylebg-asset-cardmode-card { background-color: rgba($assetBackgroundColor, 0.5); }
            }
        }
        .stylebg-issuebutton {
            background-color: transparent;
            border-color: transparent;
        }
        .styleimage {
            &.styleimage-bottomleft {
                bottom: 40px;
                width: 40%;
                height: 200px;
                background-image: url('../img/theme/hms01_corner_left.png');
            }
            &.styleimage-bottomright {
                right: 3%;
                width: 57%;
                height: 340px;
                background-image: url('../img/theme/hms01_corner_right.png');
                @media screen and (min-width: 720px) { background-image: url('../img/theme/hms01_corner_right_far.png'); }
            }
        }
    }
    // .theme-skeleton {
        // $buttonColor: #C58ADE;
        // $assetButtonColor: white;
        // $styleSwitchWidth: 1000px;
        // .mdc-button { --mdc-theme-primary: #{$buttonColor}; }
        // .mdc-icon-button { @include icon-button.ink-color($buttonColor); }
        // &.address-card-frame {}
        // .stylebg-addresscard {}
        // .header-frame,.multisend-frame {
        //     color: $buttonColor;
        //     .label,.address { color: $buttonColor; }
        // }
        // .stylebg-multisend { border-color: $buttonColor; }
        // .assets-frame {
        //     @media screen and (min-width: $styleSwitchWidth) { padding-right: 280px; }
        // }
        // .asset-frame {
        //     color: $assetButtonColor;
        //     .mdc-icon-button { @include icon-button.ink-color($assetButtonColor); }
        // }
        // .stylebg-asset {
        //     &.stylebg-asset-baseasset { background-color: #90CAE9; }
        //     &.stylebg-asset-builtinasset { background-color: #90CAE9; }
        //     &.stylebg-asset-own {
        //         background-color: #B1B0EA;
        //         &.stylebg-asset-cardmode-card { background-color: rgba(#8180BA, 0.5); }
        //     }
        //     &.stylebg-asset-notown {
        //         background-color: #C58ADE;
        //         &.stylebg-asset-cardmode-card { background-color: rgba(#955AAE, 0.5); }
        //     }
        // }
        // .issueassetbutton-frame {}
        // .stylebg-issuebutton { background-color: #B1B0EA; }
        // .styleimage {
        //     &.styleimage-topleft {}
        //     &.styleimage-topright {}
        //     &.styleimage-bottomleft {}
        //     &.styleimage-bottomright {}
        // }
    // }
    .theme-sample { // for test
    }
}
