address-card {
    div {
        position: relative;
    }
    .address-card-frame {
        margin: 0 0 8px 0;
        padding: 1px;
    }
    .header-frame {
        .label {
            margin: 0 180px 9px 16px;
            padding: 16px 0 0 0;
            font-size: 16px;
            line-height: 23px;
            text-align: left;
            color: $quietColor;
        }
        .address {
            font-size: 20px;
            margin: 10px 12px 4px 16px;
            text-align: left;
            user-select: all;
        }
        .hashcolors {
            width: 80px;
            height: 8px;
            margin: 0 12px 20px 16px;
        }
    }
    .dispensers-frame {
        margin: -6px 0 0 12px;
        .dispenser-alert {
            margin: 10px 12px 4px 4px;
            font-size: 12px;
            font-weight: $boldFontWeight;
            color: tomato;
        }
        .dispenser {
            display: inline-block;
            margin: 0 12px 12px 0;
        }
    }
    .multisend-frame {
        margin: 0 12px 12px 12px;
        padding: 7px;
        .multisend-item {
            .multisend-iteminfo {
                line-height: 24px;
                padding: 12px 48px 12px 6px;
                .multisend-addr {
                    display: inline-block;
                }
                .multisend-colorbar {
                    position: relative;
                    color: transparent;
                    display: inline-block;
                    letter-spacing: -8px;
                    width: 80px;
                }
            }
            .multisend-deletebutton {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .multisend-memo {
            line-height: 24px;
            padding: 12px 6px;
        }
        .multisend-sendbutton {
            margin-top: 6px;
        }
    }
    .builtinassets-frame {
        margin: 0 12px 12px 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
    }
    .assets-frame {
        margin: 12px 12px 0 12px;
        padding-bottom: 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
    }
    .asset-frame {
        box-sizing: border-box;
        margin: 0;
        width: calc(100vw - 46px);
        min-height: 100px;
        color: white;
        text-align: left;
        overflow: hidden;
        content-visibility: auto;
        &.cardmode {
            min-height: calc((100vw - 46px) * 1.424);
        }
        @media screen and (min-width: $tabletWidth) {
            width: 322px;
            &.cardmode {
                min-height: calc(322px * 1.424);
            }
        }
    }
    .asset-info-frame {
        box-sizing: border-box;
        width: 100%;
        min-height: 100px;
        padding: 10px 44px 10px 12px;
        &.cardmode {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .asset-card-frame {
        box-sizing: border-box;
        min-height: 300px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
        }
        &.asset-card-frame-square {
            background-color: rgba(255,255,255,0.6);
            padding: 50% 14% 20% 14%;
            img {
                border-radius: 3px;
            }
        }
    }
    .asset-icon {
        margin-right: 6px;
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
    .asset-name {
        font-weight: $boldFontWeight;
        font-size: 20px;
    }
    .asset-id {
        font-size: 12px;
        margin-bottom: 2px;
        font-weight: $boldFontWeight;
    }
    .asset-qty {
        font-weight: $boldFontWeight;
        font-size: 18px;
        .material-icons {
            vertical-align: middle;
            font-size: 22px;
        }
    }
    .asset-issued {
        font-size: 16px;
        .material-icons {
            margin-left: 2px;
            vertical-align: middle;
            font-size: 20px;
        }
    }
    .asset-contentsicon {
        .material-icons {
            margin: 2px 6px 0 0;
            vertical-align: middle;
            font-size: 20px;
        }
    }
    .toprightbutton-frame {
        position: absolute;
        top: 0;
        right: 0;
        &.trb-lower {
            top: 48px;
        }
        &.trb-left {
            right: 48px;
        }
        &.trb-leftleft {
            right: 96px;
        }
        &.trb-leftleftleft {
            right: 144px;
        }
    }
    .issueassetbutton-frame {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 2px 0 0 2px;
    }
    .stylebg-addresscard {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        border-color: #dddddd;
        background-color: white;
        .stylebg-addresscard-inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }
    }
    .styleimage {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
        &.styleimage-topleft {
            top: 0;
            left: 0;
            background-position: left top;
        }
        &.styleimage-topright {
            top: 0;
            right: 0;
            background-position: right top;
        }
        &.styleimage-bottomleft {
            bottom: 0;
            left: 0;
            background-position: left bottom;
        }
        &.styleimage-bottomright {
            bottom: 0;
            right: 0;
            background-position: right bottom;
        }
    }
    .stylebg-multisend {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-style: solid;
        border-width: 1px;
        border-color: #DDDDDD;
        border-radius: 3px;
    }
    .stylebg-asset {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3px;
        &.stylebg-asset-baseasset { background-color: #cc7eb1; }
        &.stylebg-asset-builtinasset { background-color: #7e8acc; }
        &.stylebg-asset-own { background-color: #ccc07e; }
        &.stylebg-asset-notown { background-color: #7ecc9a; }
        &.stylebg-asset-cardmode {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        &.stylebg-asset-cardmode-card { background-color: rgba(black, 0.7); }
    }
    .stylebg-issuebutton {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc07e;
        border-style: solid none none solid;
        border-width: 2px;
        border-radius: 4px 0 2px 0;
    }
}

.address-card-swalwindow {
    .assetamount-input {
        min-width: 160px;
        max-width: 220px;
        width: 70%;
    }
    .baseamount-input {
        min-width: 160px;
        max-width: 170px;
        width: 50%;
    }
    .chip-item {
        display: inline-block;
        margin: 3px;
    }
    .input-clearbutton-frame {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    &.addrdetail-swalwindow {
        .qrcode-frame {
            height: 30vh;
            max-height: 240px;
            margin: 20px;
        }
        .addr {
            text-align: center;
            font-size: 18px;
            line-height: 26px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            user-select: all;
            &.addr-bech32 {
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .hashcolors {
            height: 8px;
        }
    }
    &.addrsweep-swalwindow {
        .mode-radiobuttons {
            max-width: 276px;
            text-align: left;
            margin: 0 auto;
            padding-left: 14px;
        }
    }
    &.assetdetail-swalwindow {
        .asset-icon {
            margin-right: 8px;
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
        .img-frame {
            img {
                display: inline-block;
                box-sizing: border-box;
                width: 100%;
                max-width: 360px;
                border-style: solid;
                border-width: 1px;
                border-color: #FAFAFA;
                border-radius: 3px;
                vertical-align: middle;
                &.square {
                    max-width: 320px;
                }
            }
        }
        .attrs {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 14px;
            .attr {
                padding: 4px 8px;
                border-style: solid;
                border-width: 1px;
                border-radius: 3px;
                border-color: $quietColor;
                text-align: left;
                .attr-name {
                    font-size: 76%;
                    color: $quietColor;
                }
                .attr-value {
                    text-align: left;
                }
            }
        }
        .treasure-item {
            margin-bottom: 20px;
            .treasure-imgframe {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                img {
                    display: inline-block;
                    width: 100px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #EEEEEE;
                    border-radius: 3px;
                    vertical-align: middle;
                    cursor: pointer;
                }
                .treasure-lockoverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(white, 0.5);
                }
                .treasure-lockicon {
                    position: absolute;
                    display: block;
                    top: 6px;
                    left: 6px;
                    font-size: 28px;
                }
            }
            .treasure-texts {
                display: inline-block;
                margin: 0 10px;
                width: 180px;
                vertical-align: middle;
                .treasure-amount {
                    margin-bottom: 6px;
                    text-align: left;
                }
                .treasure-memo {
                    text-align: left;
                }
            }
        }
    }
    &.assetissuefix-swalwindow {
        .mode-radiobuttons {
            max-width: 248px;
            text-align: left;
            margin: 0 auto;
            padding-left: 14px;
        }
        .assetname-input {
            max-width: 220px;
            width: 100%;
        }
        .numericassetname-input {
            max-width: 250px;
            width: 100%;
        }
        .groupname-input {
            max-width: 250px;
            width: 100%;
        }
        .subassetname-select {
            max-width: 44%;
        }
        .subassetname-input {
            max-width: 220px;
            width: 50%;
        }
        .attrname-input {
            width: 35%;
        }
        .attrvalue-input {
            width: 62%;
        }
        .checkboxes {
            width: 200px;
            display: inline-block;
            text-align: left;
            padding-left: 28px;
        }
    }
    &.spin-swalwindow {
        height: 200px;
    }
}
