<addrs-window>
<div if={ TagG.firstAddrLabel } class="addrswindow-bottomfloat" onclick={ onClickFloat }><i class="material-icons">{ TagG.isReadOnlyMode ? 'lock' : 'account_balance_wallet' }</i>&ensp;{ TagG.firstAddrLabel }</div>
<div ref="swalwindows_container" show={ false }>
    <div ref="addrs_window" class="addrswindow-swalwindow">
        <div class="title">{ label }</div>
        <div class="qrcode-frame"><util-qrcode ref="addr_qrcode"></util-qrcode></div>
        <div class="basic addr { addr-bech32: addrType === ADDR_TYPE.P2WPKH }">{ address }</div>
        <div class="basic hashcolors"><util-hashcolors seed_value={ address }></util-hashcolors></div>
        <div class="balances">
            <div class="balance">{ baseAmountStr }<span class="currency-unit">{ TagG.BASECHAIN_ASSET }</span></div>
            <div class="balance">{ builtinAmountStr }<span class="currency-unit">{ TagG.BUILTIN_ASSET }</span></div>
        </div>
        <div class="section"><div class="bottombutton-frame">
            <material-button label={ TagG.BASECHAIN_ASSET + ' NW' } icon="search" is_link="true" link_href={ baseExplorerURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button label="MPCHAIN" icon="search" is_link="true" link_href={ monapartyExplorerURL } link_target="_blank" reload_opts="true"></material-button>
        </div></div>
        <div class="prevnext-button prev-button"><material-iconbutton icon="navigate_before" on_click={ onClickPrevButton }></material-iconbutton></div>
        <div class="prevnext-button next-button"><material-iconbutton icon="navigate_next" on_click={ onClickNextButton }></material-iconbutton></div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.ADDR_TYPE = ADDR_TYPE;
    this.onClickFloat = () => {
        if (!TagG.addrsData) return;
        setIndex(0);
        Util.aOpenContentSwal(this.refs.addrs_window);
    };
    this.onClickPrevButton = () => {
        const addrNum = TagG.addrsDataMaxIndex + 1;
        const newIndex = (this.index + addrNum - 1) % addrNum;
        setIndex(newIndex);
    };
    this.onClickNextButton = () => {
        const addrNum = TagG.addrsDataMaxIndex + 1;
        const newIndex = (this.index + 1) % addrNum;
        setIndex(newIndex);
    };
    this.on('mount', async() => {
        const container = this.refs.swalwindows_container;
        while (container && container.firstChild) container.removeChild(container.firstChild);
    });
    const setIndex = (index) => {
        const addrData = TagG.addrsData[index];
        this.index = index;
        this.label = addrData.label || TagG.getDefaultAddrLabel(index);
        this.address = addrData.address;
        this.addrType = addrData.addrType;
        this.baseAmountStr = Util.commafy(TagG.qty2amount(addrData.baseSat, true));
        if (addrData.baseUnconfSat) this.baseAmountStr += `(+${Util.commafy(TagG.qty2amount(addrData.baseUnconfSat, true))})`;
        this.builtinAmountStr = Util.commafy(TagG.qty2amount(addrData.builtinSat, true));
        this.baseExplorerURL = TagG.ADDR_EXPLORERURL_FORMAT.replace('{ADDR}', this.address);
        this.monapartyExplorerURL = TagG.ADDR_PARTYEXPURL_FORMAT.replace('{ADDR}', this.address);
        this.refs.addr_qrcode.setValue(this.address);
        this.update();
    };
</script>

</addrs-window>
