<addrbook-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">book</i>
        <h2 class="page-title">{ TagG.jp ? 'アドレス帳' : 'Address Book' }</h2>
        <div class="page-helpbutton-frame"><material-iconbutton icon="help_outline" on_click={ onClickPageHelpButton }></material-iconbutton></div>
    </div>
    <div class="page-content">
        <div class="inputs">
            <div class="centering centering-inputs">
                <div class="label-input"><material-textfield ref="label_input" hint="Label"></material-textfield></div>
                <div class="addr-input"><material-textfield ref="addr_input" hint="Address" pattern={ TagG.ADDR_PATTERN } invalid_message="Invalid Format"></material-textfield></div>
                <div class="memo-input"><material-textfield ref="memo_input" hint={ TagG.jp ? 'Text Memo (34バイトまで)' : 'Text Memo (up to 34 bytes)' } helper={ TagG.jp ? '設定しておくとアドレス選択時にメモも併せて入力されます' : 'Memo will be entered together with the address selection.' } is_helper_persistent="true"></material-textfield></div>
            </div>
            <div class="centering">
                <material-button label="ADD" icon="add" is_unelevated="true" on_click={ onClickAddButton }></material-button>
            </div>
        </div>
        <div class="centering">
            <div each={ addrbook } class="addrbook-item">
                <div class="item-label">{ label }</div>
                <div class="item-addr">
                    <div>{ address }</div>
                    <div if={ memo } class="item-memo"><i class="material-icons">text_snippet</i>{ memo }</div>
                </div>
                <div class="delete-button"><material-iconbutton icon="delete" on_click={ onClickDeleteButton }></material-iconbutton></div>
            </div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.addrbook = [];
    this.onClickPageHelpButton = () => {
        myswal({
            text: (TagG.jp ? 'よく使うアドレスを登録しておくと送信時にワンタッチで入力できるようになります。トークンを送るときのメモも併せて保存できるので、モナパちゃんのアドレスなどを保存しておくと便利です' : 'Saving frequently used addresses to the address book, you will be able to enter them with a single touch when sending. You can save memos as well, so it\'s useful to save Monapachan\'s address.'),
            buttons: {},
        });
    };
    this.onClickAddButton = () => {
        const label = this.refs.label_input.getValue();
        const address = this.refs.addr_input.getValue();
        const memo = this.refs.memo_input.getValue();
        if (!label || !address) return;
        const existIndex = TagG.addrbook.findIndex(item => (item.label === label));
        if (existIndex !== -1) TagG.addrbook.splice(existIndex, 1);
        TagG.addrbook.push({ label, address, memo: memo || undefined });
        Util.saveStorage(TagG.STORAGEKEY_ADDRBOOK, TagG.addrbook);
        updateItems();
    };
    this.on('mount', () => {
        updateItems();
    });
    const updateItems = () => {
        const addrbook = [];
        for (const item of TagG.addrbook) {
            const onClickDeleteButton = () => {
                const label = item.label;
                const index = TagG.addrbook.findIndex(item => (item.label === label));
                if (index !== -1) TagG.addrbook.splice(index, 1);
                Util.saveStorage(TagG.STORAGEKEY_ADDRBOOK, TagG.addrbook);
                updateItems();
            };
            addrbook.push({ ...item, onClickDeleteButton });
        }
        this.addrbook = addrbook;
        this.update();
    };
</script>

</addrbook-page>
