<appconnect-sample>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">science</i>
        <h2 class="page-title">AppConnect Attacks</h2>
    </div>
    <div class="page-content">
        <div class="section-frame">
            <div class="paragraph">
                <span if={ TagG.jp }>AppConnectではモナパレット内に別のサイトを表示しています。悪意のあるサイトに接続してしまうと以下のような攻撃を受ける可能性があるので注意しましょう。</span>
                <span if={ !TagG.jp }>AppConnect shows another site in the Monapalette. Be aware that if you connect to a malicious site, you may be subject to the following attacks.</span>
            </div>
        </div>
        <div class="section-frame">
            <div class="section-title">{ TagG.jp ? '攻撃例 1' : 'Attack Example 1' }</div>
            <div class="paragraph">
                <span if={ TagG.jp }>このボタンを押すとアプリがモナパレットを装って秘密の情報を入力させようとします。ウィンドウがアプリ内のものか、外側のモナパレットのものかをよく確認しましょう。悪意のないアプリからはニーモニックや秘密鍵、モナパレット用のパスワードの入力を求められることは絶対にありません。</span>
                <span if={ !TagG.jp }>When you press this button, the app will pose as Monapalette and try to get you to enter secret information. Check carefully whether the window is from within the app or from the outer Monapalette. A non-malicious app will never ask you to enter a mnemonic, private key, or password for Monapalette.</span>
            </div>
            <div class="paragraph"><material-button label="ATTACK1" icon="new_releases" is_unelevated="true" on_click={ onClickAttack1Button }></material-button></div>
        </div>
        <div class="section-frame">
            <div class="section-title">{ TagG.jp ? '攻撃例 2' : 'Attack Example 2' }</div>
            <div class="paragraph">
                <span if={ TagG.jp }>このボタンを押すとアプリがブラウザ組み込みのダイアログを使って秘密の情報を入力させようとします。モナパレットではブラウザ組み込みのダイアログを使ってニーモニックや秘密鍵、パスワードの入力を求めることは絶対にありません。</span>
                <span if={ !TagG.jp }>When you press this button, the app will try to ask you to enter your secret information using the browser built-in dialog. Monapalette will never ask you to enter mnemonics, private keys, or passwords using the browser built-in dialog.</span>
            </div>
            <div class="paragraph"><material-button label="ATTACK2" icon="new_releases" is_unelevated="true" on_click={ onClickAttack2Button }></material-button></div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.onClickAttack1Button = () => {
        const swalContent = TagG.swalContents.getPasswordWin({
            title: (TagG.jp ? 'モナパレットみたいなダイアログ' : 'Dialog disguised as the Monapalette\'s dialog'),
            text: (TagG.jp ? 'ここにヒミツの情報を入力することー！' : 'Enter your secret information.'),
        });
        Util.aOpenContentSwal(swalContent);
    };
    this.onClickAttack2Button = () => {
        window.prompt(TagG.jp ? 'ここにヒミツの情報を入力することー！' : 'Enter your secret information.')
    };
</script>

</appconnect-sample>
