appconnect-sample {
    .app-page {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #EEEEEE;
        z-index: 3;
        overflow: auto;
        .page-header {
            margin-top: 20px;
        }
    }
    .section-frame {
        margin-bottom: 10px;
        padding-bottom: 6px;
    }
    .section-title {
        margin: 20px;
        font-size: 20px;
    }
    .paragraph {
        margin: 20px;
    }
}
