appconnect-page {
    .app-page {
        .page-content {
            padding: 0;
        }
        &.connecting {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bgColor;
            z-index: 3;
            .page-header {
                .page-icon {
                    left: 12px;
                }
            }
            .page-title {
                padding-left: 46px;
            }
            .page-helpbutton-frame {
                right: 3px;
            }
        }
    }
    .connect-frame {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        .nologin-message {
            padding: 40px 20px;
            color: $quietColor;
            text-align: center;
        }
        .connectselect-frame {
            padding-bottom: 80px;
        }
        .app-list {
            position: relative;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            .app-list-item {
                position: relative;
                max-width: 300px;
                background-color: white;
                border-radius: 3px;
                overflow: hidden;
                vertical-align: top;
                text-align: left;
                box-shadow: 0px 1px 2px rgba(black, 0.2);
                .thumbnail {
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }
                .label-frame {
                    position: relative;
                    box-sizing: border-box;
                    padding: 8px 12px 12px 12px;
                    min-height: 150px;
                    border-top-style: solid;
                    border-color: #eee;
                    border-width: 1px;
                    .title {
                        font-size: 24px;
                    }
                    .description {
                        margin-top: 4px;
                        font-size: 16px;
                    }
                }
                .clickable {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(white, 0.2);
                    }
                    &:active {
                        background-color: rgba(white, 0.5);
                    }
                }
            }
        }
        .input-frame {
            position: relative;
            margin: 20px auto;
            padding: 0 20px;
            max-width: 500px;
            .enterbutton-frame {
                position: absolute;
                top: 4px;
                right: 24px;
            }
        }
        iframe {
            display: block;
            position: relative;
            box-sizing: border-box;
            border-style: none;
            width: 100%;
            height: calc(100vh - 54px);
            background-color: white;
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: white;
        }
    }
}
