<appconnect-page>

<div class="app-page { connecting: appURL }">
    <div class="page-header">
        <i class="material-icons page-icon">cable</i>
        <h2 class="page-title">AppConnect</h2>
        <div class="page-helpbutton-frame">
            <material-iconbutton if={ appURL } icon="block" on_click={ onClickDisconnectButton }></material-iconbutton>
            <material-iconbutton if={ !appURL } icon="help_outline" on_click={ onClickPageHelpButton }></material-iconbutton>
        </div>
    </div>
    <div class="page-content">
        <div class="connect-frame">
            <div if={ !appURL }>
                <div if={ !addrsLoaded } class="nologin-message">{ TagG.jp ? 'AppConnectを使用するにはWalletを開いてください' : 'To use AppConnect, open your wallet.' }</div>
                <div class="connectselect-frame">
                    <div class="input-frame" if={ addrsLoaded }><material-select ref="addr_select" hint="Address" is_fullwidth="true" is_menuwidth_fixed="true" items={ TagG.addrSelectItems } default_value={ TagG.addrSelectDefaultValue }></material-select></div>
                    <div class="app-list">
                        <div each={ listedApps } class="app-list-item">
                            <img src={ thumbURL } class="thumbnail" width="300" height="300" loading="lazy">
                            <div class="label-frame">
                                <div class="title">{ name }</div>
                                <div class="description">{ description }</div>
                            </div>
                            <div class="clickable" onclick={ onClick }></div>
                        </div>
                    </div>
                    <div class="input-frame">
                        <material-textfield ref="appurl_input" hint="Custom App URL" on_enter={ onClickAppURLEnterButton }></material-textfield>
                        <div class="enterbutton-frame"><material-iconbutton icon="arrow_forward" on_click={ onClickAppURLEnterButton }></material-iconbutton></div>
                    </div>
                </div>
            </div>
            <iframe if={ appURL } ref="app_frame" title="External Application" src={ appURL } loading="lazy" referrerpolicy="origin"
                sandbox="allow-downloads allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
            </iframe>
            <!-- allow-popups-to-escape-sandbox はアプリがSNSツイートウィンドウなどを開くために必要 -->
            <!-- allow-same-origin はアプリがCookieなどを使うために必要。あくまでallowなので別ドメインから元々できないことが許可されるわけではない -->
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const LISTED_APPS = [
        {
            name: 'GoriFi',
            url: 'https://gorifi.komikikaku.com',
            origin: 'https://gorifi.komikikaku.com',
            description: 'MonapartyのDEX体験をハッピーにするゴリファイです',
            thumbURL: TagG.RELATIVE_URL_BASE + 'img/gorifi.png',
        },
        {
            name: 'monanosu space',
            url: 'https://monanosu.kotaroo.work/space',
            origin: 'https://monanosu.kotaroo.work',
            description: 'モナカードな空間',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monanosu_space.png',
        },
        {
            name: 'Knights of Monadom',
            url: 'https://knightsofmonadom.monatoka.com',
            origin: 'https://knightsofmonadom.monatoka.com',
            description: 'ChatGPTとモナカードの融合。新感覚ゲーム ／ Fusion of ChatGPT and Monacard. A new type of game.',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monadom.jpg',
        },
        {
            name: 'モナレッジ',
            url: 'https://monaledge.com',
            origin: 'https://monaledge.com',
            description: '記事を書いてMONAがもらえる！気に入った記事にMONAが送れる！',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monaledge.jpg',
        },
        {
            name: 'Ask Mona 3.0',
            url: 'https://web3.askmona.org',
            origin: 'https://web3.askmona.org',
            description: 'Ask Mona 3.0では、掲示板形式で簡単にMONAをやり取りすることができます。質問したり、答えたりしてMONAを手に入れてください。',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/askmona.png',
        },
        {
            name: 'Monacute',
            url: 'https://monacute.art',
            origin: 'https://monacute.art',
            description: 'AIでつくられた、とってもキュートなNFT。',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monacute.jpg',
        },
        {
            name: 'もなちぇん',
            url: 'https://monachen.monatoka.com',
            origin: 'https://monachen.monatoka.com',
            description: 'モナコインでJPYCを買える・売れる！ ／ You can buy and sell JPYC for MONACOIN!',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monachen.png',
        },
        {
            name: 'もなこっと',
            url: 'https://monacotto.monatoka.com',
            origin: 'https://monacotto.monatoka.com',
            description: 'モナカードの売買が簡単！ ／ You can buy and sell monacards easily!',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monacotto.png',
        },
        {
            name: 'monabless',
            url: 'https://monabless.monatrust.com',
            origin: 'https://monabless.monatrust.com',
            description: 'May you bless tokens! ／ トークンに祝福を！',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monabless.png',
        },
        {
            name: 'monatrust',
            url: 'https://www.monatrust.com',
            origin: 'https://www.monatrust.com',
            description: 'Trust who you trust in.',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monatrust.png',
        },
        {
            name: 'Mona Tools',
            url: 'https://mona-tools.com',
            origin: 'https://mona-tools.com',
            description: 'MonapartyのDispenserを検索したり便利なツールです。',
            thumbURL: 'https://cdn.komikikaku.com/extappimg/monatools.png',
        },
        {
            name: 'AppConnect Attacks',
            url: 'https://monapalette.komikikaku.com/appconnect_sample',
            origin: 'https://monapalette.komikikaku.com',
            description: (TagG.jp ? '悪意あるアプリによるなりすまし攻撃の例を掲載しています。確認しておいてください。' : 'This page contains examples of spoofing attacks by malicious apps. Please check it out.'),
            thumbURL: TagG.RELATIVE_URL_BASE + 'img/bikkuri.png',
        },
    ];

    const init = () => {
        this.appURL = null;
        this.selectedOrigin = 'BLOCK';
        this.listedApps = LISTED_APPS.map(app => {
            const onClick = () => { openApp(app.url, app.origin) };
            return { ...app, onClick };
        });
    };
    this.onClickPageHelpButton = () => {
        myswal({
            text: (TagG.jp ? '外部のAppConnect対応アプリをモナパレットに接続して利用できます。AppConnectではMpurse互換のAPIを提供しているので、Mpurse連携アプリはわずかな修正でAppConnectにも対応することができます\n\nアプリからメッセージやトランザクションへの署名を伴う操作を要求されたときは確認ダイアログが出ます。各アプリの信頼性についてはモナパレットでは検証していないので、ダイアログの内容はよく確認しましょう。また、アプリによるなりすまし攻撃のサンプルをアプリリスト内の「AppConnect Attacks」に掲載しているので確認しておいてください' : 'External web apps can be connected to MonaPalette through AppConnect. As AppConnect provides Mpurse-compatible APIs, apps for Mpurse apps can also support AppConnect with only minor modifications.\n\nWhen an app requests an operation that involves signing a message or transaction, a confirmation dialog will appear. The reliability of each app has not been verified by MonaPalette, so check the dialog carefully. Also, please check the "AppConnect Attacks" in the app list for samples of spoofing attacks by apps.'),
            buttons: {},
        });
    };
    this.onClickDisconnectButton = () => {
        this.appURL = null;
        this.selectedOrigin = 'BLOCK';
        this.update();
    };
    this.onClickAppURLEnterButton = () => {
        const appURL = this.refs.appurl_input.getValue().trim();
        try { new URL(appURL) }
        catch (_) { return myswal('Error', (TagG.jp ? '無効なURLです' : 'Invalid URL'), 'error') }
        openApp(appURL, null);
    };
    this.on('mount', async() => {
        if (TagG.addrsData) {
            await TagG.aUpdateAddrsDataWithUI(TagG.bodySpinner);
            this.addrsLoaded = true;
            TagG.windowMessageListeners.length = 0;
            TagG.windowMessageListeners.push(onMessage);
            this.update();
        }
    });
    const openApp = (url, origin) => {
        if (TagG.addrsData) {
            const address = this.refs.addr_select.getValue();
            this.addrData = TagG.addrsData.find(data => (data.address === address));
        }
        else myswal(TagG.jp ? 'モナパレット未接続の状態でアプリを表示します。アプリからモナパレットを利用するには、先にWalletを開いてください' : 'You are accessing the app with Monapalette unconnected. To use Monapalette from the app, open your wallet first.');
        this.appURL = url;
        this.selectedOrigin = origin;
        this.update();
    };
    const onMessage = async(event) => {
        const origin = event.origin;
        if (this.selectedOrigin && origin !== this.selectedOrigin) return console.warn(`message from unknown origin: ${origin}`);
        const originHost = origin.split('//')[1];
        const appWindow = this.refs.app_frame.contentWindow;
        const addrData = this.addrData;
        const { id, method, params } = event.data;
        if (!id || !method) return console.warn('message not for AppConnect');
        try {
            let value = null;
            switch (method) {
                case 'getAddress': {
                    value = addrData.address;
                    break;
                }
                case 'sendAsset': {
                    const [toAddr, asset, amount, memoType, memoValue] = params;
                    let unsignedTXHex, inputs, outputs, feeAmount;
                    TagG.bodySpinner.start();
                    if (asset === TagG.BASECHAIN_ASSET) {
                        await TagG.aUpdateBaseAssetBalances([addrData]);
                        const targets = [{ address: toAddr, value: amount * TagG.SATOSHI_RATIO }];
                        const confirmedUTXOs = addrData.utxos.filter(utxo => (utxo.confirmations >= TagG.confNum));
                        const selectResult = TagG.coinselect(confirmedUTXOs, targets, TagG.FEESAT_PERBYTE);
                        [inputs, outputs] = [selectResult.inputs, selectResult.outputs];
                        if (!inputs) throw (TagG.jp ? `承認数${TagG.confNum}以上の${TagG.BASECHAIN_ASSET}が足りません` : `Insufficient ${TagG.BASECHAIN_ASSET} with confirmation >= ${TagG.confNum}`);
                        if (!outputs) throw 'coinselect returns no outputs';
                        for (const output of outputs) {
                            if (!output.address) output.address = addrData.address;
                        }
                        feeAmount = selectResult.fee / TagG.SATOSHI_RATIO;
                    }
                    else {
                        await TagG.aLoadAssetsInfo([asset], true);
                        const assetInfo = TagG.asset2info[asset];
                        if (!assetInfo) throw (TagG.jp ? `${asset}というトークンは存在しません` : `Token named "${asset}" does not exist.`);
                        const sendParams = {
                            'destination': toAddr,
                            'asset': assetInfo.asset,
                            'quantity': TagG.amount2qty(amount, assetInfo.isDivisible),
                            'use_enhanced_send': true,
                            'source': addrData.address,
                            'fee_per_kb': TagG.FEESAT_PERBYTE * 1000,
                            'extended_tx_info': true,
                        };
                        if (memoType === 'plain') {
                            sendParams['memo'] = memoValue;
                            sendParams['memo_is_hex'] = false;
                        }
                        if (memoType === 'hex') {
                            sendParams['memo'] = memoValue;
                            sendParams['memo_is_hex'] = true;
                        }
                        if (addrData.publicKey) sendParams['pubkey'] = addrData.publicKey.toString('hex');
                        if (TagG.confNum === 0) sendParams['allow_unconfirmed_inputs'] = true;
                        const sendData = {};
                        await TagG.aMonapartyTXCreate('create_send', sendParams, sendData);
                        unsignedTXHex = sendData.txHex;
                        feeAmount = sendData.feedustAmount;
                    }
                    TagG.bodySpinner.stop();
                    const isOK = await myswal({
                        title: (TagG.jp ? `${asset}を送る` : `Send ${asset}`),
                        text: (TagG.jp?
                        `${originHost} が以下のアドレスへの ${amount} ${asset} の送付を要求しています (トランザクション手数料: ${feeAmount} ${TagG.BASECHAIN_ASSET})\n\n${toAddr}`:
                        `${originHost} is requesting to send ${amount} ${asset} to the following address. (tx fee: ${feeAmount} ${TagG.BASECHAIN_ASSET})\n\n${toAddr}`),
                        buttons: ['Cancel', 'OK'],
                        className: 'swalcustom-okorcancel-center',
                    });
                    if (!isOK) return appWindow.postMessage({ id, error: 'User Cancelled' }, origin);
                    TagG.bodySpinner.start();
                    const signedTXHex = unsignedTXHex ? await TagG.aSignTXHex(unsignedTXHex, addrData, null) : await TagG.aSignInOut(inputs, outputs, addrData);
                    value = await TagG.aBroadcast(signedTXHex);
                    break;
                }
                case 'signMessage': {
                    const [message] = params;
                    const isOK = await myswal({
                        title: (TagG.jp ? 'メッセージへの署名' : 'Sign message'),
                        text: (TagG.jp ? `${originHost} が以下のメッセージへの署名を要求しています\n\n${message}` : `${originHost} is requesting to sign the following message.\n\n${message}`),
                        buttons: ['Cancel', 'OK'],
                        className: 'swalcustom-okorcancel-center',
                    });
                    if (!isOK) return appWindow.postMessage({ id, error: 'User Cancelled' }, origin);
                    TagG.bodySpinner.start();
                    value = await TagG.aSignMessage(message, addrData);
                    break;
                }
                case 'signRawTransaction':
                case 'sendRawTransaction': {
                    const [unsignedTXHex] = params;
                    const isOK = await myswal({
                        title: (TagG.jp ? 'トランザクションへの署名' : 'Sign tx'),
                        text: (TagG.jp ? `${originHost} が以下のトランザクションへの署名を要求しています\n\n${unsignedTXHex}` : `${originHost} is requesting to sign the following tx.\n\n${unsignedTXHex}`),
                        buttons: ['Cancel', 'OK'],
                        className: 'swalcustom-okorcancel-center',
                    });
                    if (!isOK) return appWindow.postMessage({ id, error: 'User Cancelled' }, origin);
                    TagG.bodySpinner.start();
                    const signedTXHex = await TagG.aSignTXHex(unsignedTXHex, addrData, null);
                    if (method === 'signRawTransaction') {
                        value = signedTXHex;
                        break;
                    }
                    value = await TagG.aBroadcast(signedTXHex);
                    break;
                }
                case 'counterBlock': {
                    const [cbMethod, cbParams] = params;
                    value = await Monaparty.aBlock(cbMethod, cbParams);
                    break;
                }
                case 'counterParty': {
                    const [cpMethod, cpParams] = params;
                    value = await Monaparty.aParty(cpMethod, cpParams);
                    break;
                }
                default:
                    console.error(`unsupported method: ${method}`);
                    return appWindow.postMessage({ id, error: 'AppConnect does not support this method' }, origin);
            }
            appWindow.postMessage({ id, value }, origin);
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `失敗しました。ヒント：${error}` : `Failed. hint: ${error}`), 'error');
            appWindow.postMessage({ id, error: 'Something went wrong' }, origin); // 安全のためerrorの内容はアプリには渡さない
        }
        finally { TagG.bodySpinner.stop() }
    };
    init();
</script>

</appconnect-page>
