dboard-page {
    .app-page {
        .page-content {
            padding: 0 0 80px 0;
        }
    }
    .controls-frame {
        position: relative;
        text-align: center;
        .nologin-message {
            margin: 6px 0 20px 0;
            color: $quietColor;
        }
    }
    .timeline-frame {
        margin: 0 auto;
        padding: 0 10px;
        max-width: 800px;
        min-height: 200px;
    }
    .message {
        position: relative;
        margin: 10px 0;
        min-height: 80px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        border-radius: 3px;
        overflow: hidden;
        content-visibility: auto;
        .root {
            position: relative;
            overflow: hidden; // 内側のmarginへの食い込み防止
        }
        .reply {
            position: relative;
            background-color: #F2F2F2;
            margin: 4px 0 4px 4px;
            border-radius: 2px 0 0 2px;
            overflow: hidden;
        }
        .mentioned {
            background-color: #fffcd1;
        }
        .newmention-sign {
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            border-radius: 2px;
            background-color: tomato;
        }
        .text {
            margin: 20px 16px 0 20px;
            font-size: 16px;
            white-space: pre-wrap;
        }
        .image-frame {
            text-align: center;
            background-color: #444444;
            img {
                max-width: 100%;
                max-height: 560px;
                vertical-align: middle;
            }
        }
        .assets-frame {
            display: flex;
            position: relative;
            height: 320px;
            text-align: center;
            background-color: #444444;
            white-space: nowrap;
            justify-content: center;
            .img-frame {
                overflow: hidden;
                width: 224px;
                img {
                    display: block;
                    margin: 0px calc(50% - 112px);
                    width: 224px;
                }
                &.square {
                    width: 320px;
                    img {
                        display: block;
                        margin: 0px calc(50% - 160px);
                        width: 320px;
                    }
                }
            }
        }
        .footer {
            position: relative;
            min-width: 160px;
            text-align: right;
            .footer-button {
                position: absolute;
                bottom: 4px;
                left: 4px;
                .mdc-icon-button {
                    font-size: 20px;
                }
                &.second {
                    left: 52px;
                }
            }
        }
        .information {
            display: inline-block;
            margin-left: 48px;
            cursor: pointer;
            &.me {
                margin-left: 96px;
            }
            .colorbar {
                position: absolute;
                bottom: -3px;
                right: 8px;
                width: 80px;
                height: 8px;
            }
            .icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 0 8px 10px 0px;
                border-radius: 2px;
                vertical-align: bottom;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .name-and-block {
                display: inline-block;
                position: relative;
                padding: 8px 0 10px 0;
                margin-right: 10px;
                font-size: 15px;
                line-height: 20px;
                vertical-align: bottom;
                .block {
                    font-size: 11px;
                    color: $quietColor;
                }
            }
        }
    }
}

.dboard-page-swalwindow {
    &.userdetail-swalwindow {
        .title {
            img {
                width: 40px;
                margin: 0 10px;
                vertical-align: middle;
                border-radius: 2px;
            }
        }
        .qrcode-frame {
            height: 30vh;
            max-height: 240px;
            padding: 0 20px;
        }
        .addr {
            text-align: center;
            font-size: 18px;
            line-height: 26px;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        .hashcolors {
            height: 8px;
        }
    }
}
