<dboard-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">chat</i>
        <h2 class="page-title">D-Board</h2>
    </div>
    <div class="page-content">
        <div class="controls-frame">
            <div if={ !addrsLoaded } class="nologin-message">{ TagG.jp ? '投稿するにはWalletを開いてください' : 'To post, open your wallet.' }</div>
            <div if={ addrsLoaded }>
                <material-iconbutton icon="send" on_click={ onClickSendMessageButton }></material-iconbutton>
                <material-iconbutton icon="settings_applications" on_click={ onClickSetUserButton }></material-iconbutton>
                <material-iconbutton ref="update_button" icon="refresh" on_click={ onClickUpdateButton }></material-iconbutton>
            </div>
            <util-spinner ref="addrs_spinner"></util-spinner>
        </div>
        <div class="timeline-frame">
            <div each={ messages } class="message">
                <div class="root { mentioned: isMentioned }">
                    <div if={ isNewMentioned } class="newmention-sign"></div>
                    <div if={ imageURL } class="image-frame"><a href={ imageURL } target="_blank"><img src={ previewImageURL } loading="lazy"></a></div>
                    <div if={ assetThumbs } class="assets-frame" onclick={ onClickAssets }><div each={ assetThumbs } class="img-frame { square: !isCard }"><img src={ url } loading="lazy"></div></div>
                    <div if={ text } class="text">{ text + '\n' }</div><!-- 末尾の改行が反映されるように\nを追加 -->
                    <div class="footer">
                        <div class="information { me: TagG.addr2isMine[address] }" onclick={ () => onClickUser(address) }>
                            <div class="colorbar"><util-hashcolors seed_value={ address }></util-hashcolors></div>
                            <div class="name-and-block">
                                <div class="block">block { block }</div>
                                <div class="name">{ (userDict[address] && userDict[address].name) || address }</div>
                            </div><div if={ userDict[address] && userDict[address].iconURL } class="icon"><img src={ userDict[address].iconURL } loading="lazy"></div>
                        </div>
                        <div if={ addrsLoaded } class="footer-button"><material-iconbutton icon="chat_bubble_outline" on_click={ () => onClickReplyButton(index, address) }></material-iconbutton></div>
                        <div if={ TagG.addr2isMine[address] } class="footer-button second"><material-iconbutton icon="delete" on_click={ () => onClickDeleteButton(index, address) }></material-iconbutton></div>
                    </div>
                </div>
                <div each={ reply in replies } class="reply { mentioned: reply.isMentioned }">
                    <div if={ reply.isNewMentioned } class="newmention-sign"></div>
                    <div if={ reply.imageURL } class="image-frame"><a href={ reply.imageURL } target="_blank"><img src={ reply.previewImageURL } loading="lazy"></a></div>
                    <div if={ reply.assetThumbs } class="assets-frame" onclick={ reply.onClickAssets }><div each={ reply.assetThumbs } class="img-frame { square: !isCard }"><img src={ url } loading="lazy"></div></div>
                    <div class="text">{ reply.text + '\n' }</div><!-- 末尾の改行が反映されるように\nを追加 -->
                    <div class="footer">
                        <div class="information" onclick={ () => onClickUser(reply.address) }>
                            <div class="colorbar"><util-hashcolors seed_value={ reply.address }></util-hashcolors></div>
                            <div class="name-and-block">
                                <div class="block">block { reply.block }</div>
                                <div class="name">{ (userDict[reply.address] && userDict[reply.address].name) || reply.address }</div>
                            </div><div if={ userDict[reply.address] && userDict[reply.address].iconURL } class="icon"><img src={ userDict[reply.address].iconURL } loading="lazy"></div>
                        </div>
                        <div if={ TagG.addr2isMine[reply.address] } class="footer-button"><material-iconbutton icon="delete" on_click={ () => onClickDeleteButton(reply.index, reply.address) }></material-iconbutton></div>
                    </div>
                </div>
            </div>
            <util-spinner ref="timeline_spinner"></util-spinner>
        </div>
    </div>
</div>

<div ref="swalwindows_container" show={ false }>
    <div ref="sendmessage_window" class="dboard-page-swalwindow">
        <div if={ !sendMessageWindow.isReply } class="title">{ TagG.jp ? 'メッセージを投稿する' : 'Post message' }</div>
        <div if={ sendMessageWindow.isReply } class="title">{ TagG.jp ? 'リプライを投稿する' : 'Post reply' }</div>
        <div if={ !sendMessageWindow.isReply } class="basic">
            <span if={ TagG.jp }>D-Boardにメッセージや画像を投稿できます。投稿内容はブロックチェーン上にずっと残るので気を付けましょう</span>
            <span if={ !TagG.jp }>You can post messages and images to D-Board. Be aware that your postings will remain on the blockchain forever.</span>
        </div>
        <div if={ sendMessageWindow.isReply } class="basic">
            <span if={ TagG.jp }>{ sendMessageWindow.replyTo } の書き込みにリプライを付けます。投稿内容はブロックチェーン上にずっと残るので気を付けましょう</span>
            <span if={ !TagG.jp }>You can reply to the { sendMessageWindow.replyTo } post. Be aware that your postings will remain on the blockchain forever.</span>
        </div>
        <div class="basic"><material-select if={ addrsLoaded } ref="sendmessage_addr" hint="Address" is_fullwidth="true" is_menuwidth_fixed="true" items={ TagG.addrSelectItems } default_value={ TagG.addrSelectDefaultValue }></material-select></div>
        <div class="basic"><material-textfield ref="message_input" hint="Message" is_textarea="true" textarea_rows="2"></material-textfield></div>
        <div class="basic"><material-radiobuttons ref="imagetype_radio" items={ sendMessageWindow.imageRadioItems } on_change={ sendMessageWindow.onChangeImageRadio }></material-radiobuttons></div>
        <div class="basic" if={ sendMessageWindow.imageMode === IMAGE_MODES.URL }><material-textfield ref="image_input" hint="Imgur Direct Link"></material-textfield></div>
        <div class="basic" if={ sendMessageWindow.imageMode === IMAGE_MODES.ASSET }>
            <div class="upper-helper">{ TagG.jp ? 'カンマ(,)区切りで複数指定' : 'Multiple tokens can be set separated by commas.' }</div>
            <material-textfield ref="image_input" hint="Tokens"></material-textfield>
        </div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div class="bottombutton-frame"><material-button label={ TagG.jp ? '投稿する' : 'POST' } icon="send" on_click={ sendMessageWindow.onClickSendButton } is_unelevated="true" is_fullwidth="true"></material-button></div>
    </div>

    <div ref="setuser_window" class="dboard-page-swalwindow">
        <div class="title">{ TagG.jp ? 'ユーザーを設定する' : 'Set address profile' }</div>
        <div class="basic">
            <span if={ TagG.jp }>D-Board上でアドレス毎に表示される名前とアイコンを設定できます。両方とも空欄のまま設定すれば、現在の設定をクリアできます</span>
            <span if={ !TagG.jp }>You can set profile of each address shown on D-Board. Set them both blank to clear current profile.</span>
        </div>
        <div class="basic"><material-select if={ addrsLoaded } ref="setuser_addr" hint="Address" is_fullwidth="true" is_menuwidth_fixed="true" items={ TagG.addrSelectItems } default_value={ TagG.addrSelectDefaultValue }></material-select></div>
        <div class="basic"><material-textfield ref="username_input" hint="Name"></material-textfield></div>
        <div class="basic"><material-textfield ref="usericon_input" hint="Icon (Imgur Direct Link)"></material-textfield></div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div class="bottombutton-frame"><material-button label={ TagG.jp ? '設定する' : 'SET' } icon="settings_applications" on_click={ setUserWindow.onClickSetButton } is_unelevated="true" is_fullwidth="true"></material-button></div>
    </div>

    <div ref="broadcast_conf_window" class="dboard-page-swalwindow">
        <div class="title">{ TagG.jp ? 'ブロードキャストする' : 'Broadcast' }</div>
        <div class="basic">
            <span if={ TagG.jp }>以下のデータをブロードキャストします。トランザクション手数料<span if={ broadcastData.dustSat }>など</span>が { commafy(broadcastData.feedustAmount) } { TagG.BASECHAIN_ASSET } かかりますがOKですか？</span>
            <span if={ !TagG.jp }>The following data will be broadcast. You will be charged a fee of { commafy(broadcastData.feedustAmount) } { TagG.BASECHAIN_ASSET }, OK?</span>
        </div>
        <div class="basic data">{ broadcastData.message }</div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div class="bottombutton-frame">
            <material-button label="OK" on_click={ broadcastConfWindow.onClickOKButton } is_unelevated="true" is_fullwidth="true"></material-button>
        </div>
    </div>

    <div ref="userdetail_window" class="dboard-page-swalwindow userdetail-swalwindow">
        <div class="title">{ userDetailWindow.name || 'Anonymous User' }<img if={ userDetailWindow.iconURL } src={ userDetailWindow.iconURL } loading="lazy"></div>
        <div if={ userDetailWindow.address } class="basic qrcode-frame"><util-qrcode ref="addr_qrcode" qr_value={ userDetailWindow.address }></util-qrcode></div>
        <div class="basic addr">{ userDetailWindow.address }</div>
        <div class="basic hashcolors"><util-hashcolors seed_value={ userDetailWindow.address }></util-hashcolors></div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const DBOARD_PREFIX = '@b.';
    const DMESSAGE_PREFIX = '@b.m ';
    const DUSER_PREFIX = '@b.u ';
    const IMAGE_MODES = this.IMAGE_MODES = { NONE: 'NONE', URL: 'URL', ASSET: 'ASSET' };
    this.sendMessageWindow = {};
    this.setUserWindow = {};
    this.broadcastConfWindow = {};
    this.broadcastData = {};
    this.userDetailWindow = {};

    const init = () => {
        this.commafy = Util.commafy;
        this.messages = [];
        this.assetsToLoad = [];
        this.asset2isInvalid = {};
        this.userDict = {};
        this.sendMessageWindow.imageRadioItems = [
            { value: IMAGE_MODES.NONE, label: 'No Image' },
            { value: IMAGE_MODES.URL, label: 'Imgur URL' },
            { value: IMAGE_MODES.ASSET, label: 'Token Showcase' },
        ];
        this.sendMessageWindow.imageMode = IMAGE_MODES.NONE;
        this.readIndex = 0;
    };

    this.onClickSendMessageButton = () => {
        this.sendMessageWindow.isReply = false;
        this.sendMessageWindow.replyToIndex = null;
        clearWindowMessages();
        Util.aOpenContentSwal(this.refs.sendmessage_window);
    };
    this.onClickSetUserButton = () => {
        clearWindowMessages();
        Util.aOpenContentSwal(this.refs.setuser_window);
    };
    this.onClickUpdateButton = async() => {
        if (this.refs.update_button) this.refs.update_button.setDisabled(true);
        await aShowTimeline();
        setMentionFlags();
        this.update();
        setTimeout(() => {
            if (this.refs.update_button) this.refs.update_button.setDisabled(false);
        }, 10000);
    };
    this.onClickReplyButton = (replyToIndex, replyToAddr) => {
        const replyToUser = this.userDict[replyToAddr] || {};
        this.sendMessageWindow.isReply = true;
        this.sendMessageWindow.replyToIndex = replyToIndex;
        this.sendMessageWindow.replyTo = replyToUser.name || replyToAddr;
        clearWindowMessages();
        Util.aOpenContentSwal(this.refs.sendmessage_window);
    };
    this.onClickDeleteButton = async(messageIndex, walletAddr) => {
        const ok = await myswal({
            title: (TagG.jp ? 'メッセージの削除' : 'Delete message'),
            text: (TagG.jp ? 'ブロックチェーン上のデータは消せませんが、D-Board上に表示されないようにすることができます' : 'Data on the blockchain cannot be deleted, but it can be prevented from appearing on the D-Board.'),
            button: { text: (TagG.jp ? '削除する' : 'DELETE'), closeModal: false },
            className: 'swalcustom-singlebutton-center', // 中央寄せ
        });
        if (!ok) return;
        const messageData = { d: messageIndex };
        aPrepareBroadcast(walletAddr, `${DMESSAGE_PREFIX}${JSON.stringify(messageData)}`, true);
    };
    this.onClickUser = (address) => {
        const user = this.userDict[address] || {};
        this.userDetailWindow.address = address;
        this.userDetailWindow.name = user.name;
        this.userDetailWindow.iconURL = user.iconURL;
        if (this.refs.addr_qrcode) this.refs.addr_qrcode.setValue(address);
        this.update();
        Util.aOpenContentSwal(this.refs.userdetail_window);
    };
    this.sendMessageWindow.onChangeImageRadio = (value) => {
        this.sendMessageWindow.imageMode = value;
        this.update();
    };
    this.sendMessageWindow.onClickSendButton = async() => {
        let messageData = {};
        const address = this.refs.sendmessage_addr.getValue();
        const text = this.refs.message_input.getValue();
        const imageInput = this.refs.image_input ? this.refs.image_input.getValue().trim() : null;
        const replyToIndex = this.sendMessageWindow.replyToIndex;
        let imageSelector = null;
        if (!address) return showWindowError(TagG.jp ? 'だめです。アドレスを選択してね' : 'Oops! No address selected.');
        if (imageInput) {
            switch (this.sendMessageWindow.imageMode) {
                case IMAGE_MODES.URL: {
                    const imgurMatch = imageInput.match(/^https?:\/\/i\.imgur\.com\/([a-zA-Z0-9]+\.[a-zA-Z0-9]+)$/);
                    if (imgurMatch) imageSelector = '1' + imgurMatch[1];
                    else return showWindowError(TagG.jp ? 'だめです。サポートしていない形式の画像URLです' : 'Oops! This image URL is not supported.');
                    break;
                }
                case IMAGE_MODES.ASSET: {
                    const assets = imageInput.split(/\s*,\s*/).filter(ast => ast);
                    const imageCheckErrorMessage = await aCheckAssetsImage(assets);
                    if (imageCheckErrorMessage) return showWindowError(imageCheckErrorMessage);
                    imageSelector = '2' + assets.join(',');
                    break;
                }
            }
        }
        if (!imageSelector && !text) return showWindowError(TagG.jp ? 'だめです。メッセージか画像のどちらかは入力してね' : 'Oops! Neither message nor image is entered.');
        if (!imageSelector && !replyToIndex) messageData = text;
        else {
            if (text) messageData.m = text;
            if (imageSelector) messageData.p = imageSelector;
            if (replyToIndex) messageData.r = replyToIndex;
        }
        aPrepareBroadcast(address, `${DMESSAGE_PREFIX}${JSON.stringify(messageData)}`);
    };
    const aCheckAssetsImage = async(assets) => {
        try {
            TagG.bodySpinner.start();
            await TagG.aLoadAssets(assets, true, true);
        }
        catch (error) { return (TagG.jp ? `データの取得に失敗しました。ヒント：${error}` : `Failed to fetch data. hint: ${error}`) }
        finally { TagG.bodySpinner.stop() }
        for (const asset of assets) {
            const assetInfo = TagG.asset2info[asset];
            if (!assetInfo) return (TagG.jp ? `"${asset}"という名前のトークンは存在しません` : `Token named "${asset}" does not exist.`);
            if (!TagG.getAssetImageURL('M', assetInfo.asset)) return (TagG.jp ? `${asset} には画像が設定されていません` : `${asset} does not have image to show.`);
        }
        return null;
    };
    this.setUserWindow.onClickSetButton = () => {
        const messageData = {};
        const address = this.refs.setuser_addr.getValue();
        const name = this.refs.username_input.getValue();
        const iconURL = this.refs.usericon_input.getValue().trim();
        if (!address) return showWindowError(TagG.jp ? 'だめです。アドレスを選択してね' : 'Oops! No address selected.');
        if (name) messageData.n = name;
        if (iconURL) {
            const imgurMatch = iconURL.match(/^https?:\/\/i\.imgur\.com\/([a-zA-Z0-9]+\.[a-zA-Z0-9]+)$/);
            if (imgurMatch) messageData.i = '1' + imgurMatch[1];
            else return showWindowError(TagG.jp ? 'だめです。サポートしていない形式の画像URLです' : 'Oops! This image URL is not supported.');
        }
        if (!name && !iconURL) { // 両方とも空欄のときだけクリア
            messageData.n = '';
            messageData.i = '';
        }
        aPrepareBroadcast(address, `${DUSER_PREFIX}${JSON.stringify(messageData)}`);
    };
    this.broadcastConfWindow.onClickOKButton = () => { aBroadCast() };

    this.on('mount', async() => {
        const container = this.refs.swalwindows_container;
        while (container && container.firstChild) container.removeChild(container.firstChild);
        initDynamicGallery();
        await Promise.all([
            aShowTimeline(),
            TagG.addrData ? TagG.aUpdateAddrsDataWithUI(this.refs.addrs_spinner) : null,
        ]);
        if (TagG.addrsData) {
            setMentionFlags();
            TagG.bodyMenu.setNotifications({});
            TagG.dboardReadIndex = this.readIndex;
            Util.saveStorage(TagG.STORAGEKEY_DBOARDREADINDEX_FORMAT.replace('{FIRST_ADDR}', TagG.addrsData[0].address), TagG.dboardReadIndex);
            this.addrsLoaded = true;
        }
        this.update();
    });
    const aShowTimeline = async() => {
        try {
            if (aShowTimeline.isLoading) return;
            aShowTimeline.isLoading = true;
            if (this.refs.timeline_spinner) this.refs.timeline_spinner.start();
            try {
                const { messages, users, invalidAssets, lastBlock } = await Util.aGetJSON(`${TagG.DBOARD_CACHEJSON}?${TagG.getCacheQuery(10)}`);
                for (const asset of invalidAssets) this.asset2isInvalid[asset] = true;
                const params = {
                    'filters': [{ field: 'text', op: 'LIKE', value: `${DBOARD_PREFIX}%` }],
                    'start_block': lastBlock + 1,
                };
                const broadcasts = await Monaparty.aCounterPartyRequest('get_broadcasts', params);
                const newMessages = broadcasts.filter(bro => bro.text.indexOf(DMESSAGE_PREFIX) === 0).sort(sortByTimeDesc);
                const newUsers = broadcasts.filter(bro => bro.text.indexOf(DUSER_PREFIX) === 0).sort(sortByTimeAsc);
                const rawMessages = [...newMessages, ...messages];
                this.readIndex = rawMessages[0]?.tx_index || 0;
                this.messages = parseDBoardMessages(rawMessages);
                updateUserDict([...users, ...newUsers]);
            }
            catch (e) {
                const rawMessages = await aGetRawMessages();
                this.readIndex = rawMessages[0]?.tx_index || 0;
                this.messages = parseDBoardMessages(rawMessages);
                updateUserDict(await aGetRawUsers());
            }
            if (!TagG.IS_LAZYLOADAVAILABLE) this.messages = this.messages.slice(0, 300);
            this.update();
            await aLoadAssets();
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
        finally {
            if (this.refs.timeline_spinner) this.refs.timeline_spinner.stop();
            aShowTimeline.isLoading = false;
        }
    };
    const aGetRawMessages = async() => {
        const getDMessagesParams = {
            'limit': 1000,
            'order_by': 'tx_index',
            'order_dir': 'DESC',
            'filters': [{ field: 'text', op: 'LIKE', value: `${DMESSAGE_PREFIX}%` }],
        };
        return await Monaparty.aParty('get_broadcasts', getDMessagesParams);
    };
    const aGetRawUsers = async() => {
        const getDUsersParams = {
            'limit': 1000,
            'order_by': 'tx_index',
            'order_dir': 'DESC',
            'filters': [{ field: 'text', op: 'LIKE', value: `${DUSER_PREFIX}%` }],
        };
        return await Monaparty.aParty('get_broadcasts', getDUsersParams);
    };
    const aLoadAssets = async() => {
        await TagG.aLoadAssets(this.assetsToLoad, true, true);
        for (const message of this.messages) {
            setAssetThumbs(message);
            for (const reply of message.replies) setAssetThumbs(reply);
        }
        this.update();
    };
    const setAssetThumbs = (message) => {
        if (!message.assets) return;
        message.assetThumbs = message.assets.slice(0, 4).map(asset => {
            let url = null, isCard = false;
            const assetInfo = TagG.asset2info[asset];
            if (assetInfo) {
                url = TagG.getAssetImageURL('auto', assetInfo.asset);
                if (TagG.asset2card[assetInfo.name]) isCard = true;
            }
            return { url, isCard }
        }).filter(thumb => thumb.url);
    };
    const aBroadCast = async() => {
        try {
            TagG.bodySpinner.start();
            const addrData = TagG.addrsData.find(data => (data.address === this.broadcastData.address));
            const signedTXHex = await TagG.aSignTXHex(this.broadcastData.txHex, addrData, null);
            const txID = await TagG.aBroadcast(signedTXHex);
            console.log({ txID });
            if (this.refs.message_input) this.refs.message_input.setValue('');
            if (this.refs.image_input) this.refs.image_input.setValue('');
            if (this.refs.username_input) this.refs.username_input.setValue('');
            if (this.refs.usericon_input) this.refs.usericon_input.setValue('');
            myswal({ title: 'Success', text: (TagG.jp ? 'ブロードキャストしました' : 'Broadcasted.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
        }
        catch (error) {
            console.error(error);
            showWindowError(TagG.jp ? `ブロードキャストできませんでした。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to broadcast. hint: ${error}`);
        }
        finally { TagG.bodySpinner.stop() }
    };
    const aPrepareBroadcast = async(address, message, useSwalOnErr = false) => {
        try {
            TagG.bodySpinner.start();
            const addrData = TagG.addrsData.find(data => (data.address === address));
            const broadcastParams = {
                'source': address,
                'fee_fraction': 0,
                'text': message,
                'timestamp': Math.floor(new Date().getTime() / 1000),
                'value': -1,
                'fee_per_kb': TagG.FEESAT_PERBYTE * 1000,
                'extended_tx_info': true,
            };
            if (addrData.publicKey) broadcastParams['pubkey'] = addrData.publicKey.toString('hex');
            if (TagG.confNum === 0) broadcastParams['allow_unconfirmed_inputs'] = true;
            if (Buffer.byteLength(message) >= 55) broadcastParams['fee_per_kb'] = TagG.MULTISIG_FEESAT_PERBYTE * 1000;
            const broadcastData = this.broadcastData;
            await TagG.aMonapartyTXCreate('create_broadcast', broadcastParams, broadcastData);
            broadcastData.address = address;
            broadcastData.message = message;
            console.log(broadcastData);
            clearWindowMessages();
            Util.aOpenContentSwal(this.refs.broadcast_conf_window);
        }
        catch (error) {
            console.error(error);
            const errMessage = TagG.jp?
                `トランザクションの準備に失敗しました。入力した値に問題があるか、必要な${TagG.BASECHAIN_ASSET}やトークンが足りないかもしれません。データの更新などいろいろ試してもうまくいかない場合は情報を揃えてご連絡ください。ヒント：${error}`:
                `Failed to prepare tx. hint: ${error}`;
            useSwalOnErr ? myswal('Error', errMessage, 'error') : showWindowError(errMessage);
        }
        finally { TagG.bodySpinner.stop() }
    };
    const updateUserDict = (rawUsers) => {
        // n,i をそれぞれ処理
        // 値があれば上書き。空文字列だったらnullに設定。undefinedならそのまま
        rawUsers.sort(sortByTimeAsc);
        for (const rawUser of rawUsers) {
            try {
                const address = rawUser.source;
                const user = this.userDict[address] || {};
                const rawText = rawUser.text.slice(DUSER_PREFIX.length);
                const parsedText = JSON.parse(rawText);
                if (typeof parsedText.n === 'string') user.name = parsedText.n || null;
                if (typeof parsedText.i === 'string') {
                    const formatCode = parsedText.i.slice(0, 1);
                    const imageID = parsedText.i.slice(1);
                    switch (formatCode) {
                        case '1': {
                            if (!imageID.match(/^[a-zA-Z0-9]+\.[a-zA-Z0-9]+$/)) throw 'Invalid imageID of Imgur';
                            const imageURL = `https://i.imgur.com/${imageID}`;
                            user.iconURL = TagG.getSizedImgurImageURL(imageURL, 's');
                            break;
                        }
                        case '':
                            user.iconURL = null;
                            break;
                        default:
                            throw 'Unknown image formatCode';
                    }
                }
                this.userDict[address] = user;
            }
            catch (error) {
                // console.warn('Invalid D-Board user setting:');
                // console.warn(error);
                // console.warn(rawUser);
            }
        }
    };
    const parseDBoardMessages = (rawMessages) => {
        rawMessages.sort(sortByTimeDesc);
        const messages = [];
        const replies = [];
        const isDeletedIndexAddr = {};
        this.assetsToLoad = [];
        for (const rawMessage of rawMessages) {
            try {
                const address = rawMessage.source;
                const block = rawMessage.block_index;
                const index = rawMessage.tx_index;
                const rawText = rawMessage.text.slice(DMESSAGE_PREFIX.length);
                const parsedText = JSON.parse(rawText);
                if (isDeletedIndexAddr[`${index}.${address}`]) continue;
                if (typeof parsedText === 'string') messages.push({ address, block, index, text: parsedText, replies: [] });
                else if (typeof parsedText.d === 'number') isDeletedIndexAddr[`${parsedText.d}.${address}`] = true;
                else {
                    if (typeof parsedText.m !== 'string' && parsedText.m !== undefined) throw 'Non string message';
                    const message = { address, block, index, text: parsedText.m || '', replies: [] };
                    if (typeof parsedText.p === 'string') {
                        const formatCode = parsedText.p.slice(0, 1);
                        const imageIDs = parsedText.p.slice(1).split(',');
                        if (imageIDs.length === 0) throw 'imageIDs.length === 0';
                        switch (formatCode) {
                            case '1': {
                                const imageID = imageIDs[0];
                                if (!imageID.match(/^[a-zA-Z0-9]+\.[a-zA-Z0-9]+$/)) throw 'Invalid imageID of Imgur';
                                message.imageURL = `https://i.imgur.com/${imageID}`;
                                message.previewImageURL = TagG.getSizedImgurImageURL(message.imageURL, 'l');
                                break;
                            }
                            case '2': {
                                message.assets = imageIDs;
                                message.onClickAssets = () => { openAssetCollection(message.assets) };
                                for (const asset of imageIDs) {
                                    if (!this.asset2isInvalid[asset]) this.assetsToLoad.push(asset);
                                }
                                break;
                            }
                            default:
                                throw 'Unknown image formatCode';
                        }
                    }
                    if (!(message.text || message.imageURL || message.assets)) throw 'Empty message';
                    if (typeof parsedText.r === 'number') {
                        message.replyToIndex = parsedText.r;
                        replies.push(message);
                    }
                    else messages.push(message);
                }
            }
            catch (error) {}
        }
        this.assetsToLoad = Util.uniq(this.assetsToLoad);
        replies.reverse();
        const index2message = Util.dictizeListWithKey(messages, 'index');
        for (const reply of replies) {
            if (index2message[reply.replyToIndex]) index2message[reply.replyToIndex].replies.push(reply);
        }
        return messages;
    };
    const setMentionFlags = () => {
        if (!TagG.addrsData) return;
        for (const message of this.messages) {
            setMentionFlag(message);
            if (TagG.addr2isMine[message.address]) {
                for (const reply of message.replies) {
                    reply.isMentioned = true;
                    if (reply.index > TagG.dboardReadIndex) reply.isNewMentioned = true;
                }
            }
            else {
                for (const reply of message.replies) setMentionFlag(reply);
            }
        }
    };
    const setMentionFlag = (message) => {
        if (!message.text || !message.text.includes('@')) return;
        let isMentioned = false;
        let matches;
        matches = message.text.match(setMentionFlag.addrReg);
        if (matches && matches.map(txt => txt.slice(1)).some(addr => TagG.addr2isMine[addr])) isMentioned = true;
        matches = message.text.match(setMentionFlag.holdersReg);
        if (matches && matches.map(txt => txt.split(/[()]/)[1]).some(asset => TagG.asset2isInMyWallet[asset])) isMentioned = true;
        matches = message.text.match(setMentionFlag.assetReg);
        if (matches && matches.map(txt => txt.slice(1)).some(asset => TagG.asset2isMyOwn[asset])) isMentioned = true;
        if (isMentioned) {
            message.isMentioned = true;
            if (message.index > TagG.dboardReadIndex) message.isNewMentioned = true;
        }
    };
    setMentionFlag.addrReg = new RegExp(`@${TagG.ADDR_PATTERN}`, 'g');
    setMentionFlag.holdersReg = /@holders\([A-Z0-9]{4,}(\.[a-zA-Z0-9.\-_@!]+)?\)/g;
    setMentionFlag.assetReg = /@[A-Z0-9]{4,}(\.[a-zA-Z0-9.\-_@!]+)?/g;
    const openAssetCollection = (assets) => {
        const galleryItems = [];
        for (const asset of assets) {
            const assetInfo = TagG.asset2info[asset];
            if (!assetInfo) continue;
            const imageURL = TagG.getAssetImageURL('L', assetInfo.asset);
            if (!imageURL) continue;
            const title = assetInfo.group ? `${assetInfo.group} #${assetInfo.name}` : assetInfo.name;
            let description = TagG.getMainDescription(assetInfo);
            let url = assetInfo.appData.monacharat?.url || null;
            const cardData = TagG.asset2card[assetInfo.name];
            if (cardData) {
                description = cardData.cardName; // カードの説明文は長くなりすぎるので名前にしておく
                url = cardData.siteURL;
            }
            const subHtml = url?
                `<h4><a href="${url}" target="_blank">${Util.escapeHTML(title)}</a></h4><p><a href="${url}" target="_blank">${Util.escapeHTML(description)}</a></p>`:
                `<h4>${Util.escapeHTML(title)}</h4><p>${Util.escapeHTML(description)}</p>`;
            galleryItems.push({ src: imageURL, subHtml });
        }
        this.dynamicGallery.refresh(galleryItems);
        this.dynamicGallery.openGallery(0);
    };
    const initDynamicGallery = () => {
        const dummyButton = document.createElement('button');
        this.dynamicGallery = lightGallery(dummyButton, {
            dynamic: true,
            dynamicEl: [{
                src: 'https://monapalette.komikikaku.com/ogimage.png',
                subHtml: '<h4>dummy</h4><p>dummy</p>',
            }],
        });
    };
    const clearWindowMessages = () => {
        this.windowErrorText = '';
        this.update();
    };
    const showWindowError = (message) => {
        this.windowErrorText = message;
        this.update();
    };
    const sortByTimeAsc = (a, b) => {
        if (a.tx_index > b.tx_index) return 1;
        if (a.tx_index < b.tx_index) return -1;
        return (a.timestamp > b.timestamp ? 1 : -1);
    };
    const sortByTimeDesc = (a, b) => {
        if (a.tx_index < b.tx_index) return 1;
        if (a.tx_index > b.tx_index) return -1;
        return (a.timestamp < b.timestamp ? 1 : -1);
    };
    init();
</script>

</dboard-page>
