<dex-tab>

<div class="tab-frame">
    <div class="asset-inputs-frame">
        <div class="asset-input-frame"><material-textfield ref="asset1_input" hint="Token1" on_enter={ onEnterAssets }></material-textfield></div>
        <div class="asset-input-frame">
            <material-textfield ref="asset2_input" hint="Token2" on_enter={ onEnterAssets }></material-textfield>
            <div class="enterbutton-frame"><material-iconbutton icon="refresh" on_click={ onClickAssetsEnterButton }></material-iconbutton></div>
        </div>
    </div>
    <div if={ recentPairs.length } class="recentpairs-frame">
        <div each={ recentPairs } class="pair"><material-chip label={ baseName + ' / ' + quoteName } on_click={ () => onClickPair(baseName, quoteName) }></material-chip></div>
    </div>
    <div class="chart-frame">
        <div class="card-frame card-frame-quoteasset">
            <img if={ quoteAssetImage && !quoteAssetInfo.appData.rakugakinft } class="card" src={ quoteAssetImage } loading="lazy">
            <img if={ quoteAssetImage && quoteAssetInfo.appData.rakugakinft } class="card bg-checker" src={ quoteAssetImage + '?' + TagG.getRakugakiCacheID(quoteAssetInfo.asset) } loading="lazy">
            <div>
                <div if={ !quoteAssetInfo.group } class="asset-name">{ quoteAssetInfo.name }</div>
                <div if={ quoteAssetInfo.group } class="asset-name">{ quoteAssetInfo.group } <span class="nft-tag"></span></div>
                <div if={ quoteAssetInfo.group } class="asset-id">{ quoteAssetInfo.name }</div>
            </div>
        </div>
        <div class="card-frame card-frame-baseasset">
            <div>
                <div if={ !baseAssetInfo.group } class="asset-name">{ baseAssetInfo.name }</div>
                <div if={ baseAssetInfo.group } class="asset-name">{ baseAssetInfo.group } <span class="nft-tag"></span></div>
                <div if={ baseAssetInfo.group } class="asset-id">{ baseAssetInfo.name }</div>
            </div>
            <img if={ baseAssetImage && !baseAssetInfo.appData.rakugakinft } class="card" src={ baseAssetImage } loading="lazy">
            <img if={ baseAssetImage && baseAssetInfo.appData.rakugakinft } class="card bg-checker" src={ baseAssetImage + '?' + TagG.getRakugakiCacheID(baseAssetInfo.asset) } loading="lazy">
        </div>
        <canvas ref="chart_canvas" width="400" height="400"></canvas>
    </div>
    <div class="centering-frame">
        <div if={ isMarketLoaded } class="depth-frame"><div class="inner">
            <div class="labels-row">
                <div class="price-cell">Price<span if={ quoteAssetName }> [{ quoteAssetName }]</span>
                </div><div class="amount-cell">Amount<span if={ baseAssetName }> [{ baseAssetName }]</span>
                </div><div class="total-cell">Total<span if={ quoteAssetName }> [{ quoteAssetName }]</span>
                </div>
            </div>
            <div each={ asks } class="ask-row">
                <div class="price-cell" onclick={ onClickPrice }>{ priceS }</div><div class="amount-cell" onclick={ onClickAmount }>{ amountS }</div><div class="total-cell">{ totalS }</div>
            </div>
            <div class="last">
                <span if={ lastPrice && isLastBuy } class="buy"><i class="material-icons icon">arrow_upward</i>{ lastPrice }</span>
                <span if={ lastPrice && !isLastBuy } class="sell"><i class="material-icons icon">arrow_downward</i>{ lastPrice }</span>
            </div>
            <div each={ bids } class="bid-row">
                <div class="price-cell" onclick={ onClickPrice }>{ priceS }</div><div class="amount-cell" onclick={ onClickAmount }>{ amountS }</div><div class="total-cell">{ totalS }</div>
            </div>
        </div></div><div if={ isMarketLoaded } class="orderform-frame">
            <div if={ !addrsLoaded } class="orderform-nologin">{ TagG.jp ? '売買するにはWalletを開いてください' : 'To trade, open your wallet.' }</div>
            <div if={ addrsLoaded }>
                <div class="tabs-frame">
                    <div class="tab tab-buy"><material-button label={ TagG.jp ? '買い' : 'Buy' } on_click={ onClickBuyTabButton } is_white="true" is_fullwidth="true"></material-button>
                    </div><div class="tab tab-sell"><material-button label={ TagG.jp ? '売り' : 'Sell' } on_click={ onClickSellTabButton } is_white="true" is_fullwidth="true"></material-button></div>
                </div>
                <div class={ form-frame: true, form-frame-buy: isFormBuy, form-frame-sell: !isFormBuy }>
                    <div class="address-frame"><material-select ref="addr_select" hint="Address" is_fullwidth="true" is_menuwidth_fixed="true" items={ TagG.addrSelectItems } default_value={ TagG.addrSelectDefaultValue } on_change={ onChangeAddrSelect }></material-select></div>
                    <div class="balance-frame">{ TagG.jp ? '残高' : 'Balance' }: { baseAssetBalance }&nbsp;{ baseAssetName } / { quoteAssetBalance }&nbsp;{ quoteAssetName }</div>
                    <div class="amount-frame">
                        <div class="inline-input"><material-textfield ref="price_input" hint="Price" on_change={ onChangePriceInput }></material-textfield></div>
                        <div class="text-with-inlineinput">{ quoteAssetName }</div>
                    </div>
                    <div class="amount-frame">
                        <div class="inline-input"><material-textfield ref="amount_input" hint="Amount" helper="Max: 0" is_helper_persistent="true" on_change={ onChangeAmountInput }></material-textfield></div>
                        <div class="text-with-inlineinput">{ baseAssetName }</div>
                    </div>
                    <div class="total-frame">Total: { totalAmount } { quoteAssetName }</div>
                    <div if={ quoteAssetName === TagG.BASECHAIN_ASSET } class="basechainalert-frame">
                        <span if={ TagG.jp }>{ TagG.BASECHAIN_ASSET }建の注文はいちおう出すことはできますが、通常の方法では約定しません。トークンを{ TagG.BASECHAIN_ASSET }建で販売したい場合は自動販売(Dispenser)の利用をオススメします</span>
                        <span if={ !TagG.jp }>You can place { TagG.BASECHAIN_ASSET } orders, but it will not be matched in the usual way. If you want to sell your tokens in { TagG.BASECHAIN_ASSET }, using dispenser is recommended.</span>
                    </div>
                    <div class={ buysell-button-frame: true, buy-button-frame: isOrderable && isFormBuy, sell-button-frame: isOrderable && !isFormBuy }><material-button ref="order_button" label={ TagG.jp ? '注文する' : 'ORDER' } icon="send" on_click={ onClickOrderButton } is_white="true" is_fullwidth="true" is_disabled="true"></material-button></div>
                </div>
            </div>
            <util-spinner ref="orderform_spinner"></util-spinner>
        </div>
    </div>
    <div if={ myOrders.length > 0 } class="myorders-frame">
        <div class="title">{ TagG.jp ? 'あなたの注文' : 'Your orders' }</div>
        <div each={ myOrders } class="myorder">
            <div class="description">{ giveAmount }&nbsp;{ giveAssetName } → { getAmount }&nbsp;{ getAssetName }</div>
            <div class="percent">{ filledPercent }% filled</div>
            <div class="address">{ address }</div>
            <div class="cancel">
                <material-iconbutton icon="delete" on_click={ onClickCancelButton }></material-iconbutton>
            </div>
        </div>
    </div>
    <div class="recentorderedpairs-frame">
        <div if={ recentOrderedPairs.length > 0 }>
            <div class="title">{ TagG.jp ? '注文のあるペア' : 'Pairs with open orders' }</div>
            <div each={ recentOrderedPairs } class="pair" onclick={ () => onClickPair(baseName, quoteName) }>
                <img if={ baseImage } class={ card-image: true, has-ask: hasAsk } src={ baseImage } alt={ baseName } loading="lazy">
                <div if={ !baseImage } class={ image-alt: true, has-ask: hasAsk }><div class="image-alt-inner">{ baseName }</div></div>
                <i class="material-icons icon">swap_horiz</i>
                <img if={ quoteImage } class={ card-image: true, has-bid: hasBid } src={ quoteImage } alt={ quoteName } loading="lazy">
                <div if={ !quoteImage } class={ image-alt: true, has-bid: hasBid }><div class="image-alt-inner">{ quoteName }</div></div>
            </div>
        </div>
        <util-spinner ref="recentorderedpairs_spinner"></util-spinner>
    </div>
</div>

<div ref="swalwindows_container" show={ false }>
    <div ref="order_conf_window" class="dex-tab-swalwindow">
        <div class="title">
            <span if={ TagG.jp }>{ baseAssetName }を{ isFormBuy ? '買う' : '売る' }</span>
            <span if={ !TagG.jp }>{ isFormBuy ? 'Buy' : 'Sell' } { baseAssetName }</span>
        </div>
        <div class="basic">
            <span if={ TagG.jp }>1 枚あたり { commafy(orderData.price) } { quoteAssetName } で { commafy(orderData.amount) } { baseAssetName } の{ isFormBuy ? '買い' : '売り' }注文を出します。トランザクション手数料が { commafy(orderData.feeAmount) } { TagG.BASECHAIN_ASSET } かかりますがOKですか？</span>
            <span if={ !TagG.jp }>{ isFormBuy ? 'Buy' : 'Sell' } order for { commafy(orderData.amount) } { baseAssetName } at a price of { commafy(orderData.price) } { quoteAssetName } will be placed. You will be charged a tx fee of { commafy(orderData.feeAmount) } { TagG.BASECHAIN_ASSET }, OK?</span>
        </div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div class="bottombutton-frame">
            <material-button label="OK" on_click={ orderConfWindow.onClickOKButton } is_unelevated="true" is_fullwidth="true"></material-button>
        </div>
    </div>

    <div ref="cancel_conf_window" class="dex-tab-swalwindow">
        <div class="title">{ TagG.jp ? '注文を取り消す' : 'Delete order' }</div>
        <div class="basic">
            <span if={ TagG.jp }>注文を取り消します。トランザクション手数料が { commafy(cancelData.feeAmount) } { TagG.BASECHAIN_ASSET } かかりますがOKですか？</span>
            <span if={ !TagG.jp }>The order will be deleted. You will be charged a tx fee of { commafy(cancelData.feeAmount) } { TagG.BASECHAIN_ASSET }, OK?</span>
        </div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div class="bottombutton-frame">
            <material-button label="OK" on_click={ orderCancelWindow.onClickOKButton } is_unelevated="true" is_fullwidth="true"></material-button>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const RECENT_PAIRS = 6;
    const DEPTH_ROWS = 8;
    const defaultCommafy = Util.commafy;
    const decimalCommafy = (num) => Util.commafy(num, { decimal: TagG.SATOSHI_DECIMAL, removeDecimalZero: false });
    this.orderConfWindow = {};
    this.orderCancelWindow = {};
    this.orderData = {};
    this.cancelData = {};

    const init = () => {
        this.commafy = Util.commafy;
        this.recentPairs = Util.loadStorage(TagG.STORAGEKEY_RECENTPAIRS) || [];
        [this.initAsset1, this.initAsset2] = [opts.asset1, opts.asset2];
        this.baseAssetInfo = {};
        this.quoteAssetInfo = {};
        this.asks = [];
        this.bids = [];
        this.myOrders = [];
        this.recentOrderedPairs = [];
        while (this.asks.length < DEPTH_ROWS) this.asks.unshift({});
        while (this.bids.length < DEPTH_ROWS) this.bids.push({});
        this.isFormBuy = true;
        this.baseAssetBalance = 0;
        this.quoteAssetBalance = 0;
        this.totalAmount = 0;
    };

    this.onEnterAssets = () => {
        const asset1Name = this.refs.asset1_input.getValue();
        const asset2Name = this.refs.asset2_input.getValue();
        if (!asset1Name || !asset2Name) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'トークン名を入れてね' : 'No token name.', 'error');
        aShowMarket(asset1Name, asset2Name);
    };
    this.onClickAssetsEnterButton = () => {
        this.onEnterAssets();
    };
    this.onClickPair = (baseName, quoteName) => {
        aShowMarket(baseName, quoteName);
        try { scrollTo({ left: 0, top: 0, behavior: 'smooth' }) }
        catch (error) { scrollTo(0, 0) }
    };
    this.onChangeAddrSelect = () => { onChangeOrderInputs() };
    this.onChangePriceInput = () => { onChangeOrderInputs() };
    this.onChangeAmountInput = () => { onChangeOrderInputs() };
    this.onClickBuyTabButton = () => {
        this.isFormBuy = true;
        setMaxAmount();
        this.update();
    };
    this.onClickSellTabButton = () => {
        this.isFormBuy = false;
        setMaxAmount();
        this.update();
    };
    this.onClickOrderButton = () => {
        const address = this.refs.addr_select.getValue();
        const price = Number(this.refs.price_input.getValue());
        const amount = Number(this.refs.amount_input.getValue());
        if (!address) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'アドレスを選択してください' : 'No address selected.', 'error');
        if (isNaN(price)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '価格に変な値が入っています' : 'Invalid price.', 'error');
        if (isNaN(amount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量に変な値が入っています' : 'Invalid amount.', 'error');
        if (price <= 0) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '価格は正の値で入力してください' : 'Invalid price.', 'error');
        if (amount <= 0) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量は正の値で入力してください' : 'Invalid amount.', 'error');
        const totalAmount = price * amount;
        if (!this.isBaseDivisible && !Number.isInteger(amount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '数量は整数で入力してください' : 'Invalid amount.', 'error');
        if (!this.isQuoteDivisible && !Number.isInteger(totalAmount)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'Totalが整数になるように入力してください' : '"Total" must be an integer.', 'error');
        this.orderData.price = price;
        this.orderData.amount = amount;
        if (this.isFormBuy) {
            const giveSat = TagG.amount2qty(totalAmount, this.isQuoteDivisible);
            const getSat = TagG.amount2qty(amount, this.isBaseDivisible);
            aPrepareOrder(address, this.quoteAsset, giveSat, this.baseAsset, getSat);
        }
        else {
            const giveSat = TagG.amount2qty(amount, this.isBaseDivisible);
            const getSat = TagG.amount2qty(totalAmount, this.isQuoteDivisible);
            aPrepareOrder(address, this.baseAsset, giveSat, this.quoteAsset, getSat);
        }
    };
    this.orderConfWindow.onClickOKButton = () => { aOrder() };
    this.orderCancelWindow.onClickOKButton = () => { aCancel() };

    this.on('mount', async() => {
        const container = this.refs.swalwindows_container;
        while (container && container.firstChild) container.removeChild(container.firstChild);
        createChart();
        aShowRecentOrderedPairs();
        if (this.initAsset1 && this.initAsset2) aShowMarket(this.initAsset1, this.initAsset2);
        if (TagG.addrsData) {
            await TagG.aUpdateAddrsDataWithUI(this.refs.orderform_spinner);
            this.addrData = TagG.addrsData.find(data => (data.address === TagG.addrSelectDefaultValue));
            setBalances();
            this.addrsLoaded = true;
            this.update();
            aShowMyOrders();
        }
    });
    const onChangeOrderInputs = () => {
        const address = this.refs.addr_select.getValue();
        const price = Number(this.refs.price_input.getValue());
        const amount = Number(this.refs.amount_input.getValue());
        if (isNaN(price) || isNaN(amount)) this.totalAmount = 0;
        else this.totalAmount = Util.round(price * amount, TagG.SATOSHI_DECIMAL);
        if (address && this.totalAmount > 0) {
            this.isOrderable = true;
            this.refs.order_button.setDisabled(false);
        }
        else {
            this.isOrderable = false;
            this.refs.order_button.setDisabled(true);
        }
        this.addrData = TagG.addrsData.find(data => (data.address === address));
        setBalances();
        setMaxAmount();
        this.update();
    };
    const aOrder = async() => {
        try {
            TagG.bodySpinner.start();
            const signedTXHex = await TagG.aSignTXHex(this.orderData.txHex, this.addrData, null);
            const txID = await TagG.aBroadcast(signedTXHex);
            console.log({ txID });
            reduceBalance(this.orderData.giveAsset, this.orderData.giveSat);
            if (this.refs.amount_input) this.refs.amount_input.setValue('');
            onChangeOrderInputs();
            myswal({ title: 'Success', text: (TagG.jp ? '注文しました' : 'Ordered.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
        }
        catch (error) {
            console.error(error);
            showWindowError(TagG.jp ? `注文できませんでした。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to order. hint: ${error}`);
        }
        finally { TagG.bodySpinner.stop() }
    };
    const aCancel = async() => {
        try {
            TagG.bodySpinner.start();
            const addrData = TagG.addrsData.find(data => (data.address === this.cancelData.address));
            const signedTXHex = await TagG.aSignTXHex(this.cancelData.txHex, addrData, null);
            const txID = await TagG.aBroadcast(signedTXHex);
            console.log({ txID });
            this.myOrders = this.myOrders.filter(order => (order.txID !== this.cancelData.orderTxID));
            this.update();
            myswal({ title: 'Success', text: (TagG.jp ? '取り消しました' : 'Deleted.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
        }
        catch (error) {
            console.error(error);
            showWindowError(TagG.jp ? `取り消せませんでした。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to delete. hint: ${error}`);
        }
        finally { TagG.bodySpinner.stop() }
    };
    const aPrepareOrder = async(address, giveAsset, giveSat, getAsset, getSat) => {
        try {
            TagG.bodySpinner.start();
            const addrData = TagG.addrsData.find(data => (data.address === address));
            const orderParams = {
                'source': address,
                'give_asset': giveAsset,
                'give_quantity': giveSat,
                'get_asset': getAsset,
                'get_quantity': getSat,
                'expiration': 65535,
                'fee_provided': 0, // ドキュメントにないけど必須
                'fee_required': 0, // ドキュメントにないけど必須
                'fee_per_kb': TagG.FEESAT_PERBYTE * 1000,
                'extended_tx_info': true,
            };
            if (addrData.publicKey) orderParams['pubkey'] = addrData.publicKey.toString('hex');
            if (TagG.confNum === 0) orderParams['allow_unconfirmed_inputs'] = true;
            const orderData = this.orderData;
            await TagG.aMonapartyTXCreate('create_order', orderParams, orderData);
            orderData.address = address;
            orderData.giveAsset = giveAsset;
            orderData.giveSat = giveSat;
            console.log(orderData);
            clearWindowMessages();
            Util.aOpenContentSwal(this.refs.order_conf_window);
        }
        catch (error) { onCatchPrepareError(error) }
        finally { TagG.bodySpinner.stop() }
    };
    const aPrepareCancel = async(address, txID) => {
        try {
            TagG.bodySpinner.start();
            const addrData = TagG.addrsData.find(data => (data.address === address));
            const cancelParams = {
                'source': address,
                'offer_hash': txID,
                'fee_per_kb': TagG.FEESAT_PERBYTE * 1000,
                'extended_tx_info': true,
            };
            if (addrData.publicKey) cancelParams['pubkey'] = addrData.publicKey.toString('hex');
            if (TagG.confNum === 0) cancelParams['allow_unconfirmed_inputs'] = true;
            const cancelData = this.cancelData;
            await TagG.aMonapartyTXCreate('create_cancel', cancelParams, cancelData);
            cancelData.address = address;
            cancelData.orderTxID = txID;
            console.log(cancelData);
            clearWindowMessages();
            Util.aOpenContentSwal(this.refs.cancel_conf_window);
        }
        catch (error) { onCatchPrepareError(error) }
        finally { TagG.bodySpinner.stop() }
    };
    const aShowMarket = async(asset1Name, asset2Name) => {
        try {
            TagG.bodySpinner.start();
            await TagG.aLoadAssets([asset1Name, asset2Name], true, true);
            const asset1Info = TagG.asset2info[asset1Name];
            const asset2Info = TagG.asset2info[asset2Name];
            if (!asset1Info) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? `${asset1Name}というトークンはありません` : `There is no token named ${asset1Name}`, 'error');
            if (!asset2Info) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? `${asset2Name}というトークンはありません` : `There is no token named ${asset2Name}`, 'error');
            const [asset1, asset2] = [asset1Info.asset, asset2Info.asset];
            [this.asset1Info, this.asset2Info] = [asset1Info, asset2Info];
            await Promise.all([
                aShowDepth(asset1, asset2, asset1Name, asset2Name),
                aShowChart(asset1, asset2),
            ]);
            setBalances();
            setMaxAmount();
            addRecentPair();
            this.baseAssetImage = TagG.getAssetImageURL('auto', this.baseAsset);
            this.quoteAssetImage = TagG.getAssetImageURL('auto', this.quoteAsset);
            this.isMarketLoaded = true;
            this.update();
            this.refs.asset1_input.setValue(this.baseAssetName);
            this.refs.asset2_input.setValue(this.quoteAssetName);
            route(`/dex/${encodeURIComponent(this.baseAssetName)}/${encodeURIComponent(this.quoteAssetName)}`);
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
        finally { TagG.bodySpinner.stop() }
    };
    const aShowDepth = async(asset1, asset2, asset1Name, asset2Name) => {
        const marketParams = { 'asset1': asset1, 'asset2': asset2 };
        const marketDetail = await Monaparty.aBlock('get_market_details', marketParams);
        this.asks = marketDetail.sell_orders
            .map(order => parseDepthOrder(order, marketDetail.base_asset_divisible, marketDetail.quote_asset_divisible))
            .sort(sortByPriceDesc)
            .slice(-DEPTH_ROWS);
        this.bids = marketDetail.buy_orders
            .map(order => parseDepthOrder(order, marketDetail.base_asset_divisible, marketDetail.quote_asset_divisible))
            .sort(sortByPriceDesc)
            .slice(0, DEPTH_ROWS);
        while (this.asks.length < DEPTH_ROWS) this.asks.unshift({});
        while (this.bids.length < DEPTH_ROWS) this.bids.push({});
        const isAsset1Base = (marketDetail.base_asset === asset1);
        this.baseAssetName = isAsset1Base ? asset1Name : asset2Name;
        this.quoteAssetName = isAsset1Base ? asset2Name : asset1Name;
        this.baseAssetInfo = isAsset1Base ? this.asset1Info : this.asset2Info;
        this.quoteAssetInfo = isAsset1Base ? this.asset2Info : this.asset1Info;
        this.baseAsset = marketDetail.base_asset;
        this.quoteAsset = marketDetail.quote_asset;
        this.isBaseDivisible = Boolean(marketDetail.base_asset_divisible);
        this.isQuoteDivisible = Boolean(marketDetail.quote_asset_divisible);
        if (marketDetail.last_trades.length === 0) this.lastPrice = null;
        else {
            const lastTrade = marketDetail.last_trades.reduce((lastTrade, trade) => (trade.block_time > lastTrade.block_time ? trade : lastTrade));
            this.lastPrice = marketDetail.quote_asset_divisible ? decimalCommafy(lastTrade.price) : defaultCommafy(lastTrade.price);
            this.isLastBuy = (lastTrade.type === 'BUY');
        }
    };
    const aShowChart = async(asset1, asset2) => {
        const priceHistoryParams = { 'asset1': asset1, 'asset2': asset2, 'as_dict': true };
        const priceHistory = await Monaparty.aBlock('get_market_price_history', priceHistoryParams) || [];
        const priceData = priceHistory.map(tick => ({ t: new Date(tick.interval_time), y: tick.close }));
        const volumeData = priceHistory.map(tick => ({ t: new Date(tick.interval_time), y: tick.vol }));
        const volumeMin = priceHistory.reduce((min, tick) => (tick.vol < min ? tick.vol : min), Number.POSITIVE_INFINITY);
        const volumeMax = priceHistory.reduce((max, tick) => (tick.vol > max ? tick.vol : max), 0);
        const volumeBase = Math.sqrt((volumeMin + volumeMax) / 2);
        const volumeSizes = priceHistory.map(tick => (1 + Math.sqrt(tick.vol) / volumeBase * 10));
        this.chart.data.datasets[0].data = priceData;
        this.chart.data.datasets[1].data = volumeData;
        this.chart.data.datasets[1].pointRadius = volumeSizes;
        this.chart.update();
    };
    const aShowMyOrders = async() => {
        try {
            const addrs = TagG.addrsData.map(data => data.address);
            const getOrdersParams = {
                'status': 'open',
                'filters': [{ field: 'source', op: 'IN', value: addrs }],
            };
            const myOrders = await Monaparty.aParty('get_orders', getOrdersParams);
            const assets = [];
            for (const order of myOrders) {
                assets.push(order.give_asset);
                assets.push(order.get_asset);
            }
            await TagG.aLoadAssets(assets, true, true);
            this.myOrders = myOrders.map(order => parseMyOrder(order));
            this.update();
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
    };
    const aShowRecentOrderedPairs = async() => {
        try {
            if (this.refs.recentorderedpairs_spinner) this.refs.recentorderedpairs_spinner.start();
            const PRIOR_ASSETS = ['MONANA', 'MPYEN', 'CHAOSMONA', 'SPACEMONA', TagG.BUILTIN_ASSET, TagG.BASECHAIN_ASSET]; // 後ろが優先
            const getOrdersParams = {
                'limit': 300,
                'order_by': 'tx_index',
                'order_dir': 'DESC',
                'status': 'open',
                'filters': [
                    { field: 'give_asset', op: '!=', value: TagG.BASECHAIN_ASSET },
                    { field: 'get_asset', op: '!=', value: TagG.BASECHAIN_ASSET },
                ],
            };
            const recentOrders = await Monaparty.aParty('get_orders', getOrdersParams);
            const recentOrderedPairs = [];
            let assets = [];
            for (const order of recentOrders) {
                assets.push(order.give_asset);
                assets.push(order.get_asset);
            }
            assets = Util.uniq(assets);
            await TagG.aLoadAssets(assets, true, true);
            const sortedAssets = assets.slice();
            sortedAssets.sort((asset1, asset2) => asset1 > asset2 ? -1 : 1);
            for (const asset of PRIOR_ASSETS) sortedAssets.unshift(asset);
            for (const order of recentOrders) {
                let baseAsset, quoteAsset, isBid;
                if (sortedAssets.indexOf(order.give_asset) < sortedAssets.indexOf(order.get_asset)) {
                    baseAsset = order.get_asset;
                    quoteAsset = order.give_asset;
                    isBid = true;
                }
                else {
                    baseAsset = order.give_asset;
                    quoteAsset = order.get_asset;
                    isBid = false;
                }
                const baseInfo = TagG.asset2info[baseAsset];
                const quoteInfo = TagG.asset2info[quoteAsset];
                const baseName = baseInfo.name;
                const quoteName = quoteInfo.name;
                const existPair = recentOrderedPairs.find(pair => (pair.baseName === baseName && pair.quoteName === quoteName));
                if (existPair) {
                    if (isBid) existPair.hasBid = true;
                    else existPair.hasAsk = true;
                }
                else {
                    let baseImage = TagG.getAssetImageURL('S', baseInfo.asset);
                    let quoteImage = TagG.getAssetImageURL('S', quoteInfo.asset);
                    if (baseInfo.appData.rakugakinft) baseImage += `?${TagG.getRakugakiCacheID(baseInfo.asset)}`;
                    if (quoteInfo.appData.rakugakinft) quoteImage += `?${TagG.getRakugakiCacheID(quoteInfo.asset)}`;
                    const pair = { baseName, quoteName, baseImage, quoteImage };
                    if (isBid) pair.hasBid = true;
                    else pair.hasAsk = true;
                    recentOrderedPairs.push(pair);
                }
            }
            this.recentOrderedPairs = recentOrderedPairs;
            this.update();
        }
        catch (error) { console.error(error) }
        finally {
            if (this.refs.recentorderedpairs_spinner) this.refs.recentorderedpairs_spinner.stop();
        }
    };
    const createChart = () => {
        const context = this.refs.chart_canvas.getContext('2d');
        this.chart = new Chart(context, {
            data: {
                datasets: [{
                    label: 'Price',
                    type: 'line',
                    backgroundColor: 'rgba(255, 140, 0, 0.4)',
                    borderColor: 'rgba(255, 140, 0, 1.0)',
                    borderJoinStyle: 'round',
                    lineTension: 0,
                    fill: false,
                    yAxisID: 'price_axis',
                    data: [],
                }, {
                    label: 'Volume',
                    type: 'line',
                    backgroundColor: 'rgba(140, 255, 0, 0.4)',
                    borderColor: 'rgba(140, 255, 0, 1.0)',
                    pointRadius: [],
                    lineTension: 0,
                    fill: false,
                    showLine: false,
                    yAxisID: 'volume_axis',
                    data: [],
                }],
            },
            options: {
                maintainAspectRatio: false,
                legend: { onClick: null },
                scales: {
                    xAxes: [{
                        type: 'time',
                        distribution: 'linear',
                        time: {
                            minUnit: 'hour',
                            displayFormats: {
                                hour: 'MM/DD HH:mm',
                                day: 'MM/DD',
                                week: 'MM/DD',
                                month: 'YYYY/MM/DD',
                            },
                        },
                    }],
                    yAxes: [{
                        id: 'price_axis',
                        position: 'right',
                        ticks: { beginAtZero: true },
                    }, {
                        id: 'volume_axis',
                        display: false,
                        ticks: { beginAtZero: true },
                        gridLines: { drawOnChartArea: false },
                    }],
                }
            }
        });
    };
    const reduceBalance = (asset, satoshi) => {
        const balanceData = this.addrData.assets.find(assetData => (assetData.asset === asset));
        if (balanceData) balanceData.satoshi -= satoshi;
        else if (asset === TagG.BUILTIN_ASSET) this.addrData.builtinSat -= satoshi;
    };
    const setBalances = () => {
        if (!this.addrData) return;
        const baseAssetBalanceData = this.addrData.assets.find(asset => (asset.asset === this.baseAsset));
        const quoteAssetBalanceData = this.addrData.assets.find(asset => (asset.asset === this.quoteAsset));
        if (baseAssetBalanceData) this.baseAssetBalance = TagG.qty2amount(baseAssetBalanceData.satoshi, this.isBaseDivisible);
        else if (this.baseAsset === TagG.BUILTIN_ASSET) this.baseAssetBalance = this.addrData.builtinSat / TagG.SATOSHI_RATIO;
        else this.baseAssetBalance = 0;
        if (quoteAssetBalanceData) this.quoteAssetBalance = TagG.qty2amount(quoteAssetBalanceData.satoshi, this.isQuoteDivisible);
        else if (this.quoteAsset === TagG.BUILTIN_ASSET) this.quoteAssetBalance = this.addrData.builtinSat / TagG.SATOSHI_RATIO;
        else this.quoteAssetBalance = 0;
    };
    const setMaxAmount = () => {
        if (!this.refs.price_input) return;
        let maxAmount = 0
        if (this.isFormBuy) {
            const price = Number(this.refs.price_input.getValue());
            if (price > 0) {
                if (this.isBaseDivisible) maxAmount = Util.round(this.quoteAssetBalance / price, TagG.SATOSHI_DECIMAL);
                else maxAmount = Math.floor(this.quoteAssetBalance / price);
            }
            else maxAmount = 0;
        }
        else maxAmount = this.baseAssetBalance;
        if (this.refs.amount_input) this.refs.amount_input.setHelperMessage(`Max: ${maxAmount}`);
    };
    const addRecentPair = () => {
        const [baseName, quoteName] = [this.baseAssetName, this.quoteAssetName];
        const index = this.recentPairs.findIndex(pair => (pair.baseName === baseName && pair.quoteName === quoteName));
        if (index >= 0) this.recentPairs.splice(index, 1);
        this.recentPairs.unshift({ baseName, quoteName });
        this.recentPairs = this.recentPairs.slice(0, RECENT_PAIRS);
        Util.saveStorage(TagG.STORAGEKEY_RECENTPAIRS, this.recentPairs);
    };
    const parseDepthOrder = (order, baseDivisible, quoteDivisible) => {
        const price = Number(order.price);
        const amount = TagG.qty2amount(order.amount, baseDivisible);
        const total = TagG.qty2amount(order.total, quoteDivisible);
        return {
            price, amount, total,
            priceS: quoteDivisible ? decimalCommafy(price) : defaultCommafy(price),
            amountS: baseDivisible ? decimalCommafy(amount) : defaultCommafy(amount),
            totalS: quoteDivisible ? decimalCommafy(total) : defaultCommafy(total),
            onClickPrice: () => setPrice(price),
            onClickAmount: () => setAmount(amount),
        };
    };
    const parseMyOrder = (order) => {
        const giveAssetInfo = TagG.asset2info[order.give_asset];
        const getAssetInfo = TagG.asset2info[order.get_asset];
        return {
            txID: order.tx_hash,
            address: order.source,
            giveAsset: giveAssetInfo.asset,
            getAsset: getAssetInfo.asset,
            giveAssetName: giveAssetInfo.name,
            getAssetName: getAssetInfo.name,
            giveAmount: TagG.qty2amount(order.give_quantity, giveAssetInfo.divisible),
            getAmount: TagG.qty2amount(order.get_quantity, getAssetInfo.divisible),
            filledPercent: ((order.give_quantity - order.give_remaining) / order.give_quantity * 100).toFixed(2),
            onClickCancelButton: () => aPrepareCancel(order.source, order.tx_hash),
        };
    };
    const setPrice = (price) => {
        if (!this.refs.price_input) return;
        const noExpPrice = defaultCommafy(price).replace(/,/g, '');
        this.refs.price_input.setValue(noExpPrice);
        onChangeOrderInputs();
    };
    const setAmount = (amount) => {
        if (!this.refs.amount_input) return;
        const noExpAmount = defaultCommafy(amount).replace(/,/g, '');
        this.refs.amount_input.setValue(noExpAmount);
        onChangeOrderInputs();
    };
    const clearWindowMessages = () => {
        this.windowErrorText = '';
        this.update();
    };
    const showWindowError = (message) => {
        this.windowErrorText = message;
        this.update();
    };
    const onCatchPrepareError = (error) => {
        console.error(error);
        myswal('Error', (TagG.jp ? `トランザクションの準備に失敗しました。入力した値に問題があるか、必要な${TagG.BASECHAIN_ASSET}やトークンが足りないかもしれません。データの更新などいろいろ試してもうまくいかない場合は情報を揃えてご連絡ください。ヒント：${error}` : `Failed to prepare tx. hint: ${error}`), 'error');
    };
    const sortByPriceDesc = (a, b) => (a.price < b.price ? 1 : -1);
    init();
</script>

</dex-tab>
