dex-tab {
    .tab-frame {
        position: relative;
        padding: 0 0 80px 0;
    }
    .asset-inputs-frame {
        text-align: center;
        margin: 16px 0 -12px 0;
        .asset-input-frame {
            position: relative;
            display: inline-block;
            margin: 0 5px;
            width: 100%;
            max-width: 280px;
            .enterbutton-frame {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
    }
    .recentpairs-frame {
        max-height: 76px;
        text-align: center;
        overflow: hidden;
        .pair {
            display: inline-block;
            margin: 3px;
        }
    }
    .chart-frame {
        position: relative;
        box-sizing: border-box;
        padding: 10px;
        max-width: 1200px;
        margin: 0 auto;
        .card-frame {
            position: absolute;
            opacity: 0.75;
            z-index: -1;
            &.card-frame-baseasset {
                top: 60px;
                left: 10%;
            }
            &.card-frame-quoteasset {
                bottom: 70px;
                right: 10%;
                text-align: right;
                .card {
                    margin-right: 0;
                    margin-left: auto;
                }
            }
            .card {
                display: block;
                width: 112px;
                border-radius: 3px;
            }
            .asset-name {
                margin-top: 4px;
                font-size: 20px;
            }
            .asset-id {
                font-size: 12px;
                margin-bottom: 4px;
            }
        }
    }
    .centering-frame {
        position: relative;
        text-align: center;
    }
    .depth-frame {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        width: 50%;
        max-width: 600px;
        padding: 20px 10px;
        font-size: 14px;
        line-height: 20px;
        @media screen and (max-width: $pcWidth) {
            width: 100%;
        }
        .inner {
            border-style: solid none;
            border-width: 1px;
            border-color: rgba(black, 0.06);
        }
        .price-cell {
            display: inline-block;
            box-sizing: border-box;
            width: 32%;
            text-align: left;
        }
        .amount-cell {
            display: inline-block;
            box-sizing: border-box;
            width: 30%;
            padding: 0 2px;
            text-align: right;
            background-color: rgba(black, 0.02);
        }
        .total-cell {
            display: inline-block;
            box-sizing: border-box;
            width: 38%;
            text-align: right;
        }
        .labels-row {
            position: relative;
            display: flex;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: rgba(black, 0.06);
        }
        .ask-row {
            position: relative;
            display: flex;
            margin: 1px 0;
            min-height: 20px;
            .price-cell {
                padding-right: 2px;
                text-align: right;
                color: #DE524D;
                cursor: pointer;
            }
            .amount-cell {
                cursor: pointer;
            }
        }
        .bid-row {
            position: relative;
            display: flex;
            margin: 1px 0;
            min-height: 20px;
            .price-cell {
                padding-right: 2px;
                text-align: right;
                color: #009688;
                cursor: pointer;
            }
            .amount-cell {
                cursor: pointer;
            }
        }
        .last {
            font-size: 20px;
            height: 40px;
            line-height: 40px;
            text-align: left;
            border-style: solid none;
            border-width: 1px;
            border-color: rgba(black, 0.06);
            padding-left: 32px;
            .buy {
                color: #009688;
            }
            .sell {
                color: #DE524D;
            }
            .icon {
                vertical-align: middle;
            }
        }
    }
    .orderform-frame {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        vertical-align: top;
        width: 50%;
        max-width: 600px;
        padding: 20px 10px;
        @media screen and (max-width: $pcWidth) {
            width: 100%;
        }
        .orderform-nologin {
            line-height: 400px;
            text-align: center;
            color: $quietColor;
            word-break: keep-all;
        }
        .tabs-frame {
            position: relative;
            text-align: left;
            .tab {
                display: inline-block;
                width: 50%;
                border-radius: 3px 3px 0 0;
            }
            .tab-buy {
                background-color: #009688;
            }
            .tab-sell {
                background-color: #DE524D;
            }
        }
        .form-frame {
            box-sizing: border-box;
            padding: 10px;
            background-color: white;
            border-style: solid;
            border-width: 1px;
            border-radius: 0 0 3px 3px;
            text-align: center;
            .address-frame {
                margin: 10px 0 20px 0;
            }
            .balance-frame {
                margin: 20px 0;
                font-size: 14px;
            }
            .amount-frame {
                margin: 20px 0;
                .inline-input {
                    width: 200px;
                    display: inline-block;
                    vertical-align: middle;
                }
                .text-with-inlineinput {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 200px;
                    max-width: calc(100% - 210px);
                    padding-top: 12px;
                    padding-left: 6px;
                    vertical-align: middle;
                    font-size: 16px;
                    text-align: left;
                }
            }
            .total-frame {
                margin: 20px 0;
            }
            .basechainalert-frame {
                margin: 20px 0;
                color: tomato;
            }
            .buysell-button-frame {
                margin: 10px auto 0 auto;
                border-radius: 3px;
                background-color: $quietColor;
            }
            .buy-button-frame {
                background-color: #009688;
            }
            .sell-button-frame {
                background-color: #DE524D;
            }
        }
        .form-frame-buy {
            border-color: #009688;
        }
        .form-frame-sell {
            border-color: #DE524D;
        }
    }
    .myorders-frame {
        box-sizing: border-box;
        position: relative;
        max-width: 1200px;
        padding: 10px;
        margin: 0 auto;
        .title {
            text-align: left;
            padding: 10px 0;
            font-size: 18px;
        }
        .myorder {
            position: relative;
            padding: 6px 48px 6px 10px;
            margin-bottom: 10px;
            font-size: 14px;
            background-color: white;
            border-style: solid;
            border-width: 1px;
            border-color: #EEEEEE;
            border-radius: 3px;
            .description {
                text-align: left;
                font-size: 17px;
            }
            .percent {
                text-align: left;
            }
            .address {
                text-align: left;
            }
            .cancel {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    .recentorderedpairs-frame {
        box-sizing: border-box;
        position: relative;
        max-width: 1200px;
        min-height: 100px;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        .title {
            text-align: left;
            padding: 10px 0;
            font-size: 18px;
        }
        .pair {
            display: inline-block;
            width: 148px; // content-visibility: auto の円滑動作のため指定
            min-height: 60px;
            margin: 14px;
            cursor: pointer;
            content-visibility: auto;
            .card-image {
                width: 56px;
                vertical-align: middle;
                border-style: solid;
                border-width: 2px;
                border-radius: 4px;
                border-color: #EEEEEE;
            }
            .image-alt {
                display: inline-block;
                position: relative;
                width: 56px;
                height: 80px;
                vertical-align: middle;
                font-size: 12px;
                overflow: hidden;
                background-color: white;
                border-style: solid;
                border-width: 2px;
                border-radius: 4px;
                border-color: #EEEEEE;
                .image-alt-inner {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    text-align: center;
                }
            }
            .has-ask {
                border-color: #DE524D;
            }
            .has-bid {
                border-color: #009688;
            }
            .icon {
                vertical-align: middle;
                font-size: 18px;
            }
        }
    }
}
