<dispensers-tab>

<div class="tab-frame">
    <div class="search-frame">
        <material-textfield ref="search_input" hint="Search" on_input={ onInputSearch }></material-textfield>
        <div class="search-clearbutton-frame"><material-iconbutton icon="clear" on_click={ onClickClearSearchButton }></material-iconbutton></div>
    </div>
    <div class="search-chips">
        <div each={ searchChips } class="search-chip"><material-chip label={ label } on_click={ onClick }></material-chip></div>
    </div>
    <div class="tokensale-items">
        <div each={ dispensersToShow } class="tokensale-item { tokensale-item-square: assetInfo.appData.monacharat || assetInfo.appData.rakugakinft }" onclick={ onClick }>
            <img if={ !imageURL } class="image" src={ TagG.RELATIVE_URL_BASE + 'img/noimage.png' } loading="lazy">
            <img if={ imageURL && !assetInfo.appData.rakugakinft } class="image" src={ imageURL } loading="lazy">
            <img if={ imageURL && assetInfo.appData.rakugakinft } class="image bg-checker" src={ imageURL + '?' + TagG.getRakugakiCacheID(asset) } loading="lazy">
            <div class="info-frame">
                <div if={ !assetGroup }>{ assetInfo.shortenName }<span if={ unitAssetAmount !== 1 } class="amount"> x&nbsp;{ unitAssetAmountS }</span></div>
                <div if={ assetGroup }>{ assetGroup } <span class="nft-tag"></span></div>
                <div if={ assetGroup } class="asset-id">{ assetName }</div>
                <div>{ unitBaseAmountS }<span class="unit">{ baseAsset }</span></div>
                <div class="addr-button" onclick={ onClickAddr }>
                    <div if={ awaseuriCount > 1 } class="setcount">{ awaseuriCount } set</div>
                    <div class="hashcolors"><util-hashcolors seed_value={ address }></util-hashcolors></div>
                </div>
            </div>
            <div if={ TagG.asset2isInMyWallet[asset] } class="status-icon status-icon-wallet"><i class="material-icons">account_balance_wallet</i></div>
            <div if={ TagG.asset2treasures[asset] } class="status-icon status-icon-treasure"><i class="material-icons">attachment</i></div>
        </div>
        <util-spinner ref="spinner"></util-spinner>
    </div>
    <div class="toprightbutton-frame lefter"><material-iconbutton icon="swap_vert" on_click={ onClickReverseButton }></material-iconbutton></div>
    <div class="toprightbutton-frame"><material-iconbutton ref="update_button" icon="refresh" on_click={ onClickUpdateButton }></material-iconbutton></div>
</div>

<script>
    const init = () => {
        this.TagG = TagG;
        this.commafy = Util.commafy;
        this.baseAsset = TagG.BASECHAIN_ASSET;
        this.dispensers = [];
        this.dispensersToShow = [];
        this.searchedQuery = '';
        this.isReverse = false;
        this.searchChips = [
            { label: 'XMP', onClick: () => search('XMP CC-BY-SA') },
            { label: 'NFT', onClick: () => search('[NFT]') },
            { label: 'Locked', onClick: () => search('[LOCKED]') },
            { label: 'Rakugaki', onClick: () => search('Rakugaki [NFT]') },
            { label: 'MonaCharaT', onClick: () => search('MonaCharaT [NFT]') },
            { label: 'AND ex.', onClick: () => search('モナパレット スタイルトークン') },
            { label: 'OR ex.', onClick: () => search('オダイロイド１号 OR モナパちゃん OR Tiproid') },
        ];
        if (TagG.query[TagG.QUERYKEY_SEARCH]) {
            this.searchedQuery = decodeURIComponent(TagG.query[TagG.QUERYKEY_SEARCH].replace(/\+/g, ' '));
            delete TagG.query[TagG.QUERYKEY_SEARCH];
        }
    };
    this.onInputSearch = (query) => {
        query = query.trim();
        if (query === this.searchedQuery) return;
        search(query);
    };
    this.onClickClearSearchButton = () => {
        if (this.searchedQuery === '') return;
        search('');
    }
    this.onClickReverseButton = () => {
        this.isReverse = !this.isReverse;
        search(this.searchedQuery);
    };
    this.onClickUpdateButton = async() => {
        if (this.refs.update_button) this.refs.update_button.setDisabled(true);
        await TagG.aLoadRakugakiTitles().catch(console.warn);
        await aShowDispensers();
        await aUpdateAddrs();
        setTimeout(() => {
            if (this.refs.update_button) this.refs.update_button.setDisabled(false);
        }, 10000);
    };
    this.on('mount', async() => {
        await TagG.aLoadRakugakiTitles().catch(console.warn);
        await aShowDispensers();
        await aUpdateAddrs();
        TagG.aLoadTreasures().then(() => { this.update() });
        TagG.aLoadAssetsExtendedInfo().then(isUpdated => { if (isUpdated) this.update() });
    });
    const aUpdateAddrs = async() => {
        if (!TagG.addrsData) return;
        await TagG.aUpdateAddrsDataWithUI(null);
        this.update();
    };
    const aShowDispensers = async() => {
        try {
            if (this.refs.spinner) this.refs.spinner.start();
            this.dispensers = await TagG.aGetDispensers();
            const addr2count = {};
            for (const dispenser of this.dispensers) {
                dispenser.searchText = getSearchText(dispenser);
                dispenser.onClick = () => { TagG.bodyDispenserPurchase.open(dispenser, 'dispensers') };
                dispenser.onClickAddr = (event) => {
                    event.stopPropagation();
                    search(dispenser.address);
                };
                if (!addr2count[dispenser.address]) addr2count[dispenser.address] = 0;
                addr2count[dispenser.address]++;
            }
            for (const dispenser of this.dispensers) dispenser.awaseuriCount = addr2count[dispenser.address];
            search(this.searchedQuery);
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
        finally { if (this.refs.spinner) this.refs.spinner.stop() }
    };
    const getSearchText = (dispenser) => {
        const { asset, assetName, address, assetInfo, cardData } = dispenser;
        let text = `${assetName.toLowerCase()} ${assetName} ${asset} ${address} ${assetInfo.description} ${assetInfo.isLocked ? '[LOCKED]' : ''}`;
        if (assetInfo.group) text += ` ${assetInfo.group} [NFT]`;
        if (!cardData) return text;
        text += ` ${cardData.cardName} ${cardData.ownerName} ${cardData.description} ${cardData.tags}`;
        return text;
    };
    const search = (query) => {
        this.searchedQuery = query;
        const searchID = Math.random();
        this.searchID = searchID;
        let isOR = false;
        let words = query.split(/\s+OR\s+/).map(word => word.trim()).filter(word => word);
        if (words.length > 1) isOR = true;
        else words = query.split(/\s+/).filter(word => word);
        let filteredList;
        if (words.length === 0) filteredList = this.dispensers.slice();
        else {
            if (isOR) {
                filteredList = this.dispensers.filter(dispenser => {
                    for (const word of words) {
                        if (dispenser.searchText.includes(word)) return true;
                    }
                    return false;
                });
            }
            else {
                filteredList = this.dispensers.filter(dispenser => {
                    for (const word of words) {
                        if (!dispenser.searchText.includes(word)) return false;
                    }
                    return true;
                });
            }
        }
        if (this.isReverse) filteredList.reverse();
        if (this.refs.search_input && this.refs.search_input.getValue() !== query) this.refs.search_input.setValue(query);
        setURLQuery(query);
        const FIRST = 30;
        const ONCE = 300;
        this.dispensersToShow = filteredList.slice(0, FIRST);
        this.update();
        let length = FIRST;
        const showMore = () => {
            if (length >= filteredList.length || searchID !== this.searchID) return;
            if (!TagG.IS_LAZYLOADAVAILABLE && length > 300) return;
            length += ONCE;
            this.dispensersToShow = filteredList.slice(0, length);
            this.update();
            setTimeout(showMore, 0);
        };
        setTimeout(showMore, 0);
    };
    const setURLQuery = (query) => {
        const urlObj = new URL(location);
        if (query) urlObj.searchParams.set(TagG.QUERYKEY_SEARCH, query);
        else urlObj.searchParams.delete(TagG.QUERYKEY_SEARCH);
        history.replaceState(null, '', urlObj.toString());
    };
    init();
</script>

</dispensers-tab>
