dispensers-tab {
    .tab-frame {
        position: relative;
        padding: 0 0 80px 0;
        .toprightbutton-frame {
            position: absolute;
            top: 4px;
            right: 10px;
            &.lefter {
                right: 62px;
            }
        }
        .search-frame {
            position: relative;
            margin: 12px 114px 12px 12px;
            .search-clearbutton-frame {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
        .search-chips {
            margin: 12px 8px;
            height: 32px;
            overflow: hidden;
            .search-chip {
                display: inline-block;
                margin: 0 3px;
            }
        }
    }
    @include dispensers;
}
