<generate-kirakiraaddr-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">star_outline</i>
        <h2 class="page-title">{ TagG.jp ? 'キラキラアドレス生成' : 'KIRA KIRA Address' }</h2>
        <div class="page-helpbutton-frame">
            <material-iconbutton icon="help_outline" on_click={ onClickPageHelpButton }></material-iconbutton>
        </div>
    </div>
    <div class="page-content">
        <div if={ isWIFMode } class="centering alert">
            <span if={ TagG.jp }>ニーモニックと比べると人間が直接取り扱うには難があるため、ウォレットのバックアップをWIFで管理することは現在推奨されていません。アドレスのスキャンはWIFモードのほうが速いですが、あくまでホビー用途のアドレスに留めておくことをオススメします</span>
            <span if={ !TagG.jp }>Managing wallet backups in WIF is not recommended. Scanning of addresses is faster in WIF mode, but it is recommended to keep the addresses from WIF for hobby use only.</span>
        </div>
        <div class="centering"><material-switch ref="segwit_switch" label={ 'Native Segwit' } on_change={ onChangeSegwitSwitch }></material-switch></div>
        <div class="centering">{ TagG.jp ? '使える文字' : 'Allowed characters' }&ensp;<code class="allowed-chars">{ allowedChars }</code></div>
        <div class="centering prewrap">{ probabilityMessage }</div>
        <div class="centering">
            <material-textfield if={ isSegwit } ref="postfix_input" hint="Postfix" pattern={ '[02-9ac-hj-np-z,\\s]*' } invalid_message="Non-Bech32 Character"></material-textfield>
            <material-textfield if={ !isSegwit } ref="postfix_input" hint="Postfix" pattern={ '[1-9A-HJ-NP-Za-km-z,\\s]*' } invalid_message="Non-Base58 Character"></material-textfield>
        </div>
        <div if={ !isWIFMode } class="centering maxindex-frame">
            <div class="text-with-inlineinput">{ TagG.jp ? '' : 'Check up to' }</div>
            <div class="inline-input"><material-select ref="maxindex_select" hint="Index" is_fullwidth="true" items={ INDEX_SELECT_ITEMS } default_value={ INDEX_SELECT_ITEMS[0].value + '' }></material-select></div>
            <div class="text-with-inlineinput">{ TagG.jp ? '番目のアドレスまでチェック' : 'th address' }</div>
        </div>
        <div class="centering">
            <material-button if={ !mining } label="START ADDRESS MINING" icon="play_circle_filled" is_unelevated="true" on_click={ onClickStartButton }></material-button>
            <material-button if={ mining } label="STOP" icon="stop_circle" is_unelevated="true" on_click={ onClickStopButton }></material-button>
        </div>
        <div if={ Number.isInteger(addrCount) } class="centering">{ commafy(addrCount) }{ TagG.jp ? '個のアドレスをスキャンしました' : ' addresses scanned.' }</div>
        <div class="spinner-box"><util-spinner ref="spinner"></util-spinner></div>
        <div class="centering">
            <div each={ generatedList } class="generated-item">
                <div if={ mnemonic }>
                    <div class="item-description">
                        <span if={ TagG.jp }>{ addrIndex + 1 } 番目のアドレスが { address } になるニーモニック</span>
                        <span if={ !TagG.jp }>Mnemonic with { addrIndex + 1 }th address { address }</span>
                    </div>
                    <div class="item-mnemonic">{ mnemonic }</div>
                </div>
                <div if={ wif }>
                    <div class="item-description">
                        <span if={ TagG.jp }>アドレス { address } のWIF</span>
                        <span if={ !TagG.jp }>WIF of { address }</span>
                    </div>
                    <div class="item-mnemonic">{ wif }</div>
                </div>
            </div>
            <div if={ generatedList.length && !isWIFMode } class="new-mnemonic-note">
                <span if={ TagG.jp }>生成されたニーモニックは間違いのないように記録して、あなたしか見られない安全な場所に保管しましょう。ニーモニックを普段使いするのは不安なので、ニーモニックを記録したら<a href={ LINK_BASE + 'regenerate_quickurl' }>Quick Access URL 再生成ツール</a>でQuick Access URLを作るとよいです。</span>
                <span if={ !TagG.jp }>Keep the generated mnemonics in a safe place where only you can access. As directly using mnemonics on a regular basis is not secure, <a href={ LINK_BASE + 'regenerate_quickurl' }>generating quick-access URL</a> is recommended.</span>
            </div>
        </div>
        <div if={ !mining } class="page-footer">
            <material-button if={ !isWIFMode } label={ TagG.jp ? 'WIFモード' : 'Go to WIF mode' } icon="warning" on_click={ onClickWIFModeSwitchButton }></material-button>
            <material-button if={ isWIFMode } label={ TagG.jp ? 'ニーモニックモードに戻る' : 'Go to mnemonic mode' } on_click={ onClickWIFModeSwitchButton }></material-button>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.INDEX_SELECT_ITEMS = [...Array(20).keys()].map(i => ({ value: i, label: i + 1 }));
    this.LINK_BASE = TagG.RELATIVE_LINK_BASE;
    this.commafy = Util.commafy;
    this.generatedList = [];
    this.isWIFMode = false;
    
    this.onClickPageHelpButton = () => {
        myswal({
            text: (TagG.jp?
            '末尾が指定した文字列になっているアドレスが出るまでひたすらニーモニックを生成します。おしゃれなアドレスをマイニングしてお友達に自慢しましょう\n\n文字数が増えるほど当たりづらくなります。レガシーなアドレス(Base58)とNative Segwitのアドレス(Bech32)では使える文字も当たりやすさも違うので注意してください。カンマ区切りで複数指定すると、どれか1つにマッチした時点で終了するので速くなります\n\nニーモニックからseedを計算するくだりにいちばん時間がかかるので、1つのニーモニックに対してチェックするアドレスの数を増やしたほうが速くなります':
            'You can keep generating mnemonics until you get an address that ends with the specified string.\n\nThe longer the length of the string you specify, the harder it is to hit. Please note that the legacy address (Base58) and the native segwit address (Bech32) differ in both the allowed characters and the ease of matching. If you specify multiple strings separated by commas, it will be faster because it will terminate when it matches one of them.\n\nAs the most time consuming part is calculating the seed from the mnemonic, increasing the number of addresses to check for each mnemonic will make it faster.'),
            buttons: {},
        });
    };
    this.onChangeSegwitSwitch = (isSegwit) => { setSegwit(isSegwit) };
    this.onClickStartButton = () => {
        const postfixs = this.refs.postfix_input.getValue().trim().split(/\s*,\s*/);
        const maxAddrIndex = this.refs.maxindex_select ? Number(this.refs.maxindex_select.getValue()) : null;
        const addrType = this.isSegwit ? ADDR_TYPE.P2WPKH : ADDR_TYPE.P2PKH;
        for (const postfix of postfixs) {
            if (postfix.length === 0) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '空文字列は指定できません' : 'No postfix specified.', 'error');
        }
        aMine(postfixs, addrType, maxAddrIndex);
    };
    this.onClickStopButton = async() => {
        this.cancelled = true;
    };
    this.onClickWIFModeSwitchButton = () => {
        this.isWIFMode = !this.isWIFMode;
        this.update();
    };

    this.on('mount', () => {
        setSegwit(false);
    });
    this.on('before-unmount', () => {
        this.cancelled = true;
        clearInterval(this.counterIntervalID);
    });
    const setSegwit = (isSegwit) => {
        this.isSegwit = isSegwit;
        this.allowedChars = isSegwit ? '023456789acdefghjklmnpqrstuvwxyz' : '123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz';
        const charNum = this.allowedChars.length;
        this.probabilityMessage = TagG.jp?
        `2文字で${Util.commafy(charNum**2)}個に1つ、3文字で${Util.commafy(charNum**3)}個に1つ、4文字で${Util.commafy(charNum**4)}個に1つの割合`:
        `2chars → 1/${Util.commafy(charNum**2)}    3chars → 1/${Util.commafy(charNum**3)}    4chars → 1/${Util.commafy(charNum**4)}`;
        this.update();
    };
    const aMine = async(postfixs, addrType, maxAddrIndex = null) => {
        if (!this.isWIFMode) return await aMineMnemonic(postfixs, addrType, maxAddrIndex);
        else return await aMineWIF(postfixs, addrType);
    };
    const aMineMnemonic = async(postfixs, addrType, maxAddrIndex) => {
        this.refs.spinner.start();
        this.mining = true;
        this.cancelled = false;
        this.addrCount = 0;
        const addrFunc = (addrType === ADDR_TYPE.P2WPKH) ? TagG.bitcoinjs.payments.p2wpkh : TagG.bitcoinjs.payments.p2pkh;
        const paths = [...Array(maxAddrIndex + 1).keys()].map(index => `${TagG.addrType2defaultAccountPath(addrType)}/0/${index}`);
        const firstMnemonic = await TagG.aGenerateStrongMnemonic(128);
        const entropyBuffer = Buffer.from(TagG.bip39.mnemonicToEntropy(firstMnemonic), 'hex');
        let mnemonic, addrIndex, address;
        let isFound = false;
        this.update();
        this.counterIntervalID = setInterval(() => { this.update() }, 5000);
        let loopCount = 0;
        while (!this.cancelled && !isFound) {
            incrementLittleEdianBuffer(entropyBuffer);
            const entropy = entropyBuffer.toString('hex');
            mnemonic = TagG.bip39.entropyToMnemonic(entropy);
            const seed = TagG.bip39.mnemonicToSeed(mnemonic);
            addrIndex = 0;
            for (const path of paths) {
                const hdKey = TagG.HDKey.fromMasterSeed(seed).derive(path);
                address = addrFunc({ pubkey: hdKey.publicKey, network: TagG.NETWORK }).address;
                this.addrCount++;
                if (postfixs.some(postfix => (address.slice(-postfix.length) === postfix))) {
                    isFound = true;
                    break;
                }
                addrIndex++;
            }
            if (++loopCount % 10 === 0) await Util.aSleep(1); // 制御ロック防止
        }
        if (isFound) {
            if (addrType === ADDR_TYPE.P2WPKH) mnemonic += ' #segwit';
            this.generatedList.unshift({ mnemonic, addrIndex, address });
        }
        clearInterval(this.counterIntervalID);
        this.mining = false;
        this.update();
        this.refs.spinner.stop();
    };
    const aMineWIF = async(postfixs, addrType) => {
        this.refs.spinner.start();
        this.mining = true;
        this.cancelled = false;
        this.addrCount = 0;
        const addrFunc = (addrType === ADDR_TYPE.P2WPKH) ? TagG.bitcoinjs.payments.p2wpkh : TagG.bitcoinjs.payments.p2pkh;
        const mnemonic = await TagG.aGenerateStrongMnemonic(128);
        const seed = TagG.bip39.mnemonicToSeed(mnemonic);
        const hdKey = TagG.HDKey.fromMasterSeed(seed);
        let privateKey = hdKey.privateKey;
        let ecPair, address;
        let isFound = false;
        this.update();
        this.counterIntervalID = setInterval(() => { this.update() }, 5000);
        let loopCount = 0;
        while (!this.cancelled && !isFound) {
            incrementLittleEdianBuffer(privateKey);
            ecPair = TagG.bitcoinjs.ECPair.fromPrivateKey(hdKey.privateKey, { network: TagG.NETWORK });
            address = addrFunc({ pubkey: ecPair.publicKey, network: TagG.NETWORK }).address;
            this.addrCount++;
            if (postfixs.some(postfix => (address.slice(-postfix.length) === postfix))) {
                isFound = true;
                break;
            }
            if (++loopCount % 500 === 0) await Util.aSleep(1); // 制御ロック防止
        }
        if (isFound) {
            const wif = ecPair.toWIF();
            this.generatedList.unshift({ wif, address });
        }
        clearInterval(this.counterIntervalID);
        this.mining = false;
        this.update();
        this.refs.spinner.stop();
    };
    const incrementLittleEdianBuffer = (buffer) => {
        for (let i = 0; i < buffer.length; i++) {
            if (buffer[i]++ !== 255) break;
        }
    }
</script>

</generate-kirakiraaddr-page>
