generate-kirakiraaddr-page {
    .app-page {
        .page-content {
            padding: 10px 10px 100px 10px;
            min-height: calc(100vh - 122px);
            box-sizing: border-box;
        }
        .page-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 4px;
            text-align: left;
        }
    }
    .centering {
        text-align: center;
        max-width: 800px;
        margin: 20px auto 40px auto;
        &.alert {
            color: tomato;
        }
    }
    .allowed-chars {
        background-color: #EEEEEE;
    }
    .maxindex-frame {
        .inline-input {
            width: 100px;
            display: inline-block;
            vertical-align: middle;
        }
        .text-with-inlineinput {
            display: inline-block;
            box-sizing: border-box;
            padding-top: 12px;
            padding-left: 6px;
            padding-right: 6px;
            vertical-align: middle;
            font-size: 16px;
            text-align: left;
        }
    }
    .new-mnemonic-note {
        text-align: left;
        margin: 16px 8px;
    }
    .spinner-box {
        position: relative;
        height: 0;
    }
    .generated-item {
        position: relative;
        margin: 10px 0;
        padding: 10px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        border-radius: 3px;
        .item-description {
            margin: 2px 0 10px 0;
        }
        .item-mnemonic {
            text-align: center;
            background-color: #EEEEEE;
            font-family: $codeFontFamily;
            border-radius: 4px;
            padding: 12px;
            line-height: 26px;
        }
    }
    .prewrap {
        white-space: pre-wrap;
    }
}
