<markets-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">local_grocery_store</i>
        <h2 class="page-title">Markets</h2>
    </div>
    <div class="page-content">
        <material-tabbar ref="tabbar" items={ TAB_ITEMS } default_value={ tab } on_change={ onChangeTab }></material-tabbar>
        <div>
            <dispensers-tab if={ tab === TABS.DISPENSERS }></dispensers-tab>
            <dex-tab if={ tab === TABS.DEX } asset1={ initAsset1 } asset2={ initAsset2 }></dex-tab>
            <shops-tab if={ tab === TABS.SHOPS } shop_id={ shopID }></shops-tab>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const TABS = this.TABS = { DEX: 'DEX', DISPENSERS: 'DISPENSERS', SHOPS: 'SHOPS' };
    this.TAB_ITEMS = [
        { value: TABS.DISPENSERS, label: 'Dispensers', icon: 'point_of_sale' },
        { value: TABS.DEX, label: 'DEX', icon: 'swap_horiz' },
    ];
    if (TagG.SHOPS_JSON) this.TAB_ITEMS.unshift({ value: TABS.SHOPS, label: 'Shops', icon: 'storefront' });
    this.tab = opts.tab || this.TABS.SHOPS;
    [this.initAsset1, this.initAsset2] = [opts.param1, opts.param2];
    this.shopID = opts.param1;

    this.onChangeTab = (value) => {
        this.tab = value;
        switch (value) {
            case TABS.DISPENSERS:
                route('/dispensers');
                break;
            case TABS.DEX:
                [this.initAsset1, this.initAsset2] = [null, null];
                route('/dex');
                break;
            case TABS.SHOPS:
                this.shopID = null;
                route('/shops');
                break;
        }
        this.update();
    };
</script>

</markets-page>
