monaparty-api-page {
    .margin {
        position: relative;
        margin: 20px 10px;
        &.chips {
            margin: 0 4px -14px 10px;
        }
    }
    .button {
        max-width: 320px;
        margin: 40px auto;
    }
    .server-item {
        display: inline-block;
        margin: 0 6px 6px 0;
    }
    .json-input {
        material-textfield {
            textarea {
                font-family: courier !important;
                line-break: anywhere;
            }
        }
    }
}
