<monaparty-api-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">api</i>
        <h2 class="page-title">Monaparty API</h2>
        <div class="page-helpbutton-frame"><material-iconbutton icon="help_outline" on_click={ onClickPageHelpButton }></material-iconbutton></div>
    </div>
    <div class="page-content">
        <div class="inputs">
            <div class="margin chips"><div each={ monapartyServers } class="server-item"><material-chip label={ endpoint } on_click={ onClick }></material-chip></div></div>
            <div class="margin"><material-textfield ref="endpoint_input" hint="Monaparty Server"></material-textfield></div>
            <div class="margin"><material-switch ref="proxy_switch" label="Proxy to counterpartyd" on_change={ onChangeProxy }></material-switch></div>
            <div class="margin chips"><div each={ sampleCommands } class="server-item"><material-chip label={ command } on_click={ onClick }></material-chip></div></div>
            <div class="margin"><material-textfield ref="command_input" hint="Command"></material-textfield></div>
            <div class="margin json-input"><material-textfield ref="params_input" hint="Parameters JSON" is_outlined="true" is_textarea="true" textarea_rows="8" invalid_message="Invalid JSON" check_func={ checkParams }></material-textfield></div>
            <div class="margin"><div class="button">
                <util-spinner ref="spinner"></util-spinner>
                <material-button label="POST" icon="send" is_unelevated="true" is_fullwidth="true" on_click={ onClickPostButton }></material-button>
            </div></div>
        </div>
        <div class="margin json-input"><material-textfield ref="response_input" hint="Response" is_outlined="true" is_textarea="true" textarea_rows="12"></material-textfield></div>
    </div>
</div>

<script>
    const main = () => {
        this.TagG = TagG;
        this.monapartyServers = [];
        this.sampleCommands = COUNTERBLOCK_COMMANDS;
        this.onClickPageHelpButton = () => {
            myswal({
                text: TagG.jp?
                '好きなパラメータでMonapartyのAPIにリクエストが送れます。テスト用途や、モナパレットが対応していない機能を使いたい場合にご利用ください\n\nWalletには未署名トランザクションのHEXに署名&ブロードキャストする機能が付いているので、create_xxxの結果を実行したいときは併せて活用してください':
                'This tool helps you to send custom requests to Monaparty API. Use it for testing purposes or when you want to use features that Monapalette does not support.',
                buttons: {},
            });
        };
        this.onChangeProxy = (isProxy) => {
            this.sampleCommands = isProxy ? COUNTERPARTY_COMMANDS : COUNTERBLOCK_COMMANDS;
            this.update();
        }
        this.onClickPostButton = async() => {
            const endpoint = this.refs.endpoint_input.getValue().trim();
            const isProxy = this.refs.proxy_switch.getChecked();
            const command = this.refs.command_input.getValue().trim();
            let params = this.refs.params_input.getValue().trim();
            if (!endpoint) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'サーバを入力してください' : 'No server specified.', 'error');
            if (!command) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'コマンドを入力してください' : 'No command specified.', 'error');
            if (!params) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'パラメータを入力してください' : 'No parameters specified.', 'error');
            try { params = JSON.parse(params) }
            catch (error) { return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'JSONのフォーマットがへんです' : 'Invalid JSON.', 'error') }
            try {
                if (this.working) return;
                this.working = true;
                this.refs.spinner.start();
                const responseText = isProxy?
                await aCounterPartyRequest(endpoint, command, params) : await aCounterBlockRequest(endpoint, command, params);
                this.refs.response_input.setValue(responseText);
            }
            finally {
                this.refs.spinner.stop();
                this.working = false;
            }
        };
        this.checkParams = (value) => {
            if (!value) return true;
            try { JSON.parse(value) }
            catch (error) { return false }
            return true;
        };
        this.on('mount', async() => {
            if (TagG.MONAPARTY_ENDPOINTS) this.monapartyServers = TagG.MONAPARTY_ENDPOINTS.map(endpoint => ({ endpoint }));
            else {
                const { servers } = await Util.aGetJSON(Monaparty.defaults.serversFile, true);
                this.monapartyServers = servers;
            }
            for (const server of this.monapartyServers) {
                server.onClick = () => { this.refs.endpoint_input.setValue(server.endpoint) };
            }
            this.update();
            this.refs.params_input.setValue('{}');
        });
        const aCounterPartyRequest = async(endpoint, command, params) => {
            const counterBlockParams = { method: command, params };
            return await aCounterBlockRequest(endpoint, 'proxy_to_counterpartyd', counterBlockParams);
        }
        const aCounterBlockRequest = async(endpoint, command, params) => {
            const body = { jsonrpc: '2.0', id: 0, method: command, params };
            const bodyStr = JSON.stringify(body);
            const fetchParams = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' },
                body: bodyStr,
            };
            try {
                return await fetch(endpoint, fetchParams).then(res => res.text());
            }
            catch (error) {
                console.error(error);
                myswal('Error', `${error}`, 'error');
            }
        }
        for (const item of [...COUNTERBLOCK_COMMANDS, ...COUNTERPARTY_COMMANDS]) {
            item.onClick = () => {
                this.refs.command_input.setValue(item.command);
                this.refs.params_input.setValue(JSON.stringify(item.params, null, 2));
            };
        }
    };
    const COUNTERBLOCK_COMMANDS = [
        { command: 'get_chain_address_info', params: { addresses: ['__ADDRESS__']}},
        { command: 'get_normalized_balances', params: { addresses: ['__ADDRESS__']}},
        { command: 'get_assets_info', params: { assetsList: ['XMP', 'SPACEMONA', 'DEVILROID']}},
        { command: 'get_chain_address_info', params: { addresses: ['__ADDRESS__']}},
    ];
    const COUNTERPARTY_COMMANDS = [
        { command: 'get_broadcasts', params: { limit: 10, order_by: 'tx_index', order_dir: 'DESC', filters: [{ field: 'text', op: 'LIKE', value: '@b.m %' }]}},
        { command: 'get_holders', params: { asset: 'SPACEMONA' }},
        { command: 'create_send', params: { source: '__FROM_ADDRESS__', destination: '__TO_ADDRESS__', asset: 'XMP', quantity: 100000000 }},
    ];
    main();
</script>

</monaparty-api-page>
