<monacard-droparea>

<div class="imagedrop-frame">
    <div ref="preview_frame" class="imagedrop-previewframe"><img src={ TagG.RELATIVE_URL_BASE + 'img/transparent_card.png' } loading="lazy"></div>
    <div class="imagedrop-hint">{ TagG.jp ? '【カード画像】' : '[ Card Image ]' }<br><br>{ TagG.jp ? 'ヨコxタテ=560x800/840x1200/1260x1800 のPNG/JPG/GIF' : '560x800/840x1200/1260x1800 PNG/JPG/GIF' }</div>
    <div ref="droparea" class="imagedrop-droparea { loaded: img }"><input type="file" accept="image/png,image/jpeg,image/gif" ref="file_input" ondragover={ onFileDragOver } ondragleave={ onFileDragLeave } ondrop={ onFileDrop } onchange={ onFileChange }></div>
</div>

<script>
    this.TagG = TagG;
    const ARROWED_TYPES = ['image/png', 'image/jpeg', 'image/gif'];
    this.existingImageURL = opts.existing_src;
    this.img = null;
    this.blob = null;
    this.onFileDragOver = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.droparea.style.borderColor = 'black';
    };
    this.onFileDragLeave = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.droparea.style.removeProperty('border-color');
    };
    this.onFileDrop = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.droparea.style.removeProperty('border-color');
        const files = event.dataTransfer.files;
        if (files.length > 1) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '選択できる画像は1つだけです' : 'Multiple files selected.', 'error');
        this.refs.file_input.files = files;
        loadFile(files[0]);
    };
    this.onFileChange = (event) => {
        if (event.target.files && event.target.files[0]) loadFile(event.target.files[0]);
    };
    this.on('mount', async() => {
        if (this.existingImageURL) {
            try {
                const response = await fetch(this.existingImageURL);
                const blob = await response.blob();
                loadFile(blob);
            }
            catch (err) { console.error(err) }
        }
    });
    const loadFile = (file) => {
        if (!ARROWED_TYPES.includes(file.type)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'サポートしていない画像形式です' : 'Unsupported image format.', 'error');
        const img = new Image();
        const reader = new FileReader();
        reader.onload = (fileLoadEvent) => {
            const dataURL = fileLoadEvent.target.result;
            img.src = dataURL;
        };
        img.onload = () => {
            const container = this.refs.preview_frame;
            while (container && container.firstChild) container.removeChild(container.firstChild);
            container.appendChild(img);
        };
        reader.readAsDataURL(file);
        this.img = img;
        this.blob = file;
    };
</script>

</monacard-droparea>
