monacard-droparea {
    .imagedrop-frame {
        position: relative;
        max-width: 360px;
        margin: 0 auto;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        border-color: #EEEEEE;
        .imagedrop-previewframe {
            img {
                display: block;
                width: 100%;
                border-radius: 3px;
            }
        }
        .imagedrop-hint {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            left: 0;
            padding: 12% 10px;
            width: 100%;
            height: 100%;
            text-align: center;
            background: linear-gradient(to bottom, rgba(white, 0.7), rgba(white, 0));
        }
        .imagedrop-droparea {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-style: dashed;
            border-width: 2px;
            border-color: $quietColor;
            border-radius: 3px;
            overflow: hidden;
            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
            &.loaded {
                border-color: transparent;
            }
        }
    }
}
