<rakugaki-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">brush</i>
        <h2 class="page-title">{ TagG.jp ? 'らくがきNFT' : 'Rakugaki NFT' }</h2>
        <div class="page-helpbutton-frame"><material-iconbutton icon="help_outline" on_click={ onClickPageHelpButton }></material-iconbutton></div>
    </div>
    <div class="page-content">
        <div if={ !addrsLoaded } class="unavailable-message">{ TagG.jp ? 'らくがきNFTで遊ぶにはWalletを開いてください' : 'To play with Rakugaki NFT, open your wallet.' }</div>
        <div if={ addrsLoaded }>
            <div class="rakugaki-canvas-frame">
                <canvas ref="main_canvas" width="600" height="600" class="main-canvas bg-checker"></canvas>
                <div ref="image_droparea" class="image-droparea"><input type="file" accept="image/png,image/jpeg,image/gif" ref="file_input" ondragover={ onFileDragOver } ondragleave={ onFileDragLeave } ondrop={ onFileDrop } onchange={ onFileChange }></div>
                <canvas if={ isPlacingMode } ref="placing_canvas" width="600" height="600" class="placing-canvas" onmousedown={ onPlacingMouseDown } onmousemove={ onPlacingMouseMove } ontouchstart={ onPlacingMouseDown } ontouchmove={ onPlacingMouseMove } onmouseup={ onPlacingMouseEnd } onmouseout={ onPlacingMouseEnd } ontouchend={ onPlacingMouseEnd }></canvas>
            </div>
            <div show={ !isPlacingMode }>
                <div class="canvas-buttons">
                    <material-iconbutton icon="delete" on_click={ onClickClearButton }></material-iconbutton>
                </div>
                <div class="rakugaki-titleinput"><material-textfield ref="rakugaki_title" is_outlined="true"></material-textfield></div>
            </div>
            <div if={ isPlacingMode }>
                <div if={ isPlacingMode } class="canvas-buttons canvas-buttons-placing">
                    <material-iconbutton icon="flip" on_click={ onClickPlacingFlipButton }></material-iconbutton>
                    <material-iconbutton icon="cached" on_click={ onClickPlacingRotateButton }></material-iconbutton>
                    <material-iconbutton icon="zoom_in" on_click={ onClickPlacingZoomInButton }></material-iconbutton>
                    <material-iconbutton icon="zoom_out" on_click={ onClickPlacingZoomOutButton }></material-iconbutton>
                </div>
                <div if={ isPlacingMode } class="canvas-buttons2">
                    <material-iconbutton icon="close" on_click={ onClickPlacingCancelButton }></material-iconbutton>
                    <material-iconbutton icon="done" on_click={ onClickPlacingDoneButton }></material-iconbutton>
                </div>
            </div>
            <div if={ !rakugakis.length } class="unavailable-message">
                <span if={ TagG.jp }>いま開いているウォレットには Rakugaki NFT がありません。からっぽの Rakugaki NFT はDEXで1枚20XMPで買えます</span>
                <span if={ !TagG.jp }>This wallet has no Rakugaki NFT. Empty Rakugaki NFT can be. Empty Rakugaki NFT can be purchased at DEX for 20XMP.</span>
            </div>
            <div if={ rakugakis.length } class="rakugaki-items">
                <div each={ rakugakis } class="rakugaki-item">
                    <div if={ !isPlacingMode } class="rakugaki-item-buttons">
                        <material-iconbutton icon="arrow_circle_up" on_click={ onClickDrawButton }></material-iconbutton>
                        <material-iconbutton icon="arrow_circle_down" on_click={ onClickSaveButton }></material-iconbutton>
                    </div>
                    <div if={ isPlacingMode } class="rakugaki-item-buttons">
                        <material-iconbutton icon="arrow_circle_up" is_disabled="true"></material-iconbutton>
                        <material-iconbutton icon="arrow_circle_down" is_disabled="true"></material-iconbutton>
                    </div>
                    <div class="rakugaki-item-asset">{ asset }</div>
                    <img ref={ imgRef } src={ image + '?' + TagG.getRakugakiCacheID(asset, true) } class="bg-checker" crossorigin="anonymous" loading="lazy">
                    <div class="rakugaki-item-title">{ TagG.asset2rakugakiTitle[asset] || 'No Title' }</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const [IMAGE_WIDTH, IMAGE_HEIGHT] = [600, 600];
    const [CANVAS_WIDTH, CANVAS_HEIGHT] = [300, 300];
    const RAKUGAKI_MAXMBLENGTH = 2;
    const RAKUGAKI_MAXBYTELENGTH = 1024 * 1024 * RAKUGAKI_MAXMBLENGTH;
    const TITLE_MAXLENGTH = 30;
    const ARROWED_TYPES = ['image/png', 'image/jpeg', 'image/gif'];
    const ZOOMS = [0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0];
    this.rakugakis = [];
    this.isPlacingMode = false;
    let placingImage = null;
    let placingMouseDownPos = { x: 0, y: 0 };
    let placingTransform, placingTransformCache;
    let isPlacingDragging = false;

    this.onClickPageHelpButton = () => {
        myswal({
            text: TagG.jp?
            '専用の Rakugaki NFT に画像をペタペタして保存できます。ウォレットに入っている別の Rakugaki NFT の画像をペタペタすることもできます。からっぽの Rakugaki NFT はDEXで1枚20XMPで買えます\n\nペタペタする画像の推奨サイズは 600px x 600px です。上の大きなキャンバスにドラッグ & ドロップなりしましょう。透過もOKなので、透過する画像をペタペタすることでシナジーが生まれるかも\n\nRakugaki NFT に保存した画像はだれでも見ることができます。さらに Rakugaki NFT を保有している人は画像のイメージを損なう／公序良俗に反する／社会的な許容限度を超える場合を除いて、保有している Rakugaki NFT に保存された画像を利用する権利をもつものとします。これに同意できる場合だけ、権利的に問題のない画像を Rakugaki NFT に保存してください':
            'You can peta-peta images to Rakugaki NFTs. You can also peta-peta images from other Rakugaki NFTs in your wallet. Empty Rakugaki NFT can be purchased at DEX for 20XMP.\n\nTry drag and drop an image onto the large canvas above. The recommended size of the image to be peta-peta is 600px x 600px. You can create a synergy by peta-petaing images with transparency.\n\nImages saved in Rakugaki NFT can be viewed by anyone. Rakugaki NFT owners have the right to use the images stored in their Rakugaki NFTs, except in the case of damaging the impression, offending public order and morals, or exceeding socially acceptable limits. Only if you agree to this, you can save images in Rakugaki NFT.',
            buttons: {},
        });
    };
    this.onClickClearButton = () => {
        getMainCanvasContext().clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
    };
    this.onClickPlacingCancelButton = () => {
        getPlacingCanvasContext().clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
        this.isPlacingMode = false;
        this.update();
    };
    this.onClickPlacingZoomInButton = () => { changeZoom(true) };
    this.onClickPlacingZoomOutButton = () => { changeZoom(false) };
    this.onClickPlacingRotateButton = () => { changeAngle() };
    this.onClickPlacingFlipButton = () => { changeFlip() };
    this.onClickPlacingDoneButton = () => { placeImage() };
    this.onFileDragOver = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.image_droparea.style.borderColor = 'black';
    };
    this.onFileDragLeave = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.image_droparea.style.removeProperty('border-color');
    };
    this.onFileDrop = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.image_droparea.style.removeProperty('border-color');
        const files = event.dataTransfer.files;
        if (files.length > 1) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '選択できる画像は1つだけです' : 'Multiple files selected.', 'error');
        this.refs.file_input.files = files;
        loadFile(files[0]);
    };
    this.onFileChange = (event) => {
        if (event.target.files && event.target.files[0]) loadFile(event.target.files[0]);
    };
    this.onPlacingMouseDown = (event) => {
        event.preventDefault(); // マウスとタッチの両方が呼ばれるのを防ぐ
        if (isPlacingDragging) return;
        [placingMouseDownPos.x, placingMouseDownPos.y] = getXYOnElement(event);
        placingTransformCache = {...placingTransform};
        isPlacingDragging = true;
    };
    this.onPlacingMouseMove = (event) => {
        event.preventDefault(); // マウスとタッチの両方が呼ばれるのを防ぐ
        if (!isPlacingDragging) return;
        const [eventX, eventY] = getXYOnElement(event);
        placingTransform.dx = placingTransformCache.dx + (eventX - placingMouseDownPos.x);
        placingTransform.dy = placingTransformCache.dy + (eventY - placingMouseDownPos.y);
        updatePlacingCanvas();
    };
    this.onPlacingMouseEnd = () => {
        event.preventDefault(); // マウスとタッチの両方が呼ばれるのを防ぐ
        isPlacingDragging = false;
    };
    this.on('mount', async() => {
        if (!TagG.addrsData) return;
        await TagG.aUpdateAddrsDataWithUI(TagG.bodySpinner);
        await aSetRakugakis();
        this.addrsLoaded = true;
        this.update();
    });
    const aSetRakugakis = async() => {
        const rakugakis = [];
        for (const addrData of TagG.addrsData) {
            for (const assetData of addrData.assets) {
                if (assetData.appData.rakugakinft && assetData.satoshi > 0) {
                    const asset = assetData.asset;
                    const imgRef = `img_${asset}`;
                    rakugakis.push({
                        asset,
                        image: assetData.imageM,
                        imgRef,
                        addrData,
                        onClickDrawButton: () => drawRakugaki(imgRef),
                        onClickSaveButton: async() => {
                            const newTitle = this.refs.rakugaki_title.getValue().trim();
                            if (newTitle.length > TITLE_MAXLENGTH) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? `タイトルは${TITLE_MAXLENGTH}文字以内で入力してください` : `Title must be no more than ${TITLE_MAXLENGTH} chars.`, 'error');
                            const ok = await myswal({
                                title: (TagG.jp ? 'らくがきの保存' : 'Save Rakugaki'),
                                text: (TagG.jp ? `${asset} にらくがきを保存します。いま保存されているらくがきは消えますがOKですか？` : `Rakugaki will be saved on ${asset}. Currently saved Rakugaki will be overwritten, OK?`),
                                button: { text: 'OK', closeModal: false },
                                className: 'swalcustom-singlebutton-center', // 中央寄せ
                            });
                            if (!ok) return;
                            aSaveRakugaki(asset, newTitle, addrData);
                        },
                    });
                }
            }
        }
        rakugakis.sort((rakuA, rakuB) => (rakuA.asset < rakuB.asset ? -1 : 1));
        this.rakugakis = rakugakis;
    };
    const drawRakugaki = (imgRef) => { startPlacing(this.refs[imgRef]) };
    const startPlacing = (image) => {
        placingImage = image;
        initPlacingTransform();
        this.isPlacingMode = true;
        this.update();
        updatePlacingCanvas();
    };
    const updatePlacingCanvas = () => {
        const context = getPlacingCanvasContext();
        context.clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
        context.translate(placingTransform.dx, placingTransform.dy);
        if (placingTransform.isFlipped) context.scale(-1, 1);
        context.rotate(placingTransform.angle / 180 * Math.PI);
        const drawWidth = placingTransform.initWidth * placingTransform.zoom;
        const drawHeight = placingTransform.initHeight * placingTransform.zoom;
        context.drawImage(placingImage, -drawWidth / 2, -drawHeight / 2, drawWidth, drawHeight);
    };
    const placeImage = () => {
        getMainCanvasContext().drawImage(this.refs.placing_canvas, 0, 0, IMAGE_WIDTH, IMAGE_HEIGHT, 0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
        getPlacingCanvasContext().clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
        this.isPlacingMode = false;
        this.update();
    };
    const initPlacingTransform = () => {
        placingTransform = { initWidth: 0, initHeight: 0, dx: 0, dy: 0, zoom: 1, angle: 0, isFlipped: false };
        if (placingImage.naturalHeight / placingImage.naturalWidth > CANVAS_HEIGHT / CANVAS_WIDTH) { // 縦長の画像
            placingTransform.initWidth = CANVAS_WIDTH;
            placingTransform.initHeight = CANVAS_WIDTH * placingImage.naturalHeight / placingImage.naturalWidth;
            placingTransform.dx = placingTransform.dy = placingTransform.initWidth / 2;
        }
        else { // 横長の画像
            placingTransform.initHeight = CANVAS_HEIGHT;
            placingTransform.initWidth = CANVAS_HEIGHT * placingImage.naturalWidth / placingImage.naturalHeight;
            placingTransform.dx = placingTransform.dy = placingTransform.initHeight / 2;
        }
    };
    const changeZoom = (isZoomIn) => {
        const nowZoom = placingTransform.zoom;
        const nowIndex = ZOOMS.indexOf(nowZoom);
        placingTransform.zoom = isZoomIn ? (ZOOMS[nowIndex + 1] || ZOOMS[ZOOMS.length - 1]) : (ZOOMS[nowIndex - 1] || ZOOMS[0]);
        updatePlacingCanvas();
    };
    const changeAngle = () => {
        if (placingTransform.isFlipped) placingTransform.angle += 11;
        else placingTransform.angle -= 11;
        if (placingTransform.angle < 0) placingTransform.angle += 360;
        if (placingTransform.angle > 360) placingTransform.angle -= 360;
        updatePlacingCanvas();
    };
    const changeFlip = () => {
        placingTransform.isFlipped = !placingTransform.isFlipped;
        updatePlacingCanvas();
    };
    const aSaveRakugaki = async(asset, title, addrData) => {
        try {
            TagG.bodySpinner.start();
            const blob = await aGetBlob(this.refs.main_canvas, 'image/png');
            console.log(`png size: ${blob.size / 1024} KB`);
            if (blob.size > RAKUGAKI_MAXBYTELENGTH) return myswal(TagG.jp ? 'だめ' : 'Oops!', (TagG.jp ? `PNGに変換して${RAKUGAKI_MAXMBLENGTH}MB以内になるものしか保存できません。いまの画像は${blob.size / 1024 / 1024}MBになります` : `Only images that will be less than ${RAKUGAKI_MAXMBLENGTH}MB when converted to PNG can be saved. Current size is ${blob.size / 1024 / 1024}MB.`), 'error');
            const { rakugakiUploadInfo } = await TagG.aSignedJsonRPCRequest(TagG.TOKENVAULT_API, 'setRakugaki', { asset, title }, addrData);
            const formData = new FormData();
            formData.append('Content-Type', blob.type);
            Object.entries(rakugakiUploadInfo.fields).forEach(([key, value]) => formData.append(key, value));
            formData.append('file', blob);
            const response = await fetch(rakugakiUploadInfo.url, { method: 'POST', body: formData });
            const result = await response.text();
            if (!response.ok) throw new Error(`rakugaki upload failed\n${result}`);
            console.log('rakugaki uploaded');
            console.log(result);
            myswal({ title: 'Success', text: (TagG.jp ? '保存しました' : 'Saved.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
            TagG.rakugakiAsset2cacheID[asset] = new Date().getTime();
            TagG.asset2rakugakiTitle[asset] = title;
            this.update();
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `エラーが発生しました。ヒント：${error}` : `Failed. hint: ${error}`), 'error');
        }
        finally { TagG.bodySpinner.stop() }
    };
    const loadFile = (file) => {
        if (!ARROWED_TYPES.includes(file.type)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'サポートしていない画像形式です' : 'Unsupported image format.', 'error');
        const image = new Image();
        const reader = new FileReader();
        reader.onload = (fileLoadEvent) => {
            const dataURL = fileLoadEvent.target.result;
            image.src = dataURL;
        };
        image.onload = () => { startPlacing(image) };
        reader.readAsDataURL(file);
    };
    const getMainCanvasContext = () => {
        const context = this.refs.main_canvas.getContext('2d');
        context.setTransform(1, 0, 0, 1, 0, 0);
        context.scale(2, 2);
        return context;
    };
    const getPlacingCanvasContext = () => {
        const context = this.refs.placing_canvas.getContext('2d');
        context.setTransform(1, 0, 0, 1, 0, 0);
        context.scale(2, 2);
        return context;
    };
    const getXYOnElement = (event) => {
        const _event = event.changedTouches ? event.changedTouches[0] : event; // スマホ対応
        let x = _event.offsetX || _event.layerX;
        let y = _event.offsetY || _event.layerY;
        if (x === undefined) {
            const clientRect = _event.target.getBoundingClientRect();
            x = _event.pageX - (clientRect.left + window.pageXOffset);
            y = _event.pageY - (clientRect.top + window.pageYOffset);
        }
        return [x, y];
    };
    const aGetBlob = (canvas, mimeType, qualityArgument) => {
        return new Promise(resolve => canvas.toBlob(resolve, mimeType, qualityArgument));
    };
</script>

</rakugaki-page>
