rakugaki-page {
    .unavailable-message {
        margin: 60px 0;
        color: $quietColor;
        text-align: center;
    }
    .rakugaki-canvas-frame {
        position: relative;
        max-width: 300px;
        margin: 10px auto;
        width: calc(100% - 20px);
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0px 1px 2px rgba(black, 0.2);
        .main-canvas {
            display: block;
            width: 300px;
            height: 300px;
            background-color: white;
            pointer-events: none;
        }
        .placing-canvas {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 300px;
            height: 300px;
            background-color: transparent;
        }
        .image-droparea {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-style: dashed;
            border-width: 2px;
            border-color: transparent;
            border-radius: 3px;
            overflow: hidden;
            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
    }
    .rakugaki-titleinput {
        max-width: 300px;
        height: 57px; // ※同じ値にする
        margin: 10px auto;
        width: calc(100% - 20px);
        .mdc-text-field__input {
            text-align: center;
        }
    }
    .canvas-buttons {
        max-width: 300px;
        margin: 10px auto;
        text-align: left;
        &.canvas-buttons-placing {
            text-align: right;
        }
    }
    .canvas-buttons2 {
        max-width: 300px;
        height: 57px; // ※同じ値にする
        margin: 10px auto;
        text-align: right;
    }
    .rakugaki-items {
        margin: 20px 0;
        text-align: center;
        .rakugaki-item {
            position: relative;
            display: inline-block;
            margin: 4px 10px;
            vertical-align: top;
            img {
                display: block;
                width: 160px;
                height: 160px;
                border-radius: 3px;
                background-color: white;
                box-shadow: 0px 1px 2px rgba(black, 0.2);
            }
            .rakugaki-item-buttons {
                padding: 4px;
                text-align: center;
            }
            .rakugaki-item-asset {
                width: 160px;
                text-align: left;
                font-size: 12px;
                color: #AAAAAA;
            }
            .rakugaki-item-title {
                width: 160px;
                padding: 14px 0;
                text-align: center;
            }
        }
    }
}
