regenerate-quickurl-page {
    .centering {
        text-align: center;
        max-width: 800px;
        margin: 20px auto 40px auto;
    }
    .mnemonic-frame {
        position: relative;
        max-width: 600px;
    }
    .password-frame {
        position: relative;
        max-width: 400px;
    }
    .new-mnemonic-label {
        text-align: left;
        margin-top: 40px;
    }
    .new-mnemonic {
        text-align: center;
        background-color: #EEEEEE;
        font-family: $codeFontFamily;
        border-radius: 4px;
        padding: 12px;
        line-height: 26px;
    }
    .new-url {
        text-align: left;
        background-color: #EEEEEE;
        font-family: $codeFontFamily;
        border-radius: 4px;
        padding: 12px;
        word-wrap: break-word;
        word-break: break-all;
    }
    .new-url-copy {
        text-align: right;
        margin-bottom: 14px;
    }
    .new-mnemonic-note {
        text-align: left;
        margin: 16px 8px;
    }
}
