<regenerate-quickurl-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">build</i>
        <h2 class="page-title">{ TagG.jp ? 'URL再生成ツール' : 'Quick-Access URL' }</h2>
    </div>
    <div class="page-content">
        <div class="centering mnemonic-frame">
            <material-textfield ref="existing_mnemonic" hint="Enter existing mnemonic" pattern={ '([a-z]+\\s+){11}[a-z]+(\\s+#[0-9a-zA-Z]+)?' } invalid_message="Invalid Mnemonic" is_password="true"></material-textfield>
        </div>
        <div class="centering or">AND</div>
        <div class="centering password-frame">
            <material-textfield ref="new_password" hint="Enter NEW quick-access password" pattern={ '.{12,}' } invalid_message="Too Short" is_password="true"></material-textfield>
        </div>
        <div class="centering">
            <material-button label="GENERATE NEW QUICK-ACCESS URL" on_click={ onClickGenerateNewURLButton } is_unelevated="true"></material-button>
        </div>
        <div if={ newQuickAccessURL } class="centering">
            <div class="new-mnemonic-label">New Quick Access URL</div>
            <div class="new-url">{ newQuickAccessURL }</div>
            <div class="new-url-copy"><material-iconbutton icon="file_copy" on_click={ onClickURLCopyButton }></material-iconbutton></div>
            <div class="new-mnemonic-note">
                <span if={ TagG.jp }>十分に複雑なパスワードを使っていればQuick Access URLはブックマークなどに保存しても良いですが、他人に見せびらかさないようにしましょう。</span>
                <span if={ !TagG.jp }>With sufficiently complex password, you can save the quick-access URL in your bookmarks, but do not share it with others.</span>
            </div>
            <div class="new-mnemonic-note">
                <span if={ TagG.jp }>同じニーモニックとパスワードの組み合わせであっても、Quick Access URLは生成するたびに異なる値になります。</span>
                <span if={ !TagG.jp }>Even with the same mnemonic and password combination, the quick-access URL will have a different value each time it is generated.</span>
            </div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.onClickGenerateNewURLButton = async() => {
        const input = this.refs.existing_mnemonic.getValue();
        const mnemonic = input.trim().split(/\s+/).slice(0, 12).join(' ');
        const password = this.refs.new_password.getValue();
        if (!TagG.bip39.validateMnemonic(mnemonic)) {
            if (TagG.validateWIF(mnemonic)) myswal('WIF detected', 'いちおうWIFにも対応していますが開発者が自分で使うために仕込んだ秘密機能なので動作は保証しません', 'warning');
            else return myswal('Invalid Mnemonic', '', 'error');
        }
        if (password.match(/\s/)) return myswal('Invalid Password', 'Password cannot contain white spaces.', 'error');
        if (password.length < 12) return myswal('Password Too Short', 'Password must contain at least 12 characters.', 'error');
        const encMnemonic = TagG.CryptoJS.AES.encrypt(mnemonic, password).toString();
        const uriEncMnemonic = encodeURIComponent(encMnemonic);
        this.newQuickAccessURL = `${location.protocol}//${location.host}${location.pathname}?${TagG.QUERYKEY_ENCMNEMONIC}=${uriEncMnemonic}`;
        if (input.includes('#P2WPKH') || input.includes('#segwit')) this.newQuickAccessURL += `&${TagG.QUERYKEY_ADDRTYPE}=${ADDR_TYPE.P2WPKH}`;
        this.update();
    };
    this.onClickURLCopyButton = () => {
        const success = Util.execCopy(this.newQuickAccessURL);
        if (success) myswal({ title: 'Copied', text: 'Successfully copied.', icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
        else myswal('Copy Failed', 'This browser does not support copy execution.', 'error');
    };
</script>

</regenerate-quickurl-page>
