<shops-tab>

<div class="tab-frame">
    <div class="search-frame">
        <material-textfield ref="search_input" hint="Search" on_input={ onInputSearch }></material-textfield>
        <div class="search-clearbutton-frame"><material-iconbutton icon="clear" on_click={ onClickClearSearchButton }></material-iconbutton></div>
    </div>
    <div class="shops">
        <div each={ shopsToShow } class="shop-item" onclick={ onClick }>
            <div class="image-frame"><img src={ image || TagG.RELATIVE_URL_BASE + 'img/transparent_1200x630.png' } width="1200" height="630" loading="lazy"></div>
            <div class="info-frame">
                <div class="shop-icon"><img src={ icon || TagG.RELATIVE_URL_BASE + 'img/monapalette_notmb.png' } loading="lazy"></div>
                <div class="shop-name">{ name }</div>
                <div class="shop-twitter">@{ twitterSN }</div>
                <div class="shop-description">{ description }</div>
            </div>
        </div>
        <util-spinner ref="spinner"></util-spinner>
    </div>
</div>

<div if={ shop } class="overlay"><div ref="overlay_slider" class="overlay-slider">
    <div class="overlay-header" style="background-image: url('{ shop.image }');">
        <div class="icon"><img src={ shop.icon || TagG.RELATIVE_URL_BASE + 'img/monapalette_notmb.png' } loading="lazy"></div>
        <div class="title">{ shop.name }</div>
        <div class="description"><pre>{ shop.description }</pre></div>
        <div class="twitter"><a href={ shop.twitterURL } target="_blank">@{ shop.twitterSN }</a></div>
    </div>
    <div class="overlay-content">
        <div if={ !shop.dispensers.length && !shop.dexCurrencies.length } class="soldout">SOLD OUT</div>
        <div if={ shop.dispensers.length } class="section">
            <div class="section-name"><i class="material-icons inline-icon">point_of_sale</i> Dispensers</div>
            <div class="tokensale-items">
                <div each={ shop.dispensers } class="tokensale-item { tokensale-item-square: assetInfo.appData.monacharat || assetInfo.appData.rakugakinft }" onclick={ onClickDispenser }>
                    <img if={ !imageURL } class="image" src={ TagG.RELATIVE_URL_BASE + 'img/noimage.png' } loading="lazy">
                    <img if={ imageURL && !assetInfo.appData.rakugakinft } class="image" src={ imageURL } loading="lazy">
                    <img if={ imageURL && assetInfo.appData.rakugakinft } class="image bg-checker" src={ imageURL + '?' + TagG.getRakugakiCacheID(asset) } loading="lazy">
                    <div class="info-frame">
                        <div if={ !assetGroup }>{ assetInfo.shortenName }<span if={ unitAssetAmount !== 1 } class="amount"> x&nbsp;{ unitAssetAmountS }</span></div>
                        <div if={ assetGroup }>{ assetGroup } <span class="nft-tag"></span></div>
                        <div if={ assetGroup } class="asset-id">{ assetName }</div>
                        <div>{ unitBaseAmountS }<span class="unit">{ baseAsset }</span></div>
                        <div class="addr-button">
                            <div if={ awaseuriCount > 1 } class="setcount">{ awaseuriCount } set</div>
                            <div class="hashcolors"><util-hashcolors seed_value={ address }></util-hashcolors></div>
                        </div>
                    </div>
                    <div if={ TagG.asset2isInMyWallet[asset] } class="status-icon status-icon-wallet"><i class="material-icons">account_balance_wallet</i></div>
                    <div if={ TagG.asset2treasures[asset] } class="status-icon status-icon-treasure"><i class="material-icons">attachment</i></div>
                </div>
            </div>
        </div>
        <div if={ shop.dexCurrencies.length } class="section">
            <div class="section-name"><i class="material-icons inline-icon">swap_horiz</i> DEX Sales</div>
            <div each={ currency in shop.dexCurrencies } class="subsection">
                <div class="subsection-name" if={ shop.dexCurrencies.length > 1 }><i class="material-icons inline-icon">payments</i> { currency }</div>
                <div class="tokensale-items">
                    <div each={ shop.dexCurrency2sales[currency] } class="tokensale-item { tokensale-item-square: assetInfo.appData.monacharat || assetInfo.appData.rakugakinft }" onclick={ onClickDexSale }>
                        <img if={ !imageURL } class="image" src={ TagG.RELATIVE_URL_BASE + 'img/noimage.png' } loading="lazy">
                        <img if={ imageURL && !assetInfo.appData.rakugakinft } class="image" src={ imageURL } loading="lazy">
                        <img if={ imageURL && assetInfo.appData.rakugakinft } class="image bg-checker" src={ imageURL + '?' + TagG.getRakugakiCacheID(assetInfo.asset) } loading="lazy">
                        <div class="info-frame">
                            <div if={ !assetInfo.group }>{ assetInfo.shortenName }</div>
                            <div if={ assetInfo.group }>{ assetInfo.group } <span class="nft-tag"></span></div>
                            <div if={ assetInfo.group } class="asset-id">{ assetInfo.name }</div>
                            <div>{ priceS }<span class="unit">{ currencyAssetInfo.name }</span></div>
                        </div>
                        <div if={ TagG.asset2isInMyWallet[assetInfo.asset] } class="status-icon status-icon-wallet"><i class="material-icons">account_balance_wallet</i></div>
                        <div if={ TagG.asset2treasures[assetInfo.asset] } class="status-icon status-icon-treasure"><i class="material-icons">attachment</i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-closebutton"><material-iconbutton icon="close" on_click={ onClickOverlayCloseButton }></material-iconbutton></div>
</div></div>

<script>
    const ROUTE_NAME = 'shops';
    const init = () => {
        this.TagG = TagG;
        this.commafy = Util.commafy;
        this.baseAsset = TagG.BASECHAIN_ASSET;
        this.initShopID = opts.shop_id;
        this.shops = [];
        this.shopsToShow = [];
        this.searchedQuery = '';
        this.shop = null;
        this.docTitleCache = document.title;
        if (TagG.query[TagG.QUERYKEY_SEARCH]) {
            this.searchedQuery = decodeURIComponent(TagG.query[TagG.QUERYKEY_SEARCH].replace(/\+/g, ' '));
            delete TagG.query[TagG.QUERYKEY_SEARCH];
        }
    };
    this.onInputSearch = (query) => {
        query = query.trim();
        if (query === this.searchedQuery) return;
        search(query);
    };
    this.onClickClearSearchButton = () => {
        if (this.searchedQuery === '') return;
        search('');
    }
    this.onClickOverlayCloseButton = () => {
        route(`/${ROUTE_NAME}`);
        setURLQuery(this.searchedQuery);
        document.title = this.docTitleCache;
        this.refs.overlay_slider.style.pointerEvents = 'none';
        TweenLite.to(this.refs.overlay_slider, 0.5, {
            top: '100vh',
            onComplete: () => {
                this.shop = null;
                this.update();
            },
        });
    };
    this.on('mount', async() => {
        await aShowShops();
        if (this.initShopID) {
            const shop = this.shops.find(_shop => _shop.shopID === this.initShopID);
            if (shop) shop.onClick();
        }
        if (TagG.addrsData) await TagG.aUpdateAddrsDataWithUI(null).then(() => { this.update() });
        TagG.aLoadAssetsExtendedInfo().then(isUpdated => { if (isUpdated) this.update() });
    });
    const aShowShops = async() => {
        try {
            if (this.refs.spinner) this.refs.spinner.start();
            const { twID2shopsData } = await Util.aGetJSON(`${TagG.SHOPS_JSON}?${TagG.getCacheQuery(10)}`);
            this.shops = [];
            for (const twID in twID2shopsData) {
                const { twSN, shops } = twID2shopsData[twID];
                for (const { hex, name, desc, img, ico, addrs } of shops) {
                    const shopID = `${twID}_${hex}`;
                    const shop = {
                        shopID,
                        name,
                        description: desc,
                        twitterSN: twSN,
                        twitterURL: TagG.TWITTERUSERURL_FORMAT.replace('{SN}', twSN),
                        addrs,
                        dispensers: [],
                        dexSales: [],
                        dexCurrencies: [],
                        dexCurrency2sales: {},
                        score: 0,
                    };
                    if (img) shop.image = `${TagG.SHOPS_IMGROOT}${shopID}`;
                    if (ico) shop.icon = `${TagG.SHOPS_IMGROOT}${shopID}_icon`;
                    shop.onClick = () => {
                        this.shop = shop;
                        this.update();
                        route(`/${ROUTE_NAME}/${encodeURIComponent(shopID)}`);
                        document.title = `${this.docTitleCache} / ${shop.name}`;
                        TweenLite.to(this.refs.overlay_slider, 0.5, { top: '0vh' });
                    };
                    this.shops.push(shop);
                }
            }
            await Promise.all([aSetDispensers(), aSetDexSales(), aSetScore().catch(console.error)]);
            for (const shop of this.shops) shop.searchText = getSearchText(shop);
            this.shops.sort(shopSort);
            search(this.searchedQuery);
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
        finally { if (this.refs.spinner) this.refs.spinner.stop() }
    };
    const aSetScore = async() => {
        if (!TagG.HOLDERS_CACHEJSON) return;
        const SCORE_ASSET = 'MONAPALETTE';
        const { asset2addr2qty } = await Util.aGetJSON(TagG.HOLDERS_CACHEJSON);
        const addr2qty = asset2addr2qty[SCORE_ASSET] || {};
        for (const shop of this.shops) {
            shop.score = 0;
            for (const addr of shop.addrs) shop.score += addr2qty[addr] || 0;
        }
    };
    const aSetDispensers = async() => {
        const dispensers = await TagG.aGetDispensers();
        const addr2dispensers = {};
        for (const dispenser of dispensers) {
            if (!addr2dispensers[dispenser.address]) addr2dispensers[dispenser.address] = [];
            addr2dispensers[dispenser.address].push(dispenser);
            dispenser.onClickDispenser = () => { TagG.bodyDispenserPurchase.open(dispenser, 'shops') };
        }
        for (const dispenser of dispensers) dispenser.awaseuriCount = addr2dispensers[dispenser.address].length;
        for (const shop of this.shops) {
            shop.dispensers = [];
            for (const addr of shop.addrs) {
                if (addr2dispensers[addr]) shop.dispensers.push(...addr2dispensers[addr]);
            }
        }
    };
    const aSetDexSales = async() => {
        const orders = await Monaparty.aPartyTableAll('get_orders', { 'status': 'open' });
        const addr2orders = {};
        for (const order of orders) {
            if (order.give_asset === TagG.BASECHAIN_ASSET || order.get_asset === TagG.BASECHAIN_ASSET) continue;
            if (!addr2orders[order.source]) addr2orders[order.source] = [];
            addr2orders[order.source].push(order);
        }
        const assetsInShops = [];
        for (const shop of this.shops) {
            for (const addr of shop.addrs) {
                const addrOrders = addr2orders[addr] || [];
                assetsInShops.push(...addrOrders.map(order => order.give_asset), ...addrOrders.map(order => order.get_asset));
            }
        }
        await TagG.aLoadAssets(assetsInShops, true, true);
        for (const shop of this.shops) {
            const shopOrders = [];
            for (const addr of shop.addrs) {
                for (const order of (addr2orders[addr] || [])) {
                    if (order.give_asset === TagG.BUILTIN_ASSET) continue;
                    const existingOrder = shopOrders.find(_order => (_order.give_asset === order.give_asset && _order.get_asset === order.get_asset));
                    if (!existingOrder) shopOrders.push(order);
                    else {
                        const ratio = order.get_quantity / order.give_quantity;
                        const existingRatio = existingOrder.get_quantity / existingOrder.give_quantity;
                        if (ratio < existingRatio) shopOrders.push(order);
                        else if (ratio === existingRatio) { // マージ
                            existingOrder.get_quantity += order.get_quantity;
                            existingOrder.get_remaining += order.get_remaining;
                            existingOrder.give_quantity += order.give_quantity;
                            existingOrder.give_remaining += order.give_remaining;
                        }
                    }
                }
            }
            const shopSales = shopOrders.map(order2sale);
            shop.dexSales = shopSales;
            shop.dexCurrencies = Util.uniq(shopSales.map(sale => sale.currencyAssetInfo.asset));
            shop.dexCurrencies.sort(currencySort);
            shop.dexCurrency2sales = {};
            for (const currency of shop.dexCurrencies) {
                shop.dexCurrency2sales[currency] = shopSales.filter(sale => sale.currencyAssetInfo.asset === currency);
            }
        }
    };
    const shopSort = (s1, s2) => {
        if (s1.score > s2.score) return -1;
        if (s2.score > s1.score) return 1;
        return s1.addrs.length > s2.addrs.length ? -1 : 1;
    };
    const currencySort = (c1, c2) => {
        if (c1 === TagG.BUILTIN_ASSET) return -1;
        if (c2 === TagG.BUILTIN_ASSET) return 1;
        return c1 < c2 ? -1 : 1;
    };
    const order2sale = (order) => {
        const assetInfo = TagG.asset2info[order.give_asset];
        const currencyAssetInfo = TagG.asset2info[order.get_asset];
        const price = getSalePrice(order);
        const cardData = TagG.asset2card[assetInfo.asset] || null;
        const mainDescription = TagG.getMainDescription(assetInfo);
        const sale = {
            assetInfo,
            currencyAssetInfo,
            price,
            priceS: Util.commafy(price),
            remainingSat: order.give_remaining,
            remainingAmount: TagG.qty2amount(order.give_remaining, assetInfo.isDivisible),
            imageURL: TagG.getAssetImageURL('auto', assetInfo.asset),
            largeImageURL: TagG.getAssetImageURL('L', assetInfo.asset),
            cardData,
            mainDescription,
        };
        sale.onClickDexSale = () => { TagG.bodyDexPurchase.open(sale) };
        return sale;
    };
    const getSalePrice = (saleOrder) => {
        const assetInfo = TagG.asset2info[saleOrder.give_asset];
        const currencyAssetInfo = TagG.asset2info[saleOrder.get_asset];
        const getQtyN = BigInt(saleOrder.get_quantity);
        const giveQtyN = BigInt(saleOrder.give_quantity);
        let priceQtyN; // askの価格は切上げ // 小数計算の誤差を切上げないよう正確に処理
        if (assetInfo.isDivisible) {
            priceQtyN = getQtyN * BigInt(TagG.SATOSHI_RATIO) / giveQtyN;
            if (getQtyN * BigInt(TagG.SATOSHI_RATIO) % giveQtyN) priceQtyN++;
        }
        else {
            priceQtyN = getQtyN / giveQtyN;
            if (getQtyN % giveQtyN) priceQtyN++;
        }
        const priceQty = Number(priceQtyN);
        const price = TagG.qty2amount(priceQty, currencyAssetInfo.isDivisible);
        return price;
    };
    const getSearchText = (shop) => {
        const { name, description, twitterSN, dispensers, dexSales } = shop;
        let text = `${name} ${description} @${twitterSN} ${twitterSN.toLowerCase()} `;
        for (const dispenser of dispensers) text += `${dispenser.assetName} `;
        for (const sale of dexSales) text += `${sale.assetInfo.name} `;
        return text;
    };
    const search = (query) => {
        this.searchedQuery = query;
        const searchID = Math.random();
        this.searchID = searchID;
        let isOR = false;
        let words = query.split(/\s+OR\s+/).map(word => word.trim()).filter(word => word);
        if (words.length > 1) isOR = true;
        else words = query.split(/\s+/).filter(word => word);
        let filteredList;
        if (words.length === 0) filteredList = this.shops.slice();
        else {
            if (isOR) {
                filteredList = this.shops.filter(shop => {
                    for (const word of words) {
                        if (shop.searchText.includes(word)) return true;
                    }
                    return false;
                });
            }
            else {
                filteredList = this.shops.filter(shop => {
                    for (const word of words) {
                        if (!shop.searchText.includes(word)) return false;
                    }
                    return true;
                });
            }
        }
        if (this.isReverse) filteredList.reverse();
        if (this.refs.search_input && this.refs.search_input.getValue() !== query) this.refs.search_input.setValue(query);
        setURLQuery(query);
        const FIRST = 30;
        const ONCE = 300;
        this.shopsToShow = filteredList.slice(0, FIRST);
        this.update();
        let length = FIRST;
        const showMore = () => {
            if (length >= filteredList.length || searchID !== this.searchID) return;
            if (!TagG.IS_LAZYLOADAVAILABLE && length > 300) return;
            length += ONCE;
            this.shopsToShow = filteredList.slice(0, length);
            this.update();
            setTimeout(showMore, 0);
        };
        setTimeout(showMore, 0);
    };
    const setURLQuery = (query) => {
        const urlObj = new URL(location);
        if (query) urlObj.searchParams.set(TagG.QUERYKEY_SEARCH, query);
        else urlObj.searchParams.delete(TagG.QUERYKEY_SEARCH);
        history.replaceState(null, '', urlObj.toString());
    };
    init();
</script>

</shops-tab>
