shops-tab {
    .tab-frame {
        position: relative;
        padding: 0 0 80px 0;
        .search-frame {
            position: relative;
            margin: 12px;
            .search-clearbutton-frame {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
    }
    .shops {
        margin: 10px;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        .shop-item {
            position: relative;
            box-sizing: border-box;
            width: 400px;
            border-radius: 3px;
            overflow: hidden;
            background-color: white;
            cursor: pointer;
            box-shadow: 0px 1px 2px rgba(black, 0.2);
            content-visibility: auto;
            @media screen and (max-width: 1300px) {
                width: calc((100% - 21px) / 3);
            }
            @media screen and (max-width: 900px) {
                width: calc((100% - 10px) / 2);
            }
            @media screen and (max-width: 520px) {
                width: 100%;
            }
            &:hover { filter: brightness(105%); }
            &:active { filter: brightness(110%); }
            .image-frame {
                background-color: lightgray;
                border-bottom-style: solid;
                border-width: 1px;
                border-color: #F0F0F0;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            .info-frame {
                position: relative;
                padding: 10px 12px 12px 12px;
                .shop-icon {
                    position: absolute;
                    top: -18px;
                    left: 10px;
                    width: 80px;
                    height: 80px;
                    padding: 1px;
                    border-radius: 50px;
                    background-color: #F0F0F0;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                        border-radius: 50px;
                    }
                }
                .shop-name {
                    padding-left: 92px;
                    font-size: 120%;
                }
                .shop-twitter {
                    padding-left: 94px;
                    font-size: 86%;
                    color: $quietColor;
                }
                .shop-description {
                    margin-top: 10px;
                    max-height: 92px; // 4行
                    line-height: 23px;
                    overflow: hidden;
                }
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        .overlay-slider {
            position: absolute;
            top: 100vh;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bgColor;
            overflow: auto;
            @include hide-scrollbar;
        }
        .overlay-closebutton {
            position: fixed;
            top: 10px;
            right: 10px;
            border-radius: 24px;
            background-color: rgba($bgColor, 0.6);
            backdrop-filter: blur(2px);
        }
        .overlay-header {
            position: relative;
            padding: 10px;
            background-position: center;
            background-size: cover;
            text-shadow: 0px 2px 2px rgb(black, 10%);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($bgColor, 0.7);
                backdrop-filter: blur(2px);
                box-shadow: 0px -15px 30px -15px rgb(black, 5%) inset;
            }
            div {
                position: relative; // ::before より前に表示するため
            }
            .icon {
                width: 48px;
                height: 48px;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: 100px;
                }
            }
            .title {
                margin: 6px 0 10px 4px;
                font-size: 140%;
            }
            .description {
                margin: 10px 0 10px 6px
            }
            .twitter {
                margin: 10px 0 10px 6px;
            }
        }
        .overlay-content {
            padding: 0 0 100px 0;
            @include dispensers;
            .section {
                margin: 0 0 28px 0;
                .section-name {
                    margin: 16px 10px;
                    font-size: 116%;
                    text-align: center;
                }
                .subsection {
                    margin: 0 0 16px 0;
                    .subsection-name {
                        margin: 10px 10px;
                        font-size: 116%;
                        text-align: center;
                        color: $quietColor;
                    }
                }
            }
            .soldout {
                color: $quietColor;
                font-size: 300%;
                text-align: center;
                margin: 20vh 10px;
            }
        }
        .inline-icon {
            font-size: 100%;
            vertical-align: middle;
        }
    }
}
