<step-page>

<div>
    <div class="button" onclick={ onClickUnlockButton }>
        <i class="material-icons icon">lock_open</i>
        <div class="message">{ TagG.jp ? 'タッチしてMpurseを開く' : 'Touch to open Mpurse.' }</div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.onClickUnlockButton = () => { route('/') };
    this.on('mount', () => {
        if (window.mpurse) route('/');
    });
</script>

</step-page>
