step-page {
    .button {
        min-height: 400px;
        text-align: center;
    }
    .icon {
        display: block;
        font-size: 48px;
        line-height: 64px;
        padding-top: 20vh;
    }
    .message {
        height: 54px;
        line-height: 60px;
        font-size: 20px;
        padding-bottom: 20vh;
        font-weight: $basicFontWeight;
        white-space: nowrap;
    }
}
