tokenvault-edit-tab {
    .edit-tab {
        margin: 0 10px;
        padding-top: 20px;
        .center {
            max-width: 720px;
            margin: 0 auto;
        }
        .unavailable-message {
            margin: 60px 0;
            color: $quietColor;
            text-align: center;
        }
        .edit-token {
            margin-top: 20px;
            text-align: center;
            @media screen and (min-width: $tabletWidth) {
                display: inline-block;
            }
        }
        .edit-x {
            margin: 16px;
            font-size: 20px;
            text-align: center;
            line-height: 1;
            @media screen and (min-width: $tabletWidth) {
                display: inline-block;
            }
        }
        .edit-amount {
            margin: 20px auto;
            max-width: 220px;
            @media screen and (min-width: $tabletWidth) {
                display: inline-block;
                margin: 20px 0 0 0;
                vertical-align: bottom;
            }
        }
        .edit-memo {
            margin: 40px 0;
        }
        .edit-upload-button {
            position: relative;
        }
        .treasureitem-preview {
            position: relative;
            max-width: 300px;
            margin: 20px auto;
            width: calc(100% - 20px);
            background-color: white;
            border-radius: 3px;
            overflow: hidden;
            vertical-align: top;
            text-align: left;
            box-shadow: 0px 1px 2px rgba(black, 0.2);
            .treasure-tmbframe {
                position: relative;
                canvas {
                    display: block;
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    pointer-events: none;
                }
                .thumbnail-droparea {
                    position: absolute;
                    box-sizing: border-box;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-style: dashed;
                    border-width: 2px;
                    border-color: #E5E5E5;
                    border-radius: 3px;
                    overflow: hidden;
                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }
                    .thumbnail-droparea-label {
                        position: absolute;
                        top: 114px;
                        left: 0;
                        width: 100%;
                        pointer-events: none;
                        text-align: center;
                        font-size: 16px;
                        color: #AAAAAA;
                    }
                }
                .treasure-buttonsframe {
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    .treasureitem-button {
                        display: inline-block;
                        margin-right: 10px;
                        background-color: rgba(black, 0.7);
                        border-radius: 40px;
                    }
                }
            }
            .treasure-labelframe {
                position: relative;
                box-sizing: border-box;
                padding: 10px 12px 12px 12px;
                min-height: 150px;
                pointer-events: none;
                .assetname {
                    font-size: 24px;
                }
                .description {
                    margin-top: 4px;
                    font-size: 16px;
                }
                .asset-id {
                    font-size: 14px;
                    margin-bottom: 6px;
                }
            }
            .treasure-amount {
                position: absolute;
                top: 10px;
                left: 0;
                padding: 4px 16px 4px 12px;
                font-size: 24px;
                line-height: 32px;
                pointer-events: none;
                .material-icons {
                    font-size: 32px;
                    vertical-align: middle;
                }
                &.open {
                    background-color: rgba(white, 0.7);
                    border-radius: 0 40px 40px 0;
                }
            }
        }
        .editor {
            position: relative;
            background-color: white;
            border-style: solid;
            border-color: #E5E5E5;
            border-width: 1px;
            margin: 40px 0 40px auto;
            min-height: 200px;
            font-size: 16px;
            line-height: 1.8;
            box-sizing: border-box;
            max-width: calc(100vw - 52px);
            h2,h3,h4 {
                font-weight: normal;
            }
            h2 {
                font-size: 2.4em;
                line-height: 1.4;
            }
            h3 {
                font-size: 1.8em;
                line-height: 1.6;
            }
            h4 {
                font-size: 1.4em;
                line-height: 1.8;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-bottom-color: #E0E0E0;
            }
            p {
                line-height: 1.8;
            }
            pre {
                margin: 0;
                font-family: $fontFamily;
                white-space: pre-wrap;
                word-break: break-word;
                font-size: 14px;
            }
            code {
                font-family: $codeFontFamily;
            }
        }
    }
}
