<tokenvault-list-tab>

<div class="list-tab">
    <div if={ !TagG.addrsData } class="nologin-message">
        <span if={ TagG.jp }>Walletを開くと持っているトークンに応じてロックが解除されます</span>
        <span if={ !TagG.jp }>To unlock treasures, open wallet with sufficient key tokens in it.</span>
    </div>
    <div class="search-frame">
        <material-textfield ref="search_input" hint="Search" on_input={ onInputSearch }></material-textfield>
        <div class="search-clearbutton-frame"><material-iconbutton icon="clear" on_click={ onClickClearSearchButton }></material-iconbutton></div>
    </div>
    <div class="treasure-items">
        <div each={ treasuresToShow } class="treasure-item" onclick={ onClick }>
            <div class="treasure-tmbframe">
                <img src={ tmbImage } class="thumbnail" crossorigin="anonymous" loading="lazy" width="300" height="300"><!-- 縦横比のためwidth,height指定 -->
                <div if={ isLocked } class="lock-overlay"></div>
                <div if={ isLocked } class="treasure-amount"><i class="material-icons">lock</i>&ensp;{ balanceAmountS } / { amountS }</div>
                <div if={ !isLocked } class="treasure-amount open"><i class="material-icons">lock_open</i>&ensp;{ isOwn ? 'OWNER' : balanceAmountS } / { amountS }</div>
                <div class="treasure-buttonsframe">
                    <div if={ isOwn } class="treasureitem-button"><material-iconbutton icon="delete" is_white="true" on_click={ onClickDelete }></material-iconbutton>
                    </div><div if={ isOwn } class="treasureitem-button"><material-iconbutton icon="edit" is_white="true" on_click={ onClickEdit }></material-iconbutton>
                    </div><div if={ asset2dispenser[asset] && isLocked && !isOwn } class="treasureitem-button"><material-iconbutton icon="point_of_sale" is_white="true" on_click={ onClickDispenser }></material-iconbutton>
                    </div>
                </div>
            </div>
            <div class="treasure-labelframe">
                <div if={ !assetGroup } class="assetname">{ assetInfo.shortenName }</div>
                <div if={ assetGroup } class="assetname">{ assetGroup } <span class="nft-tag"></span></div>
                <div if={ assetGroup } class="asset-id">{ assetName }</div>
                <div if={ memo } class="description">{ memo }</div>
            </div>
        </div>
    </div>
</div>

<script>
    const init = () => {
        this.TagG = TagG;
        this.gotoEdit = opts.goto_edit;
        this.treasures = [];
        this.treasuresToShow = [];
        this.asset2dispenser = {};
        this.searchedQuery = '';
        if (TagG.query[TagG.QUERYKEY_SEARCH]) {
            this.searchedQuery = decodeURIComponent(TagG.query[TagG.QUERYKEY_SEARCH].replace(/\+/g, ' '));
            delete TagG.query[TagG.QUERYKEY_SEARCH];
        }
    };
    this.onInputSearch = (query) => {
        query = query.trim();
        if (query === this.searchedQuery) return;
        search(query);
    };
    this.onClickClearSearchButton = () => {
        if (this.searchedQuery === '') return;
        search('');
    }
    this.on('mount', async() => {
        if (TagG.addrsData) {
            await TagG.aUpdateAddrsDataWithUI(TagG.bodySpinner);
            this.update();
        }
        await aShowTreasures();
        aSetAsset2DispenserData().then(() => { this.update() });
        TagG.aLoadAssetsExtendedInfo().then(isUpdated => { if (isUpdated) this.update() });
    });
    const aShowTreasures = async() => {
        try {
            if (aShowTreasures.isLoading) return;
            aShowTreasures.isLoading = true;
            TagG.bodySpinner.start();
            await TagG.aLoadTreasures();
            const assets = Object.keys(TagG.asset2treasures);
            await TagG.aLoadAssets(assets, true, true);
            setDisplayList();
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to fetch data. hint: ${error}`), 'error');
        }
        finally {
            TagG.bodySpinner.stop();
            aShowTreasures.isLoading = false;
        }
    };
    const aSetAsset2DispenserData = async() => {
        const dispensers = await TagG.aGetDispensers();
        for (const dispenser of dispensers) {
            dispenser.rate = dispenser.unitBaseSat / dispenser.unitAssetSat;
            const existingData = this.asset2dispenser[dispenser.asset];
            if (existingData && existingData.rate < dispenser.rate) continue;
            this.asset2dispenser[dispenser.asset] = dispenser;
        }
    };
    const setDisplayList = () => {
        const hasAsset = {};
        if (TagG.addrsData) {
            for (const addrData of TagG.addrsData) {
                for (const asset of addrData.assets) hasAsset[asset.asset] = true;
            }
        }
        const treasures = [];
        for (const asset in TagG.asset2treasures) {
            const assetInfo = TagG.asset2info[asset];
            for (const treasure of TagG.asset2treasures[asset]) {
                const { asset, qtyN, isDivisible } = treasure;
                const isFree = !qtyN;
                let isLocked = isFree ? false : true;
                let isOwn = false;
                let addrData = null, maxBalanceSat = 0;
                if (hasAsset[asset]) {
                    for (const _addrData of TagG.addrsData) {
                        const assetData = _addrData.assets.find(_asset => (_asset.asset === asset));
                        if (assetData) {
                            if (assetData.isOwn) {
                                isOwn = true;
                                isLocked = false;
                                addrData = _addrData;
                                break;
                            }
                            if (assetData.satoshi >= qtyN && assetData.satoshi > maxBalanceSat) {
                                isLocked = false;
                                addrData = _addrData;
                                maxBalanceSat = assetData.satoshi;
                            }
                        }
                    }
                }
                const balanceAmountS = TagG.qtyS2amountS(maxBalanceSat, isDivisible);
                const searchText = getSearchText(treasure, assetInfo);
                const onClick = async() => {
                    if (isLocked) return;
                    await onClickTreasure(treasure, addrData);
                };
                const onClickEdit = async(event) => {
                    event.stopPropagation();
                    await onClickTreasureEdit(treasure, addrData);
                };
                const onClickDelete = async(event) => {
                    event.stopPropagation();
                    await onClickTreasureDelete(treasure, addrData);
                };
                const onClickDispenser = (event) => {
                    event.stopPropagation();
                    TagG.bodyDispenserPurchase.open(this.asset2dispenser[asset], 'tokenvault_list');
                };
                treasures.push({
                    ...treasure,
                    isFree, isLocked, isOwn, balanceAmountS, searchText, assetInfo, assetGroup: assetInfo.group,
                    onClick, onClickEdit, onClickDelete, onClickDispenser,
                });
            }
        }
        treasures.sort(treasureSortFunc);
        this.treasures = treasures;
        search(this.searchedQuery);
    };
    const treasureSortFunc = (treA, treB) => {
        if (treA.isOwn && !treB.isOwn) return -1;
        if (treB.isOwn && !treA.isOwn) return 1;
        if (!treA.isLocked && treB.isLocked) return -1;
        if (!treB.isLocked && treA.isLocked) return 1;
        if (treA.assetName === 'TOKENVAULT' && treB.assetName !== 'TOKENVAULT') return -1;
        if (treB.assetName === 'TOKENVAULT' && treA.assetName !== 'TOKENVAULT') return 1;
        let nameA = (treA.assetGroup || treA.assetName), nameB = (treB.assetGroup || treB.assetName);
        if (treA.assetGroup || nameA[0] === 'A') nameA = `~${nameA}`;
        if (treB.assetGroup || nameB[0] === 'A') nameB = `~${nameB}`;
        if (nameA < nameB) return -1;
        if (nameB < nameA) return 1;
        if (treA.qtyN < treB.qtyN) return -1;
        if (treB.qtyN < treA.qtyN) return 1;
        return 0;
    };
    const onClickTreasure = async(treasure, addrData) => {
        const { asset, qtyS } = treasure;
        try {
            TagG.bodySpinner.start();
            await TagG.aOpenTreasure(asset, qtyS, addrData);
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `エラーが発生しました。ヒント：${error}` : `Failed. hint: ${error}`), 'error');
        }
        finally { TagG.bodySpinner.stop() }
    };
    const onClickTreasureEdit = async(treasure, addrData) => {
        const { asset, assetName, qtyS, amountS, memo, hasTmb, tmbImage } = treasure;
        try {
            TagG.bodySpinner.start();
            const treasureDownloadURL = await TagG.aGetTreasureURL(asset, qtyS, addrData);
            this.gotoEdit({ thumbnailURL : hasTmb ? tmbImage : null, assetName, amountS, memo, treasureDownloadURL });
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `エラーが発生しました。ヒント：${error}` : `Failed. hint: ${error}`), 'error');
        }
        finally { TagG.bodySpinner.stop() }
    };
    const onClickTreasureDelete = async(treasure, addrData) => {
        const { asset, assetName, qtyS, amountS } = treasure;
        const isOK = await myswal({
            title: (TagG.jp ? 'お宝の削除' : 'Delete treasure'),
            text: (TagG.jp ? `${assetName} x ${amountS} のお宝を削除します` : `Treasure of ${assetName} x ${amountS} will be deleted.`),
            button: { closeModal: false },
        });
        if (!isOK) return;
        try {
            TagG.bodySpinner.start();
            const params = { asset, quantity: qtyS };
            await TagG.aSignedJsonRPCRequest(TagG.TOKENVAULT_API, 'deleteTreasure', params, addrData);
            TagG.tokenVaultCacheID = new Date().getTime();
            this.treasures = this.treasures.filter(tre => !(tre.asset === asset && tre.qtyS === qtyS));
            search(this.searchedQuery);
            myswal({ title: 'Success', text: (TagG.jp ? '削除しました' : 'Deleted.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `エラーが発生しました。ヒント：${error}` : `Failed. hint: ${error}`), 'error');
        }
        finally { TagG.bodySpinner.stop() }
    };
    const getSearchText = (treasure, assetInfo) => {
        const { asset, assetName, memo } = treasure;
        let text = `${assetName.toLowerCase()} ${assetName} ${asset} ${assetInfo.owner} ${assetInfo.description} ${assetInfo.isLocked ? '[LOCKED]' : ''} ${memo}`;
        if (assetInfo.group) text += ` ${assetInfo.group} [NFT]`;
        const cardData = TagG.asset2card[assetName];
        if (!cardData) return text;
        text += ` ${cardData.cardName} ${cardData.ownerName} ${cardData.description} ${cardData.tags}`;
        return text;
    };
    const search = (query) => {
        this.searchedQuery = query;
        let isOR = false;
        let words = query.split(/\s+OR\s+/).map(word => word.trim()).filter(word => word);
        if (words.length > 1) isOR = true;
        else words = query.split(/\s+/).filter(word => word);
        let filteredList;
        if (words.length === 0) filteredList = this.treasures.slice();
        else {
            if (isOR) {
                filteredList = this.treasures.filter(treasure => {
                    for (const word of words) {
                        if (treasure.searchText.includes(word)) return true;
                    }
                    return false;
                });
            }
            else {
                filteredList = this.treasures.filter(treasure => {
                    for (const word of words) {
                        if (!treasure.searchText.includes(word)) return false;
                    }
                    return true;
                });
            }
        }
        if (this.refs.search_input && this.refs.search_input.getValue() !== query) this.refs.search_input.setValue(query);
        setURLQuery(query);
        const FIRST = 30;
        const ONCE = 300;
        this.treasuresToShow = filteredList.slice(0, FIRST);
        this.update();
        let length = FIRST;
        const showMore = () => {
            if (length >= filteredList.length || query !== this.searchedQuery) return;
            if (!TagG.IS_LAZYLOADAVAILABLE && length > 300) return;
            length += ONCE;
            this.treasuresToShow = filteredList.slice(0, length);
            this.update();
            setTimeout(showMore, 0);
        };
        setTimeout(showMore, 0);
    };
    const setURLQuery = (query) => {
        const urlObj = new URL(location);
        if (query) urlObj.searchParams.set(TagG.QUERYKEY_SEARCH, query);
        else urlObj.searchParams.delete(TagG.QUERYKEY_SEARCH);
        history.replaceState(null, '', urlObj.toString());
    };
    init();
</script>

</tokenvault-list-tab>
