<tokenvault-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">attachment</i>
        <h2 class="page-title">Token Vault</h2>
        <div class="page-helpbutton-frame"><material-iconbutton icon="help_outline" on_click={ onClickPageHelpButton }></material-iconbutton></div>
    </div>
    <div class="page-content">
        <material-tabbar ref="tabbar" items={ TAB_ITEMS } default_value={ tab } on_change={ onChangeTab }></material-tabbar>
        <div>
            <tokenvault-list-tab if={ tab === TABS.LIST } goto_edit={ gotoEdit }></tokenvault-list-tab>
            <tokenvault-edit-tab if={ tab === TABS.EDIT } trsr_data={ treasureData }></tokenvault-edit-tab>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const TABS = this.TABS = { LIST: 'LIST', EDIT: 'EDIT' };
    this.TAB_ITEMS = [
        { value: TABS.LIST, label: (TagG.jp ? 'お宝リスト' : 'Treasures'), icon: 'view_module' },
        { value: TABS.EDIT, label: (TagG.jp ? 'お宝の登録' : 'Editor'), icon: 'cloud_upload' },
    ];
    this.tab = this.TABS.LIST;

    this.onChangeTab = (value) => { this.tab = value; this.update() };
    this.onClickPageHelpButton = () => {
        myswal({
            text: TagG.jp?
            '特定のトークンを特定の枚数以上持っている人にしか見られないお宝を登録したり閲覧したりできます。お宝リストの中に説明書が入っているので、まずはそれを読んでみてね':
            'You can set treasures that can only be accessed from wallets with the specified tokens.',
            buttons: {},
        });
    };
    this.gotoEdit = (treasureData) => {
        this.treasureData = treasureData;
        this.tab = this.TABS.EDIT;
        this.refs.tabbar.setValue(this.tab);
        this.update();
        this.treasureData = null;
    };
</script>

</tokenvault-page>
