<tokenvault-edit-tab>

<div class="edit-tab">
<div class="center">
<div if={ !addrsLoaded } class="unavailable-message">{ TagG.jp ? 'お宝を登録するにはWalletを開いてください' : 'To set treasure, open your wallet.' }</div>
<div if={ addrsLoaded }>
<div if={ !tokenSelectItems.length } class="unavailable-message">{ TagG.jp ? 'いま開いているウォレットにはオーナー権限のあるトークンがありません' : 'This wallet has no token ownership.' }</div>
<div if={ tokenSelectItems.length }>
    <div class="edit-token"><material-select ref="edit_token" hint="Token" items={ tokenSelectItems } on_change={ onChangeToken }></material-select></div>
    <div class="edit-x">x</div>
    <div class="edit-amount"><material-textfield ref="edit_amount" hint="Amount Required" pattern={ '[0-9]*(\\.[0-9]+)?' } invalid_message="Invalid Format" on_change={ onChangeAmount }></material-textfield></div>
    <div class="edit-memo"><material-textfield ref="edit_memo" hint="Description" pattern={ '.{0,60}' } invalid_message="Too Long" on_change={ onChangeMemo }></material-textfield></div>
    <div class="treasureitem-preview">
        <div class="treasure-tmbframe">
            <canvas class="thumbnail-droparea-preview" ref="thumbnail_canvas" width="600" height="600"></canvas>
            <div ref="edit_thumbnail_droparea" class="thumbnail-droparea">
                <div if={ !isThumbnailLoaded } class="thumbnail-droparea-label">{ TagG.jp ? 'サムネイル画像' : 'Thumbnail Image' }<br><br>{ TagG.jp ? '推奨サイズ' : 'recommended size' }<br>600px x 600px</div>
                <input type="file" accept="image/png,image/jpeg,image/gif" ref="edit_thumbnail" ondragover={ onThumbnailDragOver } ondragleave={ onThumbnailDragLeave } ondrop={ onThumbnailDrop } onchange={ onThumbnailChange }>
            </div>
            <div class="treasure-amount open"><i class="material-icons">lock_open</i>&ensp;M / { amount || 'N' }</div>
            <div class="treasure-buttonsframe">
                <div if={ isThumbnailLoaded } class="treasureitem-button"><material-iconbutton icon="delete" is_white="true" on_click={ onClickThumbnailClearButton }></material-iconbutton></div>
            </div>
        </div>
        <div class="treasure-labelframe">
            <div if={ !assetGroup } class="assetname">{ assetName || 'PREVIEW' }</div>
            <div if={ assetGroup } class="assetname">{ assetGroup } <span class="nft-tag"></span></div>
            <div if={ assetGroup } class="asset-id">{ assetName }</div>
            <div if={ memo } class="description">{ memo }</div>
        </div>
    </div>
    <div ref="edit_editor" class="editor"></div>
    <div class="edit-upload-button"><material-button label={ TagG.jp ? 'アップロード' : 'UPLOAD' } icon="cloud_upload" is_unelevated="true" is_fullwidth="true" on_click={ onClickUploadButton }></material-button></div>
</div>
</div>
</div>
</div>

<script>
    this.TagG = TagG;
    const TREASURE_PER_ASSET = 5;
    const [CANVAS_WIDTH, CANVAS_HEIGHT] = [300, 300];
    const TREASURE_MAXMBLENGTH = 2;
    const TREASURE_MAXBYTELENGTH = 1024 * 1024 * TREASURE_MAXMBLENGTH;
    const MEMO_MAXLENGTH = 60;
    this.initTrsrData = opts.trsr_data;
    this.isThumbnailLoaded = false;
    this.isThumbnailChanged = false;
    this.isEditingInitData = false;
    this.tokenSelectItems = [];

    this.onChangeToken = (value) => {
        const item = this.tokenSelectItems[value];
        if (item) {
            this.assetName = item.assetData.name;
            this.assetGroup = item.assetData.group;
            this.isEditingInitData = false;
            this.isThumbnailChanged = true;
            this.update();
        }
    };
    this.onChangeAmount = (value) => {
        this.amount = value;
        this.isEditingInitData = false;
        this.isThumbnailChanged = true;
        this.update();
    };
    this.onChangeMemo = (value) => { this.memo = value; this.update() };
    this.onThumbnailDragOver = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.edit_thumbnail_droparea.style.borderColor = 'black';
    };
    this.onThumbnailDragLeave = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.edit_thumbnail_droparea.style.removeProperty('border-color');
    };
    this.onThumbnailDrop = (event) => {
        event.stopPropagation();
        event.preventDefault();
        this.refs.edit_thumbnail_droparea.style.removeProperty('border-color');
        const files = event.dataTransfer.files;
        if (files.length > 1) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '選択できる画像は1つだけです' : 'Multiple files selected.', 'error');
        this.refs.edit_thumbnail.files = files;
        previewThumbnail(files[0]);
    };
    this.onThumbnailChange = (event) => {
        if (event.target.files && event.target.files[0]) previewThumbnail(event.target.files[0]);
    };
    this.onClickThumbnailClearButton = () => {
        getThumbnailCanvasContext().clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
        this.isThumbnailLoaded = false;
        this.isThumbnailChanged = true;
        this.update();
    };
    this.onClickUploadButton = async() => {
        try {
            TagG.bodySpinner.start();
            const tokenItem = this.tokenSelectItems[this.refs.edit_token.getValue()];
            if (!tokenItem) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'トークンを選択してください' : 'No token selected.', 'error');
            const { assetData, addrData } = tokenItem;
            const amountS = this.refs.edit_amount.getValue().trim();
            const quantityS = amountS2quantityS(amountS, assetData.isDivisible);
            if (!quantityS) return;
            const memo = this.refs.edit_memo.getValue();
            if (memo.length > MEMO_MAXLENGTH) return myswal(TagG.jp ? 'だめ' : 'Oops!', (TagG.jp ? `Descriptionは${MEMO_MAXLENGTH}文字以内で入力してください` : `Description must be no more than ${MEMO_MAXLENGTH} chars.`), 'error');
            const treasureHTML = this.editor.getData();
            const treasureSize = new Blob([treasureHTML], { type: 'text/plain' }).size;
            const treasureMBSizeS = (treasureSize / 1024 / 1024).toFixed(2);
            console.log(`treasure size: ${treasureMBSizeS}MB`);
            if (treasureSize > TREASURE_MAXBYTELENGTH)
                return myswal(TagG.jp ? 'だめ' : 'Oops!', (TagG.jp ? `記事は画像も含めて${TREASURE_MAXMBLENGTH}MB以内にしてください。現在のサイズは${treasureMBSizeS}MBあります` : `Articles should be no larger than ${TREASURE_MAXMBLENGTH}MB, including images. Current size is ${treasureMBSizeS}MB.`), 'error');
            if (this.treasures) {
                const isOverwrite = this.treasures.some(trsr => (trsr.asset === assetData.asset && trsr.qty === quantityS));
                if (!isOverwrite) {
                    const count = this.treasures.filter(trsr => (trsr.asset === assetData.asset)).length;
                    if (count >= TREASURE_PER_ASSET) return myswal(TagG.jp ? 'だめ' : 'Oops!', (TagG.jp ? `1つのトークンに登録できるお宝は${TREASURE_PER_ASSET}個までです` : `You can only register up to ${TREASURE_PER_ASSET} treasures per token.`), 'error');
                }
            }
            const treasureData = { html: treasureHTML };
            let thumbnailBlob, thumbnailType;
            if (this.isThumbnailLoaded) {
                if (this.isThumbnailChanged) {
                    const thumbnailBlobPNG = await aGetBlob(this.refs.thumbnail_canvas, 'image/png');
                    const thumbnailBlobJPG = await aGetBlob(this.refs.thumbnail_canvas, 'image/jpeg', 0.85);
                    console.log(`thumbnail png size: ${thumbnailBlobPNG.size / 1024}KB`);
                    console.log(`thumbnail jpg size: ${thumbnailBlobJPG.size / 1024}KB`);
                    if (thumbnailBlobPNG.size < thumbnailBlobJPG.size) {
                        thumbnailBlob = thumbnailBlobPNG;
                        thumbnailType = 'PNG';
                    }
                    else {
                        thumbnailBlob = thumbnailBlobJPG;
                        thumbnailType = 'JPG';
                    }
                }
                else thumbnailType = 'UNCHANGED';
            }
            else {
                if (this.isEditingInitData && !this.isThumbnailChanged) thumbnailType = 'UNCHANGED';
                else thumbnailType = 'NONE';
            }
            const treasureParams = { asset: assetData.asset, quantity: quantityS, type: 'HTML', thumbnailType, memo };
            const { treasureUploadInfo, thumbnailUploadInfo } =
                await TagG.aSignedJsonRPCRequest(TagG.TOKENVAULT_API, 'setTreasure', treasureParams, addrData);
            const trsrFormData = new FormData();
            trsrFormData.append('Content-Type', 'application/json');
            Object.entries(treasureUploadInfo.fields).forEach(([key, value]) => trsrFormData.append(key, value));
            trsrFormData.append('file', JSON.stringify(treasureData));
            const treasureResponse = await fetch(treasureUploadInfo.url, { method: 'POST', body: trsrFormData });
            const treasureResult = await treasureResponse.text();
            if (!treasureResponse.ok) throw new Error('treasure upload failed.\n', treasureResult);
            console.log('treasure uploaded');
            console.log(treasureResult);
            if (thumbnailUploadInfo && thumbnailBlob) {
                const tmbFormData = new FormData();
                tmbFormData.append('Content-Type', thumbnailBlob.type);
                Object.entries(thumbnailUploadInfo.fields).forEach(([key, value]) => tmbFormData.append(key, value));
                tmbFormData.append('file', thumbnailBlob);
                const thumbnailResponse = await fetch(thumbnailUploadInfo.url, { method: 'POST', body: tmbFormData });
                const thumbnailResult = await thumbnailResponse.text();
                if (!thumbnailResponse.ok) throw new Error('thumbnail upload failed.\n\n', thumbnailResult);
                console.log('thumbnail uploaded');
                console.log(thumbnailResult);
            }
            myswal({ title: 'Success', text: (TagG.jp ? 'アップロードしました' : 'Uploaded.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
            TagG.tokenVaultCacheID = new Date().getTime();
        }
        catch (error) {
            console.error(error);
            myswal('Error', TagG.jp ? `エラーが発生しました。ヒント：${error}` : `Failed. hint: ${error}`, 'error');
        }
        finally { TagG.bodySpinner.stop() }
    };

    this.on('mount', async() => {
        if (!TagG.addrsData) return;
        await TagG.aUpdateAddrsDataWithUI(TagG.bodySpinner);
        const tokenSelectItems = [];
        for (const addrData of TagG.addrsData) {
            for (const asset of addrData.assets) {
                if (asset.isOwn) tokenSelectItems.push({ label: asset.longLabel, assetData: asset, addrData: addrData });
            }
        }
        tokenSelectItems.sort((a, b) => {
            const [assetA, assetB] = [a.assetData, b.assetData];
            let [nameA, nameB] = [assetA.name.toLowerCase(), assetB.name.toLowerCase()];
            if (nameA[0] === 'a') nameA = `~${nameA}`;
            if (nameB[0] === 'a') nameB = `~${nameB}`;
            if (assetA.group) nameA = `~~G${assetA.group}${nameA}`;
            if (assetB.group) nameB = `~~G${assetB.group}${nameB}`;
            if (nameA < nameB) return -1;
            if (nameA > nameB) return 1;
            return 0;
        });
        tokenSelectItems.forEach((item, index) => { item.value = `${index}` });
        this.tokenSelectItems = tokenSelectItems;
        this.addrsLoaded = true;
        this.update();
        setTimeout(aSetupEditor, 0); // awaitしなくても時間がかかり表示をブロックしてしまうので別スレッドで実行
        aLoadTreasures();
    });
    this.on('before-unmount', () => {
        if (this.editor) this.editor.destroy();
    });
    const aLoadTreasures = async() => {
        const { treasures } = await Util.aGetJSON(`${TagG.TOKENVAULT_ROOT}public/tokenvault.json?${TagG.tokenVaultCacheID}`, true);
        this.treasures = treasures;
    };
    const previewThumbnail = (file) => {
        const ARROWED_TYPES = ['image/png', 'image/jpeg', 'image/gif'];
        const [CROP_WIDTH_RATE, CROP_HEIGHT_RATE] = [600, 600];
        if (!ARROWED_TYPES.includes(file.type)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'サポートしていない画像形式です' : 'Unsupported image format.', 'error');
        const image = new Image();
        const reader = new FileReader();
        reader.onload = (fileLoadEvent) => {
            const dataURL = fileLoadEvent.target.result;
            image.src = dataURL;
        };
        image.onload = () => {
            let cropX, cropY, cropWidth, cropHeight;
            if (image.height / image.width > CROP_HEIGHT_RATE / CROP_WIDTH_RATE) {
                cropWidth = image.width;
                cropHeight = cropWidth * CROP_HEIGHT_RATE / CROP_WIDTH_RATE;
                cropX = 0;
                cropY = (image.height - cropHeight) / 2;
            }
            else {
                cropHeight = image.height;
                cropWidth = cropHeight * CROP_WIDTH_RATE / CROP_HEIGHT_RATE;
                cropY = 0;
                cropX = (image.width - cropWidth) / 2;
            }
            const context = getThumbnailCanvasContext();
            context.fillStyle = 'rgb(255, 255, 255)';
            context.fillRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
            context.drawImage(image, cropX, cropY, cropWidth, cropHeight, 0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
            this.isThumbnailLoaded = true;
            this.isThumbnailChanged = true;
            this.update();
        };
        reader.readAsDataURL(file);
    };
    const getThumbnailCanvasContext = () => {
        const context = this.refs.thumbnail_canvas.getContext('2d');
        context.setTransform(1, 0, 0, 1, 0, 0);
        context.scale(2, 2);
        return context;
    };
    const aSetupEditor = async() => {
        if (!this.refs.edit_editor) return;
        this.editor = await BalloonBlockEditor.create(this.refs.edit_editor, BALLOONBLOCKEDITOR_SETTINGS);
        await aFillWithInitData();
    };
    const aFillWithInitData = async() => {
        try {
            if (!this.initTrsrData) return;
            TagG.bodySpinner.start();
            const { thumbnailURL, assetName, amountS, memo, treasureDownloadURL } = this.initTrsrData;
            const tokenItem = this.tokenSelectItems.find(item => item.assetData.name === assetName);
            if (!tokenItem) return;
            this.refs.edit_token.setValue(tokenItem.value);
            this.refs.edit_amount.setValue(amountS);
            this.refs.edit_memo.setValue(memo);
            this.assetName = assetName;
            this.assetGroup = tokenItem.assetData.group;
            this.amount = amountS;
            this.memo = memo;
            this.update();
            const { html } = await Util.aGetJSON(treasureDownloadURL);
            this.editor.setData(html);
            if (thumbnailURL) {
                const image = new Image();
                image.crossOrigin = 'anonymous';
                image.onload = () => {
                    const context = getThumbnailCanvasContext();
                    context.fillStyle = 'rgb(255, 255, 255)';
                    context.fillRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
                    context.drawImage(image, 0, 0, image.width, image.height, 0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
                    this.isThumbnailLoaded = true;
                    this.isEditingInitData = true;
                    this.update();
                };
                image.src = thumbnailURL;
            }
        }
        catch (error) { console.error(error) }
        finally { TagG.bodySpinner.stop() }
    };
    const amountS2quantityS = (amountS, isDivisible) => {
        if (isDivisible) {
            if (!amountS.match(/^[0-9]{1,11}(\.[0-9]{1,8})?$/)) { myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'トークン必要量は0以上の数値を半角で入力してください' : 'Invalid amount.', 'error'); return null }
            const [intPart, fracPart] = amountS.split('.');
            const quantityS = intPart + ((fracPart || '') + '00000000').slice(0, 8);
            return quantityS.replace(/^0*/, '') || '0';
        }
        else {
            if (!amountS.match(/^[0-9]{1,19}$/)) { myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'トークン必要量は0以上の整数を半角で入力してください' : 'Invalid amount.', 'error'); return null }
            return amountS.replace(/^0*/, '') || '0';
        }
    };
    const aGetBlob = (canvas, mimeType, qualityArgument) => {
        return new Promise(resolve => canvas.toBlob(resolve, mimeType, qualityArgument));
    };

    const BALLOONBLOCKEDITOR_SETTINGS = {
        toolbar: {
            items: ['bold', 'link', 'code', 'fontColor', 'fontSize'],
        },
        language: 'ja',
        blockToolbar: [
            'heading', 'blockQuote', 'imageUpload', 'codeBlock', 'insertTable', 'mediaEmbed', '|',
            'bulletedList', 'numberedList', 'indent', 'outdent',
        ],
        image: {
            toolbar: ['imageTextAlternative', 'imageStyle:full', 'imageStyle:side'],
            upload: {
                panel: {
                    items: ['insertImageViaUrl'],
                },
            },
        },
        table: {
            contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells'],
        },
        licenseKey: '',
        placeholder: (TagG.jp ? 'ここに書いてね' : 'Write here.'),
    };
</script>

</tokenvault-edit-tab>
