tokenvault-list-tab {
    .list-tab {
        margin: 0 10px;
        padding-top: 10px;
        .nologin-message {
            margin: 20px 0 20px 0;
            color: $quietColor;
            text-align: center;
        }
        .search-frame {
            position: relative;
            box-sizing: border-box;
            width: 460px;
            max-width: 100%;
            margin: 16px auto;
            padding: 0 8px;
            .search-clearbutton-frame {
                position: absolute;
                top: 4px;
                right: 12px;
            }
        }
        .treasure-items {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: flex-start;
            .treasure-item {
                position: relative;
                width: 300px;
                min-height: 300px;
                background-color: white;
                border-radius: 3px;
                overflow: hidden;
                text-align: left;
                cursor: pointer;
                box-shadow: 0px 1px 2px rgba(black, 0.2);
                content-visibility: auto;
                @media screen and (max-width: 940px) {
                    width: calc(33.3% - 6.6px);
                }
                @media screen and (max-width: 600px) {
                    width: calc(50% - 5px);
                }
                &:hover { filter: brightness(105%); }
                &:active { filter: brightness(110%); }
                .treasure-tmbframe {
                    position: relative;
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }
                    .treasure-buttonsframe {
                        position: absolute;
                        bottom: 10px;
                        right: 0;
                        .treasureitem-button {
                            display: inline-block;
                            margin-right: 10px;
                            background-color: rgba(black, 0.7);
                            border-radius: 40px;
                            z-index: 1;
                        }
                    }
                }
                .treasure-labelframe {
                    position: relative;
                    box-sizing: border-box;
                    padding: 10px 12px 12px 12px;
                    min-height: 150px;
                    pointer-events: none;
                    .assetname {
                        font-size: 24px;
                    }
                    .description {
                        margin-top: 4px;
                        font-size: 16px;
                    }
                    .asset-id {
                        font-size: 14px;
                        margin-bottom: 6px;
                    }
                }
                .lock-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(white, 0.7);
                }
                .treasure-amount {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    padding: 4px 16px 4px 12px;
                    font-size: 24px;
                    line-height: 32px;
                    .material-icons {
                        font-size: 32px;
                        vertical-align: middle;
                    }
                    &.open {
                        background-color: rgba(white, 0.7);
                        border-radius: 0 40px 40px 0;
                    }
                }
            }
        }
    }
}
