<tools-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">build</i>
        <h2 class="page-title">Tools</h2>
    </div>
    <div class="page-content">
        <div class="tool-frame">
            <div><a class="tool-link" href={ TagG.RELATIVE_LINK_BASE + 'wallet_settings' }>{ TagG.jp ? 'ウォレット設定' : 'Wallet Settings' }</a></div>
            <div class="description">{ TagG.jp ? 'ウォレットのチューニングができます。' : 'You can change the settings of your wallet.' }</div>
        </div>
        <div class="tool-frame">
            <div><a class="tool-link" href={ TagG.RELATIVE_LINK_BASE + 'addrbook' }>{ TagG.jp ? 'アドレス帳' : 'Address Book' }</a></div>
            <div class="description">
                <span if={ TagG.jp }>よく使うアドレスを登録しておくと送信時にワンタッチで入力できるようになります。トークンを送るときのメモも併せて保存できるので、モナパちゃんのアドレスなどを保存しておくと便利です。</span>
                <span if={ !TagG.jp }>Saving frequently used addresses to the address book, you will be able to enter them with a single touch when sending. You can save memos as well, so it's useful to save Monapachan's address.</span>
            </div>
        </div>
        <div class="tool-frame">
            <div><a class="tool-link" href={ TagG.RELATIVE_LINK_BASE + 'monaparty_api' }>{ TagG.jp ? 'Monaparty API リクエストツール' : 'Monaparty API Client' }</a></div>
            <div class="description">
                <span if={ TagG.jp }>好きなパラメータでMonapartyのAPIにリクエストが送れます。テスト用途や、モナパレットが対応していない機能を使いたい場合にご利用ください。</span>
                <span if={ !TagG.jp }>This tool helps you to send custom requests to Monaparty API. Use it for testing purposes or when you want to use features that Monapalette does not support.</span>
            </div>
        </div>
        <div if={ !TagG.IS_MPURSEEX } class="tool-frame">
            <div><a class="tool-link" href={ TagG.RELATIVE_LINK_BASE + 'regenerate_quickurl' }>{ TagG.jp ? 'Quick Access URL 再生成ツール' : 'Quick-Access URL Generator' }</a></div>
            <div class="description">
                <span if={ TagG.jp }>モナパレットの既存のニーモニックからQuick Access URLを再生成することができます。Quick Access URLやパスワードを誤って削除してしまった場合や、新しいパスワードを使いたい場合にご利用ください。</span>
                <span if={ !TagG.jp }>Quick-access URLs can be regenerated from existing BIP39 mnemonics.</span>
            </div>
        </div>
        <div if={ !TagG.IS_MPURSEEX } class="tool-frame">
            <div><a class="tool-link" href={ TagG.RELATIVE_LINK_BASE + 'generate_kirakiraaddr' }>{ TagG.jp ? 'キラキラアドレス生成ツール' : 'KIRA KIRA Address Generator' }</a></div>
            <div class="description">
                <span if={ TagG.jp }>末尾が指定した文字列になっているアドレスが出るまでひたすらニーモニックを生成します。おしゃれなアドレスをマイニングしてお友達に自慢しよう。</span>
                <span if={ !TagG.jp }>You can keep generating mnemonics until you get an address that ends with the specified string.</span>
            </div>
        </div>
        <div if={ !TagG.IS_MPURSEEX } class="tool-frame">
            <div><a class="tool-link" href="https://mpurse-extension.komikikaku.com/step" target="_blank">{ TagG.jp ? 'Mpurseエクステ' : 'MpurseExte' }</a></div>
            <div class="description">
                <span if={ TagG.jp }>Mpurseはとても便利ですが機能はシンプルなので、モナパレットの機能をMpurseのアドレスで使えるようにしてみました。これでMpurseのアドレスからでもトークンを送る以外のMonapartyの操作ができるし、モナカードとの連携もお手軽です。やったね。</span>
                <span if={ !TagG.jp }>MpurseExte enables you to use Monapalette's functions with your Mpurse address.</span>
            </div>
            <div class="description">
                <span if={ TagG.jp }>ブラウザプラグインに対してモナパレットへのアクセスを許可するのはあまり好ましくないので、サイトを分けてあります。</span>
                <span if={ !TagG.jp }>As it is not very nice to allow access to Monapalette for browser plugins, MpurseExe is a separate site.</span>
            </div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
</script>

</tools-page>
