<treasure-body>

<div class="treasure-body">
    <div class="center">
        <div ref="readonly_editor" class="readonly-editor s1 s2 s3"></div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.on('mount', async() => {
        let treasureURL = TagG.query[TagG.QUERYKEY_TREASUREURL];
        if (!treasureURL) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'お宝のURLが指定されてません' : 'Treasure URL is not specified.', 'error');
        treasureURL = decodeURIComponent(treasureURL);
        await aSetupEditor();
        try {
            const { html } = await Util.aGetJSON(treasureURL);
            this.readonlyEditor.setData(html);
        }
        catch(error) {
            return myswal(TagG.jp ? 'だめ' : 'Oops!', (TagG.jp ? 'お宝にアクセスできませんでした。お宝のURLは発行してから一定時間しかアクセスできないようになっているので、もういちど見るときはお宝リストから開き直してください' : 'Access failed. As the URL of the treasure can only be accessed for a certain period of time after it is issued, please reopen it from the treasure list if you want to see it again.'), 'error');
        }
    });
    const aSetupEditor = async() => {
        this.readonlyEditor = await BalloonBlockEditor.create(this.refs.readonly_editor, BALLOONBLOCKEDITOR_SETTINGS);
        this.readonlyEditor.isReadOnly = true;
    };
    const BALLOONBLOCKEDITOR_SETTINGS = {
        toolbar: {
            items: ['bold', 'link', 'code', 'fontColor', 'fontSize'],
        },
        language: 'ja',
        blockToolbar: [
            'heading', 'blockQuote', 'imageUpload', 'codeBlock', 'insertTable', 'mediaEmbed', '|',
            'bulletedList', 'numberedList', 'indent', 'outdent',
        ],
        image: {
            toolbar: ['imageTextAlternative', 'imageStyle:full', 'imageStyle:side'],
            upload: {
                panel: {
                    items: ['insertImageViaUrl'],
                },
            },
        },
        table: {
            contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells'],
        },
        licenseKey: '',
        placeholder: '',
    };
</script>

</treasure-body>
