treasure-body {
    .treasure-body {
        position: relative;
        margin: 0;
        padding: 20px 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    .center {
        max-width: 720px;
        margin: 0 auto;
    }
    .readonly-editor.s1.s2.s3 {
        position: relative;
        background-color: white;
        margin: 0 20px;
        min-height: 200px;
        font-size: 16px;
        line-height: 1.8;
        box-sizing: border-box;
        h2,h3,h4 {
            font-weight: normal;
        }
        h2 {
            font-size: 2.4em;
            line-height: 1.4;
        }
        h3 {
            font-size: 1.8em;
            line-height: 1.6;
        }
        h4 {
            font-size: 1.4em;
            line-height: 1.8;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #E0E0E0;
        }
        p {
            line-height: 1.8;
        }
        pre {
            margin: 0;
            font-family: $fontFamily;
            white-space: pre-wrap;
            word-break: break-word;
            font-size: 14px;
        }
        code {
            font-family: $codeFontFamily;
        }
    }
}
