.dexpurchase-swalwindow {
    &.purchase-window {
        .card-frame {
            img {
                display: inline-block;
                box-sizing: border-box;
                width: 100%;
                max-width: 320px;
                border-style: solid;
                border-width: 1px;
                border-color: #FAFAFA;
                border-radius: 3px;
                vertical-align: middle;
            }
        }
        .attrs {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 14px;
            .attr {
                padding: 4px 8px;
                border-style: solid;
                border-width: 1px;
                border-radius: 3px;
                border-color: $quietColor;
                text-align: left;
                .attr-name {
                    font-size: 76%;
                    color: $quietColor;
                }
                .attr-value {
                    text-align: left;
                }
            }
        }
        .amount-input {
            width: 50%;
        }
    }
}
