<txmanager-dexpurchase>

<div ref="swalwindows_container" show={ false }>
    <div ref="purchase_window" class="dexpurchase-swalwindow purchase-window">
        <div if={ !assetInfo.group } class="title">
            <span if={ TagG.jp }>{ assetInfo.name }を買う</span>
            <span if={ !TagG.jp }>Buy { assetInfo.name }</span>
        </div>
        <div if={ assetInfo.group } class="title">
            <span if={ TagG.jp }>{ assetInfo.group } <span class="nft-tag"></span> を買う</span>
            <span if={ !TagG.jp }>Buy { assetInfo.group } <span class="nft-tag"></span></span>
        </div>
        <div if={ assetInfo.group } class="basic"><i class="material-icons inline-icon">tag</i> { assetInfo.name }</div>
        <div if={ saleData.imageURL } class="basic card-frame">
            <img if={ !assetInfo.appData?.rakugakinft } src={ saleData.largeImageURL } loading="lazy">
            <img if={ assetInfo.appData?.rakugakinft } src={ saleData.largeImageURL + '?' + TagG.getRakugakiCacheID(assetInfo.asset) } class="bg-checker" loading="lazy">
        </div>
        <div if={ saleData.mainDescription } class="basic oblique">{ saleData.mainDescription }</div>
        <div class="basic">{ TagG.jp ? '発行数' : 'Issued' }: { commafy(assetInfo.issuedAmount) } <i if={ assetInfo.isLocked } class="material-icons inline-icon">lock</i></div>
        <div if={ assetInfo.appData?.attributes } class="basic attrs">
            <div each={ assetInfo.appData.attributes } class="attr"><div class="attr-name">{ name }</div><div class="attr-value">{ value }</div></div>
        </div>
        <div class="buttons-frame">
            <material-button label="MPCHAIN" icon="open_in_new" is_link="true" link_href={ assetInfo.explorerURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ saleData.cardData } label="Monacard" icon="open_in_new" is_link="true" link_href={ saleData.cardData.siteURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ assetInfo.appData?.monacharat } label={ TagG.jp ? 'モナキャラット' : 'MonaCharaT' } icon="open_in_new" is_link="true" link_href={ assetInfo.appData.monacharat.url } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ assetInfo.appData?.monacute } label="Monacute" icon="open_in_new" is_link="true" link_href={ assetInfo.appData.monacute.url } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ purchaseWindow.treasuresURL } label="Token Vault" icon="search" is_link="true" link_href={ purchaseWindow.treasuresURL } reload_opts="true"></material-button>
        </div>
        <div class="section">
            <div class="basic">
                <span if={ TagG.jp }>1 枚あたり { saleData.priceS }&nbsp;{ currencyAssetInfo.name } で { commafy(saleData.remainingAmount) }&nbsp;枚まで買えます</span>
                <span if={ !TagG.jp }>You can buy up to { commafy(saleData.remainingAmount) } tokens at { saleData.priceS }&nbsp;{ currencyAssetInfo.name } per token.</span>
            </div>
            <div if={ !TagG.addrsData } class="basic">{ TagG.jp ? 'ここから購入するにはWalletを開いてください' : 'To buy from here, open your wallet.' }</div>
            <div if={ TagG.addrsData }>
                <div class="basic"><material-select if={ recreateFlag } ref="purchase_addr" hint="Address" is_fullwidth="true" is_menuwidth_fixed="true" items={ TagG.addrSelectItems } default_value={ lastSelectedAddr || TagG.addrSelectDefaultValue } on_change={ purchaseWindow.onChangeAddrSelect }></material-select></div>
                <div class="basic"><i class="material-icons inline-icon">account_balance_wallet</i> { purchaseWindow.currencyBalanceStr } { currencyAssetInfo.name }</div>
                <div class="basic">
                    <div class="inline-input amount-input"><material-textfield ref="purchase_amount" hint="Amount" pattern={ '[0-9]*(\\.[0-9]+)?' } invalid_message="Invalid Format" on_input={ purchaseWindow.onInputAmount }></material-textfield></div>
                    <div class="text-with-inlineinput">{ TagG.jp ? '枚' : 'tokens' }</div>
                </div>
                <div class="basic">{ TagG.jp ? '計' : 'Total:' } { commafy(purchaseWindow.currencyAmount) }&nbsp;{ currencyAssetInfo.name } &rarr; { commafy(purchaseWindow.assetAmount) }&nbsp;{ assetInfo.name }</div>
            </div>
        </div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div if={ TagG.addrsData } class="bottombutton-frame">
            <material-button label={ TagG.jp ? '買う' : 'BUY' } icon="shopping_cart" on_click={ purchaseWindow.onClickPurchaseButton } is_unelevated="true" is_fullwidth="true"></material-button>
        </div>
    </div>

    <div ref="purchase_conf_window" class="dexpurchase-swalwindow">
        <div class="title">
            <span if={ TagG.jp }>{ assetInfo.name }を買う</span>
            <span if={ !TagG.jp }>Buy { assetInfo.name }</span>
        </div>
        <div class="basic">
            <span if={ TagG.jp }>1 枚あたり { saleData.priceS }&nbsp;{ currencyAssetInfo.name } で { commafy(orderData.getAmount) }&nbsp;{ assetInfo.name } の買い注文を出します。トランザクション手数料が { commafy(orderData.feeAmount) }&nbsp;{ TagG.BASECHAIN_ASSET } かかりますがOKですか？</span>
            <span if={ !TagG.jp }>Buy order for { commafy(orderData.getAmount) }&nbsp;{ assetInfo.name } at a price of { saleData.priceS }&nbsp;{ currencyAssetInfo.name } will be placed. You will be charged a tx fee of { commafy(orderData.feeAmount) }&nbsp;{ TagG.BASECHAIN_ASSET }, OK?</span>
        </div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div class="bottombutton-frame">
            <material-button label="OK" on_click={ purchaseConfWindow.onClickOKButton } is_unelevated="true" is_fullwidth="true"></material-button>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.commafy = Util.commafy;
    this.purchaseWindow = {};
    this.purchaseConfWindow = {};
    this.orderData = {};
    this.saleData = {};
    this.assetInfo = {};
    this.currencyAssetInfo = {};

    this.open = (saleData) => {
        this.recreateFlag = false;
        this.update();
        this.recreateFlag = true;
        this.saleData = saleData;
        this.assetInfo = saleData.assetInfo;
        this.currencyAssetInfo = saleData.currencyAssetInfo;
        this.purchaseWindow.currencyAmount = 0;
        this.purchaseWindow.assetAmount = 0;
        this.purchaseWindow.treasuresURL = TagG.asset2treasures[this.assetInfo.asset]?
           `${TagG.RELATIVE_LINK_BASE}tokenvault?${TagG.QUERYKEY_SEARCH}=${encodeURIComponent(this.assetInfo.asset)}` : null;
        if (TagG.addrsData) {
            const defaultAddrData = TagG.addrsData.find(data => (data.address === (this.lastSelectedAddr || TagG.addrSelectDefaultValue)));
            this.purchaseWindow.currencyBalanceStr = Util.commafy(defaultAddrData.getBalanceAmount(this.currencyAssetInfo.asset));
        }
        if (this.refs.purchase_amount) {
            const defaultAmount = this.assetInfo.isDivisible ? '' : '1';
            this.refs.purchase_amount.setValue(defaultAmount);
            this.purchaseWindow.onInputAmount(defaultAmount);
        }
        clearWindowMessages();
        Util.aOpenContentSwal(this.refs.purchase_window);
    };
    this.purchaseWindow.onChangeAddrSelect = (address) => {
        this.lastSelectedAddr = address;
        const addrData = TagG.addrsData.find(data => (data.address === address));
        this.purchaseWindow.currencyBalanceStr = Util.commafy(addrData.getBalanceAmount(this.currencyAssetInfo.asset));
        this.update();
    };
    this.purchaseWindow.onInputAmount = (value) => {
        const amount = Number(value);
        if (isNaN(amount) || amount < 0) return;
        this.purchaseWindow.currencyAmount = TagG.qty2amount(calcTotalSatToBuy(amount), this.currencyAssetInfo.isDivisible);
        this.purchaseWindow.assetAmount = amount;
        this.update();
    };
    this.purchaseWindow.onClickPurchaseButton = () => {
        const fromAddr = this.refs.purchase_addr.getValue();
        const amount = Number(this.refs.purchase_amount.getValue());
        if (!fromAddr) return showWindowError(TagG.jp ? 'だめです。アドレスを選択してね' : 'Oops! No address selected.');
        if (isNaN(amount) || amount <= 0) return showWindowError(TagG.jp ? 'だめです。数量は正の値にしてね' : 'Oops! Invalid amount.');
        const currencyAmount = TagG.qty2amount(calcTotalSatToBuy(amount), this.currencyAssetInfo.isDivisible);
        if (!this.assetInfo.isDivisible && !Number.isInteger(amount)) return showWindowError(TagG.jp ? 'だめです。数量は整数にしてね' : 'Oops! Invalid amount.');
        if (!this.currencyAssetInfo.isDivisible && !Number.isInteger(currencyAmount)) return showWindowError(TagG.jp ? 'だめです。支払い額が整数になるようにしてね' : 'Oops! "Total" must be an integer.');
        const addrData = TagG.addrsData.find(data => (data.address === fromAddr));
        const giveSat = TagG.amount2qty(currencyAmount, this.currencyAssetInfo.isDivisible);
        const getSat = TagG.amount2qty(amount, this.assetInfo.isDivisible);
        this.orderData.getAmount = amount;
        aPrepareOrder(addrData, this.currencyAssetInfo.asset, giveSat, this.assetInfo.asset, getSat);
    };
    this.purchaseConfWindow.onClickOKButton = () => { aOrder() };

    this.on('mount', async() => {
        const container = this.refs.swalwindows_container;
        while (container && container.firstChild) container.removeChild(container.firstChild);
    });
    const aPrepareOrder = async(addrData, giveAsset, giveSat, getAsset, getSat) => {
        try {
            TagG.bodySpinner.start();
            const orderParams = {
                'source': addrData.address,
                'give_asset': giveAsset,
                'give_quantity': giveSat,
                'get_asset': getAsset,
                'get_quantity': getSat,
                'expiration': 1, // 約定しなければすぐに失効
                'fee_provided': 0, // ドキュメントにないけど必須
                'fee_required': 0, // ドキュメントにないけど必須
                'fee_per_kb': TagG.FEESAT_PERBYTE * 1000,
                'extended_tx_info': true,
            };
            if (addrData.publicKey) orderParams['pubkey'] = addrData.publicKey.toString('hex');
            if (TagG.confNum === 0) orderParams['allow_unconfirmed_inputs'] = true;
            const orderData = this.orderData;
            await TagG.aMonapartyTXCreate('create_order', orderParams, orderData);
            orderData.address = addrData.address;
            orderData.giveAsset = giveAsset;
            orderData.giveSat = giveSat;
            console.log(orderData);
            clearWindowMessages();
            Util.aOpenContentSwal(this.refs.purchase_conf_window);
        }
        catch (error) {
            console.error(error);
            showWindowError(TagG.jp?
                `トランザクションの準備に失敗しました。入力した値に問題があるか、必要な${TagG.BASECHAIN_ASSET}やトークンが足りないかもしれません。データの更新などいろいろ試してもうまくいかない場合は情報を揃えてご連絡ください。ヒント：${error}`:
                `Failed to prepare tx. hint: ${error}`);
        }
        finally { TagG.bodySpinner.stop() }
    };
    const aOrder = async() => {
        try {
            TagG.bodySpinner.start();
            const orderData = this.orderData;
            const addrData = TagG.addrsData.find(data => (data.address === orderData.address));
            const signedTXHex = await TagG.aSignTXHex(orderData.txHex, addrData, null);
            const txID = await TagG.aBroadcast(signedTXHex);
            console.log({ txID });
            reduceBalance(addrData, orderData.giveAsset, orderData.giveSat);
            if (this.refs.purchase_amount) this.refs.purchase_amount.setValue('');
            myswal({ title: 'Success', text: (TagG.jp ? '注文しました' : 'Ordered.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
        }
        catch (error) {
            console.error(error);
            showWindowError(TagG.jp?
            `トランザクションのブロードキャストに失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}`:
            `Failed to broadcast tx. hint: ${error}`);
        }
        finally { TagG.bodySpinner.stop() }
    };
    const calcTotalSatToBuy = (amount) => {
        let totalSat = TagG.amount2qty(this.saleData.price * amount, this.currencyAssetInfo.isDivisible);
        if (this.assetInfo.isDivisible) { // totalSatが切下げられてると約定しないので修正
            const priceSatN = BigInt(TagG.amount2qty(this.saleData.price, this.currencyAssetInfo.isDivisible));
            const amountSatN = BigInt(amount * TagG.SATOSHI_RATIO);
            if (priceSatN * amountSatN > BigInt(totalSat) * BigInt(TagG.SATOSHI_RATIO)) totalSat++;
        }
        return totalSat;
    };
    const reduceBalance = (addrData, asset, satoshi) => {
        const balanceData = addrData.assets.find(assetData => (assetData.asset === asset));
        if (balanceData) balanceData.satoshi -= satoshi;
        else if (asset === TagG.BUILTIN_ASSET) addrData.builtinSat -= satoshi;
    };
    const clearWindowMessages = () => {
        this.windowErrorText = '';
        this.update();
    };
    const showWindowError = (message) => {
        this.windowErrorText = message;
        this.update();
    };
</script>

</txmanager-dexpurchase>
