<txmanager-dispenserpurchase>

<div ref="swalwindows_container" show={ false }>
    <div ref="purchase_window" class="dispenserpurchase-swalwindow purchase-window">
        <div if={ !dispenserData.assetGroup } class="title">
            <span if={ TagG.jp }>{ dispenserData.assetName }を買う</span>
            <span if={ !TagG.jp }>Buy { dispenserData.assetName }</span>
        </div>
        <div if={ dispenserData.assetGroup } class="title">
            <span if={ TagG.jp }>{ dispenserData.assetGroup } <span class="nft-tag"></span> を買う</span>
            <span if={ !TagG.jp }>Buy { dispenserData.assetGroup } <span class="nft-tag"></span></span>
        </div>
        <div if={ dispenserData.assetGroup } class="basic"><i class="material-icons inline-icon">tag</i> { dispenserData.assetName }</div>
        <div if={ dispenserData.imageURL } class="basic card-frame">
            <img if={ !assetInfo.appData?.rakugakinft } src={ dispenserData.largeImageURL } loading="lazy">
            <img if={ assetInfo.appData?.rakugakinft } src={ dispenserData.largeImageURL + '?' + TagG.getRakugakiCacheID(assetInfo.asset) } class="bg-checker" loading="lazy">
        </div>
        <div if={ dispenserData.mainDescription } class="basic oblique">{ dispenserData.mainDescription }</div>
        <div class="basic">{ TagG.jp ? '発行数' : 'Issued' }: { commafy(assetInfo.issuedAmount) } <i if={ assetInfo.isLocked } class="material-icons inline-icon">lock</i></div>
        <div if={ assetInfo.appData?.attributes } class="basic attrs">
            <div each={ assetInfo.appData.attributes } class="attr"><div class="attr-name">{ name }</div><div class="attr-value">{ value }</div></div>
        </div>
        <div class="buttons-frame">
            <material-button label="MPCHAIN" icon="open_in_new" is_link="true" link_href={ assetInfo.explorerURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ dispenserData.cardData } label="Monacard" icon="open_in_new" is_link="true" link_href={ dispenserData.cardData.siteURL } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ assetInfo.appData?.monacharat } label={ TagG.jp ? 'モナキャラット' : 'MonaCharaT' } icon="open_in_new" is_link="true" link_href={ assetInfo.appData.monacharat.url } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ assetInfo.appData?.monacute } label="Monacute" icon="open_in_new" is_link="true" link_href={ assetInfo.appData.monacute.url } link_target="_blank" reload_opts="true"></material-button>
            <material-button if={ referrer !== 'tokenvault_list' && purchaseWindow.treasuresURL } label="Token Vault" icon="search" is_link="true" link_href={ purchaseWindow.treasuresURL } reload_opts="true"></material-button>
        </div>
        <div class="section">
            <div class="basic">
                <span if={ TagG.jp }>1クチあたり { dispenserData.unitBaseAmountS }&nbsp;{ TagG.BASECHAIN_ASSET } &rarr; { dispenserData.unitAssetAmountS }&nbsp;{ dispenserData.assetName } で { dispenserData.address } が販売中。残りの在庫は { dispenserData.remainingAmountS }&nbsp;枚（{ commafy(dispenserData.zaikoNum) }&nbsp;クチ）です</span>
                <span if={ !TagG.jp }>Address: { dispenserData.address }<br>Unit: { dispenserData.unitBaseAmountS }&nbsp;{ TagG.BASECHAIN_ASSET } &rarr; { dispenserData.unitAssetAmountS }&nbsp;{ dispenserData.assetName }<br>Remaining: { dispenserData.remainingAmountS } ({ commafy(dispenserData.zaikoNum) }&nbsp;units)</span>
            </div>
            <div if={ !TagG.addrsData } class="basic">{ TagG.jp ? 'ここから購入するにはWalletを開いてください' : 'To buy from here, open your wallet.' }</div>
            <div if={ TagG.addrsData }>
                <div class="basic"><material-select if={ recreateFlag } ref="purchase_addr" hint="Address" is_fullwidth="true" is_menuwidth_fixed="true" items={ TagG.addrSelectItems } default_value={ lastSelectedAddr || TagG.addrSelectDefaultValue } on_change={ purchaseWindow.onChangeAddrSelect }></material-select></div>
                <div class="basic"><i class="material-icons inline-icon">account_balance_wallet</i> { purchaseWindow.baseBalanceStr } { TagG.BASECHAIN_ASSET }</div>
                <div class="basic">
                    <div class="inline-input unit-input"><material-textfield ref="purchase_units" hint="Units" pattern={ '[0-9]*' } invalid_message="Invalid Format" on_input={ purchaseWindow.onInputUnits }></material-textfield></div>
                    <div class="text-with-inlineinput">{ TagG.jp ? 'クチ' : 'units' }</div>
                </div>
                <div class="basic">{ TagG.jp ? '計' : 'Total:' } { commafy(purchaseWindow.baseAmount) }&nbsp;{ TagG.BASECHAIN_ASSET } &rarr; { commafy(purchaseWindow.assetAmount) }&nbsp;{ dispenserData.assetName }</div>
            </div>
        </div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div if={ TagG.addrsData } class="bottombutton-frame">
            <material-button label={ TagG.jp ? '買う' : 'BUY' } icon="shopping_cart" on_click={ purchaseWindow.onClickPurchaseButton } is_unelevated="true" is_fullwidth="true"></material-button>
        </div>
    </div>

    <div ref="purchase_conf_window" class="dispenserpurchase-swalwindow">
        <div class="title">
            <span if={ TagG.jp }>{ dispenserData.assetName }を買う</span>
            <span if={ !TagG.jp }>Buy { dispenserData.assetName }</span>
        </div>
        <div class="basic">
            <span if={ TagG.jp }>{ commafy(purchaseData.amount) } { TagG.BASECHAIN_ASSET } を以下のアドレスに送ります。トランザクション手数料が { commafy(purchaseData.feeAmount) } { TagG.BASECHAIN_ASSET } かかりますがOKですか？</span>
            <span if={ !TagG.jp }>{ commafy(purchaseData.amount) } { TagG.BASECHAIN_ASSET } will be sent to the following address. You will be charged a tx fee of { commafy(purchaseData.feeAmount) } { TagG.BASECHAIN_ASSET }, OK?</span>
        </div>
        <div class="basic">
            <span if={ TagG.jp }>タイミング悪くトークンが売り切れてしまった場合はトークンがもらえないのでご注意＆ご了承ください</span>
            <span if={ !TagG.jp }>Please note that if the tokens are sold out at an inopportune time, you will not receive any tokens.</span>
        </div>
        <div class="basic">{ purchaseData.toAddr }</div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div class="bottombutton-frame">
            <material-button label="OK" on_click={ purchaseConfWindow.onClickOKButton } is_unelevated="true" is_fullwidth="true"></material-button>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.commafy = Util.commafy;
    this.purchaseWindow = {};
    this.purchaseConfWindow = {};
    this.purchaseData = {};
    this.dispenserData = {};
    this.assetInfo = {};

    this.open = (dispenserData, referrer = null) => {
        this.recreateFlag = false;
        this.update();
        this.recreateFlag = true;
        this.referrer = referrer;
        this.dispenserData = dispenserData;
        this.assetInfo = dispenserData.assetInfo;
        this.purchaseWindow.baseAmount = 0;
        this.purchaseWindow.assetAmount = 0;
        this.purchaseWindow.treasuresURL = TagG.asset2treasures[dispenserData.asset]?
           `${TagG.RELATIVE_LINK_BASE}tokenvault?${TagG.QUERYKEY_SEARCH}=${encodeURIComponent(dispenserData.asset)}` : null;
        if (TagG.addrsData) {
            const defaultAddrData = TagG.addrsData.find(data => (data.address === (this.lastSelectedAddr || TagG.addrSelectDefaultValue)));
            this.purchaseWindow.baseBalanceStr = getBalanceStr(defaultAddrData);
        }
        if (this.refs.purchase_units) {
            this.refs.purchase_units.setValue('1');
            this.purchaseWindow.onInputUnits('1');
        }
        clearWindowMessages();
        Util.aOpenContentSwal(this.refs.purchase_window);
    };
    this.purchaseWindow.onChangeAddrSelect = (address) => {
        this.lastSelectedAddr = address;
        const addrData = TagG.addrsData.find(data => (data.address === address));
        this.purchaseWindow.baseBalanceStr = getBalanceStr(addrData);
        this.update();
    };
    this.purchaseWindow.onInputUnits = (value) => {
        const units = Number(value);
        if (!Number.isInteger(units) || units < 0) return;
        this.purchaseWindow.baseAmount = (this.dispenserData.unitBaseSat * units) / TagG.SATOSHI_RATIO;
        const assetSat = this.dispenserData.unitAssetSat * units;
        this.purchaseWindow.assetAmount = TagG.qty2amount(assetSat, this.dispenserData.isDivisible);
        this.update();
    };
    this.purchaseWindow.onClickPurchaseButton = () => {
        const fromAddr = this.refs.purchase_addr.getValue();
        const units = Number(this.refs.purchase_units.getValue());
        if (!fromAddr) return showWindowError(TagG.jp ? 'だめです。アドレスを選択してね' : 'Oops! No address selected.');
        if (!Number.isInteger(units) || units < 1) return showWindowError(TagG.jp ? 'だめです。クチ数は正の整数にしてね' : 'Oops! Invalid units.');
        if (units > this.dispenserData.zaikoNum) return showWindowError(TagG.jp ? 'だめです。指定したクチ数が在庫より多いです' : 'Oops! Specified unit num exceeds stock num.');
        const addrData = TagG.addrsData.find(data => (data.address === fromAddr));
        const satoshi = this.dispenserData.unitBaseSat * units;
        if (satoshi < TagG.SENDMIN_SAT) return showWindowError(TagG.jp ? 'だめです。送金額が小さすぎます' : 'Oops! Too small amount to send.');
        aPreparePurchase(addrData, satoshi, this.dispenserData.address);
    };
    this.purchaseConfWindow.onClickOKButton = () => { aPurchase() };

    this.on('mount', async() => {
        const container = this.refs.swalwindows_container;
        while (container && container.firstChild) container.removeChild(container.firstChild);
    });

    const aPreparePurchase = async(addrData, satoshi, toAddr) => {
        try {
            TagG.bodySpinner.start();
            await TagG.aUpdateBaseAssetBalances([addrData]);
            const targets = [{ address: toAddr, value: satoshi }];
            const confirmedUTXOs = addrData.utxos.filter(utxo => (utxo.confirmations >= TagG.confNum));
            const { inputs, outputs, fee } = TagG.coinselect(confirmedUTXOs, targets, TagG.FEESAT_PERBYTE);
            if (!inputs) return showWindowError(TagG.jp ? `承認数${TagG.confNum}以上の${TagG.BASECHAIN_ASSET}が足りません` : `Insufficient ${TagG.BASECHAIN_ASSET} with confirmation >= ${TagG.confNum}`);
            if (!outputs) throw 'coinselect returns no outputs';
            for (const output of outputs) {
                if (!output.address) output.address = addrData.address;
            }
            const purchaseData = this.purchaseData;
            purchaseData.address = addrData.address;
            purchaseData.inputs = inputs;
            purchaseData.outputs = outputs;
            purchaseData.amount = satoshi / TagG.SATOSHI_RATIO;
            purchaseData.feeAmount = fee / TagG.SATOSHI_RATIO;
            purchaseData.toAddr = toAddr;
            purchaseData.sendSat = satoshi;
            purchaseData.inputsSat = inputs.reduce((sum, input) => (sum + input.value), 0);
            purchaseData.inputsUnconfSat = inputs.filter(input => input.confirmations === 0).reduce((sum, input) => (sum + input.value), 0);
            purchaseData.oturiSat = outputs.filter(output => output.address === addrData.address).reduce((sum, output) => (sum + output.value), 0);
            console.log(purchaseData);
            clearWindowMessages();
            Util.aOpenContentSwal(this.refs.purchase_conf_window);
        }
        catch (error) {
            console.error(error);
            showWindowError(TagG.jp?
                `トランザクションの準備に失敗しました。入力した値に問題があるか、必要な${TagG.BASECHAIN_ASSET}が足りないかもしれません。データの更新などいろいろ試してもうまくいかない場合は情報を揃えてご連絡ください。ヒント：${error}`:
                `Failed to prepare tx. hint: ${error}`);
        }
        finally { TagG.bodySpinner.stop() }
    };
    const aPurchase = async() => {
        try {
            TagG.bodySpinner.start();
            const purchaseData = this.purchaseData;
            const addrData = TagG.addrsData.find(data => (data.address === purchaseData.address));
            const signedTXHex = await TagG.aSignInOut(purchaseData.inputs, purchaseData.outputs, addrData);
            const isOK = await aCheckDispenserIsOK();
            if (!isOK) return;
            const txID = await TagG.aBroadcast(signedTXHex);
            console.log({ txID });
            addrData.baseSat -= purchaseData.inputsSat - purchaseData.inputsUnconfSat;
            addrData.baseUnconfSat += purchaseData.oturiSat - purchaseData.inputsUnconfSat;
            if (this.refs.purchase_units) this.refs.purchase_units.setValue('');
            myswal({ title: 'Success', text: (TagG.jp ? '送金しました' : 'Sent.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
        }
        catch (error) {
            console.error(error);
            showWindowError(TagG.jp?
            `トランザクションのブロードキャストに失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}`:
            `Failed to broadcast tx. hint: ${error}`);
        }
        finally { TagG.bodySpinner.stop() }
    };
    const aCheckDispenserIsOK = async() => {
        try {
            const hasUnconfirmedUTXO = await aCheckHasUnconfUTXO(this.dispenserData.address); // 入れ違い防止でいちおうmempoolを先に取得
            const getDispensersParams = { 'filters': [{ field: 'tx_hash', op: '==', value: this.dispenserData.txID }] };
            const [dispenser] = await Monaparty.aParty('get_dispensers', getDispensersParams);
            if (!dispenser || dispenser.status !== DISPENSER_STATUS.OPEN) {
                TagG.bodySpinner.stop();
                myswal(TagG.jp ? 'この自動販売は終了しました' : 'Dispenser Already Closed', (TagG.jp ? '最新のデータをチェックしたところ、売切れもしくはキャンセルによりこちらの自動販売はもう終了してしまっていたため、送金を中断しました' : `As Monapalette checked the latest data and found that this dispenser has been sold out or cancelled, ${TagG.BASECHAIN_ASSET} send has been canceled.`), 'error');
                return false;
            }
            if (Math.floor(dispenser.give_remaining / dispenser.give_quantity) * dispenser.satoshirate < this.purchaseData.sendSat) {
                TagG.bodySpinner.stop();
                myswal(TagG.jp ? '在庫不足を検出しました' : 'Stock Shortage', (TagG.jp ? '最新のデータをチェックしたところ、こちらの自動販売の在庫が現在購入しようとしている数量よりも少なくなっていたため、送金を中断しました' : `As Monapalette checked the latest data and found that this dispenser does not have enough stock, ${TagG.BASECHAIN_ASSET} send has been canceled.`), 'error');
                return false;
            }
            if (hasUnconfirmedUTXO) {
                TagG.bodySpinner.stop();
                const text = TagG.jp?
                '販売元のアドレスに関係する未承認のトランザクションを検出しました。入れ違いで自動販売が売切れになったり、自動販売がキャンセルされてしまった可能性があるので、状況を確認してから送金することを推奨します':
                `Unconfirmed tx related to the dispenser address is detected. As it is possible that the tokens has just sold out or the dispenser has just cancelled, it is recommend to check the status before sending ${TagG.BASECHAIN_ASSET}.`;
                const isOK = await myswal({
                    icon: 'warning',
                    title: (TagG.jp ? '販売元に新しいTXを検出' : 'New Tx Detected'),
                    text,
                    buttons: [(TagG.jp ? 'やめておく' : 'Cancel'), (TagG.jp ? 'それでも送る' : 'SEND ANYWAY')],
                    dangerMode: true,
                });
                return Boolean(isOK);
            }
            return true;
        }
        catch (error) {
            console.error(error);
            myswal('Error', (TagG.jp ? `データの取得に失敗しました。サーバの調子が悪いかもしれないです。しばらくたっても直らなければご連絡ください。ヒント：${error}` : `Failed to fetch data. hint: ${error}`), 'error');
            return false;
        }
    };
    const aCheckHasUnconfUTXO = async(address) => {
        const blockbookURLs = TagG.BLOCKBOOK_API_ENDPOINTS.map(endpoint => `${endpoint}v2/utxo/${address}`);
        let rawUTXOs = null;
        for (const url of blockbookURLs) {
            rawUTXOs = await Util.aGetJSON(url, false).catch(console.error);
            if (rawUTXOs) break;
        }
        if (!rawUTXOs) throw `aCheckHasUnconfUTXO failed: ${JSON.stringify(blockbookURLs)}`;
        return rawUTXOs.some(utxo => (utxo.confirmations === 0));
    };
    const getBalanceStr = (addrData) => {
        let balanceStr = `${Util.commafy(TagG.qty2amount(addrData.baseSat, true))}`;
        if (addrData.baseUnconfSat) balanceStr += `(+${Util.commafy(TagG.qty2amount(addrData.baseUnconfSat, true))})`;
        return balanceStr;
    };
    const clearWindowMessages = () => {
        this.windowErrorText = '';
        this.update();
    };
    const showWindowError = (message) => {
        this.windowErrorText = message;
        this.update();
    };
</script>

</txmanager-dispenserpurchase>
