<wallet-page>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">account_balance_wallet</i>
        <h2 class="page-title">Wallet</h2>
        <div class="page-helpbutton-frame">
            <material-iconbutton icon="help_outline" on_click={ onClickWalletHelpButton }></material-iconbutton>
        </div>
    </div>
    <div class="page-content">
        <div if={ !TagG.addrsData }>
            <div if={ isQuickAccess } class="limit-width">
                <div class="form-frame">
                    <div class="title">{ TagG.jp ? 'ウォレットをひらく' : 'Open Wallet' }</div>
                    <div class="note">{ TagG.jp ? 'クイックアクセスURLのパスワードを入力してください' : 'Input quick-access password.' }</div>
                    <div class="password">
                        <material-textfield ref="quickaccess_password" hint={ TagG.jp ? 'パスワード' : 'Password' } is_password="true" on_enter={ onEnterQuickAccessPassword }></material-textfield>
                        <div class="enterbutton-frame"><material-iconbutton icon="arrow_forward" on_click={ onClickQuickAccessPasswordEnterButton }></material-iconbutton></div>
                    </div>
                </div>
            </div>
            <div if={ !isQuickAccess }>
                <div if={ !isMakingWalletView && !isOpeningWalletView } class="limit-width">
                    <div class="large-button-flex">
                        <div class="large-button"><material-button label={ TagG.jp ? 'ウォレットをつくる' : 'CREATE WALLET' } icon="brush" on_click={ onClickGotoMakeWalletButton } is_outlined="true" is_fullwidth="true"></material-button></div>
                        <div class="large-button"><material-button label={ TagG.jp ? 'ウォレットをひらく' : 'OPEN WALLET' } icon="lock_open" on_click={ onClickGotoOpenWalletButton } is_outlined="true" is_fullwidth="true"></material-button></div>
                    </div>
                    <div class="section-frame">
                        <div class="section-title">{ TagG.jp ? 'モナパレットへようこそ！' : 'Welcome to Monapalette!' }</div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>お手軽に使えるモナコイン＋Monapartyの超高機能総合エンタテイメントウォレットです</span>
                            <span if={ !TagG.jp }>Easy-to-use ultra-high-functionality entertainment wallet of Monacoin + Monaparty.</span>
                        </div>
                        <div if={ TagG.jp } class="paragraph">
                            <span>モナパレットでモナコイン／Monaparty／モナカードを始める手順は<a href="https://opaque-toast-7ea.notion.site/fe5a2c309f3a495fa7a3399549cfe50c" target="_blank">モナパレット大全</a>を見てください</span>
                        </div>
                        <div if={ sampleCards } class="sample-cards">
                            <div class="slider slider1"><div each={ sampleCards } class="sample-card"><a href={ linkURL } target="_blank"><img src={ image }></a></div></div><!-- lazyつけると表示されない場合がある -->
                            <div class="slider slider2"><div each={ sampleCards } class="sample-card"><a href={ linkURL } target="_blank"><img src={ image }></a></div></div><!-- lazyつけると表示されない場合がある -->
                        </div>
                    </div>
                    <div class="section-frame">
                        <div class="section-title">{ TagG.jp ? 'できること' : 'What you can do with Monapalette' }</div>
                        <div class="dekirukoto-subtitle"><span class="palette-red">●</span>&ensp;{ TagG.jp ? 'モナコインのお手軽ウォレット' : 'Easy-to-use Monacoin wallet' }</div>
                        <div class="dekirukoto-items">
                            <div class="dekirukoto-item">{ TagG.jp ? 'ウォレット生成' : 'Create wallet' }</div>
                            <div class="dekirukoto-item">{ TagG.jp ? 'モナコインを送る' : 'Send Monacoin' }</div>
                            <div class="dekirukoto-item">{ TagG.jp ? 'モナコインを受取る' : 'Receive Monacoin' }</div>
                            <div class="dekirukoto-item">{ TagG.jp ? 'Trezor連携' : 'Connect to Trezor' }</div>
                            <div class="dekirukoto-item">{ TagG.jp ? 'Mpurse連携' : 'Connect to Mpurse' }</div>
                        </div>
                        <div class="dekirukoto-subtitle dekirukoto-subtitle-longmargin"><span class="palette-yellow">●</span>&ensp;{ TagG.jp ? 'Monapartyの機能を使う' : 'Access Monaparty features' }</div>
                        <div class="dekirukoto-items">
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Send</span>&ensp;{ TagG.jp ? 'トークンの送信' : 'Send tokens' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Issuance</span>&ensp;{ TagG.jp ? 'トークンの発行と設定変更' : 'Issue and edit tokens' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Order</span>&ensp;{ TagG.jp ? '分散取引所(DEX)でトークン同士を交換' : 'Trade tokens on DEX' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Dispenser</span>&ensp;{ TagG.jp ? 'トークンをモナコイン建で販売' : 'Sell tokens in Monacoin' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Dividend</span>&ensp;{ TagG.jp ? 'トークンの配当' : 'Distribute tokens as dividends' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Broadcast</span>&ensp;{ TagG.jp ? '公開メッセージの書込み' : 'Write messages on Monacoin blockchain' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Sweep</span>&ensp;{ TagG.jp ? '他のアドレスへの引越し' : 'Move to another address' }</div>
                        </div>
                        <div class="dekirukoto-subtitle dekirukoto-subtitle-longmargin"><span class="palette-green">●</span>&ensp;{ TagG.jp ? 'Monapartyアプリで遊ぶ' : 'Play with Monaparty apps' }</div>
                        <div class="dekirukoto-description">
                            <span if={ TagG.jp }>モナパレットは次のアプリとの特別な連携を提供しています</span>
                            <span if={ !TagG.jp }>Monapalette offers special integration with the following apps.</span>
                        </div>
                        <div class="dekirukoto-items">
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">{ TagG.jp ? 'モナカード' : 'Monacard' }</span>&ensp;{ TagG.jp ? 'トークンに画像を設定' : 'Link images to your tokens' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Token Vault</span>&ensp;{ TagG.jp ? 'トークン保有者しか見れないお宝を設定' : 'Set treasures that can only be accessed by holders of specified tokens' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">{ TagG.jp ? 'らくがきNFT' : 'Rakugaki NFT' }</span>&ensp;{ TagG.jp ? 'NFTに画像をペタペタ' : 'Peta-peta images on NFTs' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">D-Board</span>&ensp;{ TagG.jp ? 'ブロックチェーンに思い出を記録' : 'Record your memories on the blockchain' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">{ TagG.jp ? 'モナキャラット' : 'MonaCharaT' }</span>&ensp;{ TagG.jp ? '1日1枚生まれるNFTシリーズ' : 'Lovely NFT series born one piece per day' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">GoriFi</span>&ensp;{ TagG.jp ? 'MonapartyのDEXをもっと便利に' : 'Use Monaparty DEX more conveniently' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">{ TagG.jp ? 'モナレッジ' : 'Monaledge' }</span>&ensp;{ TagG.jp ? 'モナコインのWeb3ブログ' : 'Monacoin Web3 Blog' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">Ask Mona</span>&ensp;{ TagG.jp ? 'モナコインのWeb3掲示板' : 'Monacoin Web3 BBS' }</div>
                        </div>
                        <div class="dekirukoto-description">
                            <span if={ TagG.jp }>次のアプリとは特別な連携はしませんがMonapartyウォレットとしての一般的な連携ができます</span>
                            <span if={ !TagG.jp }>Monapalette offers general integration as a Monaparty wallet with the following apps.</span>
                        </div>
                        <div class="dekirukoto-items">
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">{ TagG.jp ? 'モナパちゃん' : 'Monapachan' }</span>&ensp;{ TagG.jp ? 'Twitterでトークンをチップ' : 'Tip Monaparty tokens on Twitter' }</div>
                            <div class="dekirukoto-item"><span class="dekirukoto-tag">{ TagG.jp ? '宇宙モナコイン' : 'Space Monacoin' }</span>&ensp;{ TagG.jp ? 'インフレを楽しむ謎のオンチェーンゲーム' : 'Mysterious on-chain game to enjoy inflation' }</div>
                            <div class="dekirukoto-item">and more ...</div>
                        </div>
                        <div class="dekirukoto-subtitle dekirukoto-subtitle-longmargin dekirukoto-subtitle-noitem"><span class="palette-blue">●</span>&ensp;{ TagG.jp ? '便利ツールを使う' : 'Other useful tools' } → <a href={ TagG.RELATIVE_LINK_BASE + 'tools' }>{ TagG.jp ? 'ココ' : 'here' }</a></div>
                    </div>
                    <div class="large-button-flex">
                        <div class="large-button"><material-button label={ TagG.jp ? 'ウォレットをつくる' : 'CREATE WALLET' } icon="brush" on_click={ onClickGotoMakeWalletButton } is_outlined="true" is_fullwidth="true"></material-button></div>
                        <div class="large-button"><material-button label={ TagG.jp ? 'ウォレットをひらく' : 'OPEN WALLET' } icon="lock_open" on_click={ onClickGotoOpenWalletButton } is_outlined="true" is_fullwidth="true"></material-button></div>
                    </div>
                </div>
                <div if={ isMakingWalletView } class="limit-width">
                    <div class="form-frame">
                        <div class="title">{ TagG.jp ? 'ウォレットをつくる' : 'Create Wallet' }</div>
                        <div class="note">
                            <span if={ TagG.jp }>ウォレットの元となるニーモニックを生成します。ニーモニックを暗号化するための16文字以上のパスワードを決めてください</span>
                            <span if={ !TagG.jp }>A mnemonic will be generated as the source of the wallet. Determine a password of at least 16 characters to encrypt the mnemonic.</span>
                        </div>
                        <div class="password"><material-textfield ref="new_password" hint={ TagG.jp ? '新しいパスワード' : 'New Password' } pattern={ '.{16,}' } invalid_message="Too Short" is_password="true"></material-textfield></div>
                        <div class="password"><material-textfield ref="new_password_reinput" hint={ TagG.jp ? 'もういちど' : 'Type Again' } is_password="true"></material-textfield></div>
                        <div class="switch"><material-switch label={ TagG.jp ? 'Native SegWit のアドレスを使う' : 'Native SegWit Address' } on_change={ onChangeMakingSegwitSwitch }></material-switch></div>
                        <div class="gobutton"><material-button label={ TagG.jp ? 'ウォレットをつくる' : 'CREATE' } icon="brush" on_click={ onClickMakeWalletButton } is_unelevated="true" is_fullwidth="true"></material-button></div>
                        <div if={ newMnemonic }>
                            <div class="new-mnemonic-label">{ TagG.jp ? 'ニーモニック (BIP39)' : 'Mnemonic (BIP39)' }</div>
                            <div class="new-mnemonic">{ newMnemonic }<span if={ newMnemonicAddrType === ADDR_TYPE.P2WPKH }>{ ' #segwit' }</span></div>
                            <div class="new-mnemonic-annotation" if={ newMnemonicAddrType === ADDR_TYPE.P2WPKH }>
                                <span if={ TagG.jp }>※ 末尾の「#segwit」はモナパレット専用のフラグなので、他のウォレットに入力する場合は除いてください。</span>
                                <span if={ !TagG.jp }>※ The "#segwit" at the end is a flag for Monapalette only, so exclude it if you enter it in other wallets.</span>
                            </div>
                            <div class="new-mnemonic-label">{ TagG.jp ? 'クイックアクセスURL' : 'Quick-access URL' }</div>
                            <div class="new-url">{ newQuickAccessURL }</div>
                            <div class="new-url-copy"><material-iconbutton icon="file_copy" on_click={ onClickURLCopyButton }></material-iconbutton></div>
                        </div>
                    </div>
                    <div class="section-frame">
                        <div class="section-title">{ TagG.jp ? '新しいウォレットをつくったら' : 'When you create a new wallet ...' }</div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>設定したパスワードと生成されたニーモニックは間違いのないように記録して、あなたしかアクセスできない安全な場所に保管しましょう。クイックアクセスURLはブックマークなどに保存して、他人には見せびらかさないようにしましょう。</span>
                            <span if={ !TagG.jp }>Keep the password and the generated mnemonic in a safe place where only you can access. You can save the quick-access URL in your bookmarks, but do not share it with others.</span>
                        </div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>ニーモニックや秘密鍵は外部には一切送られない＝保存されないので、あなたがニーモニックを失くしてしまうと二度と残高を取り出せなくなります。また、ニーモニックを他人に知られてしまうと残高をぜんぶ盗まれます。</span>
                            <span if={ !TagG.jp }>The mnemonic is not stored externally, so if you lose your mnemonic, you will never be able to retrieve your balance again. If someone else knows your mnemonic, your entire balance will be stolen.</span>
                        </div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>クイックアクセスURLからアクセスすればパスワードを入力するだけでウォレットが使えるので、直接ニーモニックを扱う必要がなくなりいくぶん安全です。ただしクイックアクセスURLとパスワードの両方を他人に知られる／推測されるとやはり残高が盗まれます。</span>
                            <span if={ !TagG.jp }>Using quick-access URL is relatively secure because that you don't need to handle the mnemonic directly. However, if someone else knows or guesses both the quick-access URL and the password, the balance will still be stolen.</span>
                        </div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>利用者側の管理／知識の不足によるいかなるトラブルもモナパレットは関知しません。</span>
                            <span if={ !TagG.jp }>Monapalette is not responsible for any problems caused by failure of management or lack of knowledge on the part of the user.</span>
                        </div>
                    </div>
                    <div class="section-frame">
                        <div class="section-title">{ TagG.jp ? 'もうすこし詳しく' : 'A little more detail' }</div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>ニーモニックはウォレットの元となるデータなので、ニーモニックだけあれば完全にウォレットを使うことができます。絶対に他人に知られてはいけないやつです。オフラインでの保管が強く推奨されます。</span>
                            <span if={ !TagG.jp }>The mnemonic is the data that is the source of the wallet, so if you only have the mnemonic, you can control the wallet completely. It is the one that should never be known to others. Storing the mnemonic offline is highly recommended.</span>
                        </div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>クイックアクセスURLにはあなたが設定したパスワードで暗号化されたニーモニックが含まれているので、クイックアクセスURLからアクセスしてパスワードを入力することで、ニーモニックを直接入力せずにウォレットを使うことができます。クイックアクセスURLを他人に知られた場合は総当りでパスワードを試行できるため、パスワードは通常のWebサービスで使うものよりも長く複雑でランダムなものにすることを強く推奨します。</span>
                            <span if={ !TagG.jp }>Since the quick-access URL contains a mnemonic encrypted with the password you set, you can use the wallet without entering the mnemonic directly by accessing from the quick-access URL and entering the password. It is strongly recommended that passwords be longer, more complex, and more random than those used for normal web services, because if someone else knows the quick-access URL, they can attempt brute force attack.</span>
                        </div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>いちどクイックアクセスURLからウォレットを開くと、暗号化した公開鍵(xpub)だけがブラウザに保存されます。次からはクイックアクセスURLにアクセスするだけでRead Onlyモードでウォレットが表示され、秘密鍵が必要になった段階ではじめてパスワードを入力する形になります。Read Onlyモードは便利なだけでなく、秘密鍵を扱わないのでセキュアです。</span>
                            <span if={ !TagG.jp }>Once you open the wallet from the quick-access URL, encrypted public key (xpub) will be saved in your browser. The next time you access from the quick-access URL, the wallet will open in read-only mode, and you have to enter the password only when the wallet need to use private key. The read-only mode is not only convenient, but also secure since it does not handle the private key until it is necessary.</span>
                        </div>
                        <div class="paragraph">
                            <span if={ TagG.jp }>パスワードとクイックアクセスURLは<a href={ TagG.RELATIVE_LINK_BASE + 'regenerate_quickurl' }>こちらのツール</a>で後から再設定することもできます。</span>
                            <span if={ !TagG.jp }>You can reset your password and quick-access URL later with <a href={ TagG.RELATIVE_LINK_BASE + 'regenerate_quickurl' }>this tool</a>.</span>
                        </div>
                    </div>
                </div>
                <div if={ isOpeningWalletView } class="limit-width">
                    <div class="form-frame">
                        <div class="title">{ TagG.jp ? 'ウォレットをひらく' : 'Open Wallet' }</div>
                        <div class="note">
                            <span if={ TagG.jp }>より高いレベルのセキュリティを求めるあなたのために、モナパレットはTrezorに対応しています</span>
                            <span if={ !TagG.jp }>For those of you who want a higher level of security, Monapalette is Trezor compatible.</span>
                        </div>
                        <div class="gobutton"><material-button label={ TagG.jp ? 'TREZORを使う' : 'Use Trezor' } icon="security" on_click={ onClickOpenTrezorWinButton } is_unelevated="true" is_fullwidth="true"></material-button></div>
                        <div class="note">
                            <span if={ TagG.jp }>Mpurseのアドレスでもモナパレットのパワフルな機能を使いたいあなたには、Mpurseエクステをご用意しました</span>
                            <span if={ !TagG.jp }>For those of you who want to use the powerful features of the Monapalette even with an Mpurse address, MpurseExte is here.</span>
                        </div>
                        <div class="gobutton"><material-button label={ TagG.jp ? 'Mpurseエクステをひらく' : 'Open MpurseExte' } icon="launch" is_link="true" link_href="https://mpurse-extension.komikikaku.com/step" is_unelevated="true" is_fullwidth="true"></material-button></div>
                        <div class="note">
                            <span if={ TagG.jp }>モナパレットではクイックアクセスURLの利用を推奨していますが、やんごとなき事情によりニーモニックや秘密鍵(WIF)で直接ウォレット／アドレスを開きたい場合はこちらからどうぞ</span>
                            <span if={ !TagG.jp }>Using quick-access URLs is recommended, but if you want to open your wallet/address with a mnemonic or private key (WIF), enter here.</span>
                        </div>
                        <div class="note">
                            <span if={ TagG.jp }>とくにWIFで開く機能はMonaparty非対応ウォレットに送ってしまったトークンを取り出したい場合や、他のウォレットのアドレスで一時的にモナパレット独自の機能を使いたくなった場合にも便利です</span>
                            <span if={ !TagG.jp }>WIF is useful when you want to retrieve tokens in a non-Monaparty wallet, or when you want to use Monapalette's unique features temporarily with another wallet's address.</span>
                        </div>
                        <div class="mnemonic"><material-textfield ref="existing_mnemonic" hint={ TagG.jp ? 'ニーモニック または 秘密鍵 (WIF)' : 'Mnemonic or WIF' } is_password="true" on_input={ onInputMnemonic }></material-textfield></div>
                        <div class="switch"><material-switch ref="opening_segwit_switch" label={ TagG.jp ? 'Native SegWit アドレス' : 'Native Segwit' }></material-switch></div>
                        <div class="gobutton"><material-button label={ TagG.jp ? 'ひらく' : 'OPEN' } icon="lock_open" on_click={ onClickOpenMnemonicButton } is_unelevated="true" is_fullwidth="true"></material-button></div>
                    </div>
                </div>
            </div>
        </div>
        <div if={ TagG.addrsData && addrsLoaded }>
            <div class="addrs-frame">
                <address-card each={ addrData, addrIndex in addrsDataToShow } if={ addrIndex <= TagG.addrsDataMaxIndex } data={ addrData }></address-card>
                <div if={ TagG.addrsDataMaxIndex + 1 < addrsDataToShow.length } class="newaddr-button"><material-button label="Add New Address" icon="add" on_click={ onClickNewAddrButton } is_fullwidth="true" is_outlined="true"></material-button></div>
            </div>
        </div>
    </div>
</div>

<div ref="swalwindows_container" show={ false }>
    <div ref="wallethelp_window" class="wallet-page-swalwindow">
        <div class="basic">
            <span if={ TagG.jp }>詳しいことは<a href="https://opaque-toast-7ea.notion.site/fe5a2c309f3a495fa7a3399549cfe50c" target="_blank">モナパレット大全</a>をみてね！</span>
            <span if={ !TagG.jp }>See <a href="https://opaque-toast-7ea.notion.site/fe5a2c309f3a495fa7a3399549cfe50c" target="_blank">Monapalette Compendium (Japanese version only)</a> for detailed instructions.</span>
        </div>
        <div class="basic">
            <span if={ TagG.jp }>お役立ち情報やお得情報やどうでもいい情報を配信する<a href="https://twitter.com/monapalette" target="_blank">公式Twitter</a>もあります</span>
            <span if={ !TagG.jp }>We also have an <a href="https://twitter.com/monapalette" target="_blank">official Twitter feed</a> that delivers useful information, deals, and unimportant information.</span>
        </div>
    </div>
    <div ref="trezor_window" class="wallet-page-swalwindow">
        <div class="title">{ TagG.jp ? 'Trezorを使う' : 'Open Trezor' }</div>
        <div class="basic">
            <span if={ TagG.jp }>HDウォレットの account を指定できます。モナパレットではお釣りアドレスを使用しないので、残高を見失わないように他で利用しているものとは account を分けたほうが無難です</span>
            <span if={ !TagG.jp }>You can specify an account for your HD wallet. Since Monapalette does not use change addresses, it is recomended to separate your account from the one you use elsewhere to avoid losing track of your balance.</span>
        </div>
        <div class="basic"><material-switch label={ TagG.jp ? 'Native SegWit のアドレスを使う' : 'Native SegWit' } on_change={ onChangeTrezorSegwitSwitch }></material-switch></div>
        <div class="basic">
            <div class="text-with-inlineinput">{ "m/" + trezor.path.purpose + "'/" + trezor.path.coin + "'/" }</div>
            <div class="inline-input unit-input"><material-textfield ref="trezor_account" hint="account" on_input={ onInputTrezorAccount }></material-textfield></div>
            <div class="text-with-inlineinput">{ "'" }</div>
        </div>
        <div class="basic">
            <span if={ TagG.jp }>以下のURLをブックマークしておけば、ブックマークを開くだけですぐに上記の path でTrezorを開けます</span>
            <span if={ !TagG.jp }>If you bookmark the following URL, you can immediately open Trezor with the above path.</span>
        </div>
        <div class="basic data">{ trezor.directURL }</div>
        <div if={ windowErrorText } class="basic warning-color">{ windowErrorText }</div>
        <div class="bottombutton-frame">
            <material-button label={ TagG.jp ? 'ひらく' : 'OPEN' } icon="lock_open" on_click={ onClickOpenTrezorButton } is_unelevated="true" is_fullwidth="true"></material-button>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    this.ADDR_TYPE = ADDR_TYPE;
    this.isMakingWalletView = false;
    this.isOpeningWalletView = false;
    this.isQuickAccess = false;
    this.newMnemonicAddrType = ADDR_TYPE.P2PKH;
    this.addrsDataToShow = [];
    this.trezor = {
        path: { purpose: TagG.addrType2purpose(ADDR_TYPE.P2PKH), coin: TagG.NETWORK.versions.bip44, account: 0 },
        addrType: ADDR_TYPE.P2PKH,
        directURL: '',
    };
    if (TagG.query[TagG.QUERYKEY_ENCMNEMONIC]) {
        this.isQuickAccess = true;
        this.encryptedMnemonic = decodeURIComponent(TagG.query[TagG.QUERYKEY_ENCMNEMONIC]);
        delete TagG.query[TagG.QUERYKEY_ENCMNEMONIC];
        if (TagG.query[TagG.QUERYKEY_ADDRTYPE]) this.quickAccessAddrType = TagG.query[TagG.QUERYKEY_ADDRTYPE];
        delete TagG.query[TagG.QUERYKEY_ADDRTYPE];
        if (TagG.query[TagG.QUERYKEY_ACCOUNT]) this.quickAccessAccount = TagG.query[TagG.QUERYKEY_ACCOUNT];
        delete TagG.query[TagG.QUERYKEY_ACCOUNT];
    }
    if (TagG.query[TagG.QUERYKEY_TREZORPATH]) {
        this.queryTrezorPath = decodeURIComponent(TagG.query[TagG.QUERYKEY_TREZORPATH]);
        delete TagG.query[TagG.QUERYKEY_TREZORPATH];
    }

    this.onClickGotoMakeWalletButton = () => {
        this.isMakingWalletView = true;
        this.update();
        window.scrollTo(0, 0);
    };
    this.onClickGotoOpenWalletButton = () => {
        this.isOpeningWalletView = true;
        this.update();
        window.scrollTo(0, 0);
    };
    this.onChangeMakingSegwitSwitch = (isChecked) => {
        this.newMnemonicAddrType = isChecked ? ADDR_TYPE.P2WPKH : ADDR_TYPE.P2PKH;
        if (this.newMnemonic) this.onClickMakeWalletButton();
    };
    this.onClickMakeWalletButton = async() => {
        const password = this.refs.new_password.getValue();
        const password2 = this.refs.new_password_reinput.getValue();
        if (password !== password2) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '2回入力したパスワードが同じではありません' : 'The password entered twice is not the same.', 'error');
        if (password.match(/\s/)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'パスワードにスペースを含めることはできません' : 'Password cannot contain spaces.', 'error');
        if (password.length < 16) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'パスワードは16文字以上にしてください' : 'Passwords must be at least 16 chars.', 'error');
        this.newMnemonic = await TagG.aGenerateStrongMnemonic(128);
        const encMnemonic = TagG.CryptoJS.AES.encrypt(this.newMnemonic, password).toString();
        const uriEncMnemonic = encodeURIComponent(encMnemonic);
        this.newQuickAccessURL = `${location.protocol}//${location.host}${location.pathname}?${TagG.QUERYKEY_ENCMNEMONIC}=${uriEncMnemonic}`;
        if (this.newMnemonicAddrType === ADDR_TYPE.P2WPKH) this.newQuickAccessURL += `&${TagG.QUERYKEY_ADDRTYPE}=${ADDR_TYPE.P2WPKH}`;
        this.update();
    };
    this.onClickURLCopyButton = () => {
        const success = Util.execCopy(this.newQuickAccessURL);
        if (success) myswal({ title: 'Copied', text: (TagG.jp ? 'クイックアクセスURLをクリップボードにコピーしました' : 'Quick-access URL copied to the clipboard.'), icon: 'success', timer: TagG.SWAL_TIMER, buttons: {} });
        else myswal('Copy Failed', TagG.jp ? 'このブラウザではコピーボタンが使えないようなので、手動でコピーしてください' : 'The copy button does not be supported by this browser.', 'error');
    };
    this.onInputMnemonic = (mnemonicOrWif) => {
        if (mnemonicOrWif.includes('#P2WPKH') || mnemonicOrWif.includes('#segwit')) this.refs.opening_segwit_switch.setChecked(true);
    };
    this.onClickOpenMnemonicButton = () => {
        const mnemonicOrWif = this.refs.existing_mnemonic.getValue().trim();
        const addrType = this.refs.opening_segwit_switch.getChecked() ? ADDR_TYPE.P2WPKH : ADDR_TYPE.P2PKH;
        if (TagG.validateWIF(mnemonicOrWif)) {
            const wif = mnemonicOrWif;
            TagG.setWIF(wif, addrType);
        }
        else {
            const mnemonic = mnemonicOrWif.split(/\s+/).slice(0, 12).join(' ');
            if (!TagG.bip39.validateMnemonic(mnemonic)) return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? '入力された値がニーモニックとしてもWIFとしても正しくありません' : 'The input value is not valid as mnemonic or WIF.', 'error');
            TagG.setMnemonic(mnemonic, addrType);
        }
        aOpenWallet();
    };
    this.onEnterQuickAccessPassword = (password) => {
        let mnemonicOrWif;
        try { mnemonicOrWif = TagG.CryptoJS.enc.Utf8.stringify(TagG.CryptoJS.AES.decrypt(this.encryptedMnemonic, password)) }
        catch (error) { return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'パスワードが正しくありません' : 'Invalid password.', 'error') }
        let addrType = ADDR_TYPE.P2PKH;
        if (this.quickAccessAddrType === ADDR_TYPE.P2WPKH) addrType = ADDR_TYPE.P2WPKH;
        if (TagG.bip39.validateMnemonic(mnemonicOrWif)) {
            let accountPath = null;
            if (this.quickAccessAccount) accountPath = TagG.addrType2defaultAccountPath(addrType, this.quickAccessAccount);
            TagG.setMnemonic(mnemonicOrWif, addrType, accountPath, this.encryptedMnemonic);
        }
        else if (TagG.validateWIF(mnemonicOrWif)) TagG.setWIF(mnemonicOrWif, addrType);
        else return myswal(TagG.jp ? 'だめ' : 'Oops!', TagG.jp ? 'パスワードが正しくありません' : 'Invalid password.', 'error');
        aOpenWallet();
    };
    this.onClickQuickAccessPasswordEnterButton = () => {
        const password = this.refs.quickaccess_password.getValue();
        this.onEnterQuickAccessPassword(password);
    };
    this.onClickWalletHelpButton = () => {
        Util.aOpenContentSwal(this.refs.wallethelp_window);
    };
    this.onClickNewAddrButton = () => {
        TagG.addrsDataMaxIndex++;
        TagG.setAddrSelectItems();
        this.update();
        const indexStoreKey = TagG.STORAGEKEY_ADDRINDEX_FORMAT.replace('{FIRST_ADDR}', TagG.addrsData[0].address);
        Util.saveStorage(indexStoreKey, TagG.addrsDataMaxIndex);
    };
    this.onClickOpenTrezorWinButton = () => {
        this.refs.trezor_account.setValue(this.trezor.path.account);
        setTrezorDirectURL();
        clearWindowMessages();
        Util.aOpenContentSwal(this.refs.trezor_window);
    };
    this.onChangeTrezorSegwitSwitch = (isChecked) => {
        this.trezor.addrType = isChecked ? ADDR_TYPE.P2WPKH : ADDR_TYPE.P2PKH;
        this.trezor.path.purpose = TagG.addrType2purpose(this.trezor.addrType);
        setTrezorDirectURL();
        this.update();
    };
    this.onInputTrezorAccount = (value) => {
        const account = Number(value);
        if (!Number.isInteger(account) || account < 0) return;
        this.trezor.path.account = account;
        setTrezorDirectURL();
        this.update();
    };
    this.onClickOpenTrezorButton = async() => {
        const path = this.trezor.path;
        const account = Number(this.refs.trezor_account.getValue());
        if (!Number.isInteger(account) || account < 0) return showWindowError(TagG.jp ? 'だめです。accountは0以上の整数にしてね' : 'Oops! Invalid account.');
        path.account = account;
        const pathStr = `m/${path.purpose}'/${path.coin}'/${path.account}'`;
        aOpenTrezor(pathStr, this.trezor.addrType);
    };

    this.on('mount', () => {
        const container = this.refs.swalwindows_container;
        while (container && container.firstChild) container.removeChild(container.firstChild);
        if (TagG.addrsData) aOpenWallet();
        else if (this.isQuickAccess) aTryOpenSavedXpub();
        else if (this.queryTrezorPath) aOpenTrezor(this.queryTrezorPath);
        else aShowSampleCards().catch(console.warn);
    });
    const aShowSampleCards = async() => {
        if (!TagG.DISPENSERS_CACHEJSON) return;
        const { dispensers } = await Util.aGetJSON(`${TagG.DISPENSERS_CACHEJSON}?${TagG.getCacheQuery(2)}`);
        let assets = dispensers.slice(0, 50).map(dispenser => dispenser.asset);
        assets = Util.uniq(assets);
        await TagG.aLoadAssets(assets, true, true);
        this.sampleCards = assets.filter(asset => TagG.asset2card[asset]).slice(0, 20).map(asset => ({
            image: TagG.getAssetImageURL('auto', asset),
            linkURL: TagG.asset2card[asset].siteURL,
        }));
        this.update();
    };
    const aOpenWallet = async() => {
        await TagG.aUpdateAddrsDataWithUI(TagG.bodySpinner);
        this.addrsLoaded = true;
        this.addrsDataToShow = [];
        for (const addrData of TagG.addrsData) { // いっぺんに表示すると画面ロックしてしまうので1つずつ表示
            this.addrsDataToShow.push(addrData);
            if (addrData.assets.length > 10) {
                this.update();
                await Util.aSleep(addrData.assets.length * 10);
            }
            else if (this.addrsDataToShow.length === TagG.addrsData.length) this.update();
        }
        TagG.aLoadAssetsExtendedInfo().then(isUpdated => { if (isUpdated) this.update() });
    };
    const aTryOpenSavedXpub = async() => {
        let addrType = ADDR_TYPE.P2PKH;
        if (this.quickAccessAddrType === ADDR_TYPE.P2WPKH) addrType = ADDR_TYPE.P2WPKH;
        const accountPath = TagG.addrType2defaultAccountPath(addrType, this.quickAccessAccount || 0);
        const accountXpub = TagG.loadAccountXpub(accountPath, this.encryptedMnemonic);
        if (accountXpub) {
            TagG.setAccountXpub(accountXpub, addrType, accountPath, this.encryptedMnemonic);
            await aOpenWallet();
        }
    };
    const aOpenTrezor = async(pathStr, addrType = null) => {
        if (!addrType) {
            if (pathStr.split('/')[1] === "84'") addrType = ADDR_TYPE.P2WPKH;
            else addrType = ADDR_TYPE.P2PKH;
        }
        const trezorResult = await TrezorConnect.getPublicKey({ path: pathStr, coin: TagG.TREZOR_COIN });
        if (!trezorResult.success) {
            if (swal.getState().isOpen) return showWindowError(TagG.jp ? `エラーが発生しました: ${trezorResult.payload.error}` : `Failed. hint: ${trezorResult.payload.error}`);
            else return myswal('Error', TagG.jp ? `Trezorへのアクセスに失敗しました: ${trezorResult.payload.error}` : `Failed to access Trezor. hint: ${trezorResult.payload.error}`, 'error');
        }
        TagG.isTrezor = true;
        TagG.setAccountXpub(trezorResult.payload.xpub, addrType, pathStr);
        if (swal.getState().isOpen) swal.close();
        await aOpenWallet();
    };
    const setTrezorDirectURL = () => {
        const path = this.trezor.path;
        const encodedPathStr = encodeURIComponent(`m/${path.purpose}'/${path.coin}'/${path.account}'`).replace(/'/g, '%27');
        this.trezor.directURL = `${location.protocol}//${location.host}${location.pathname}?${TagG.QUERYKEY_TREZORPATH}=${encodedPathStr}`;
    };
    const clearWindowMessages = () => {
        this.windowErrorText = '';
        this.update();
    };
    const showWindowError = (message) => {
        this.windowErrorText = message;
        this.update();
    };
</script>

</wallet-page>
