<wallet-settings>

<div class="app-page">
    <div class="page-header">
        <i class="material-icons page-icon">settings</i>
        <h2 class="page-title">{ TagG.jp ? 'ウォレット設定' : 'Wallet Settings' }</h2>
    </div>
    <div class="page-content">
        <div class="section-frame">
            <div class="paragraph page-description">
                <span if={ TagG.jp }>設定はブラウザに保存されます。よくわからなければ変更しないほうが無難です</span>
                <span if={ !TagG.jp }>The settings will be saved in your browser. If you are not sure, it is safer not to change them.</span>
            </div>
        </div>
        <div class="section-frame">
            <div class="section-title">Monapalette in English</div>
            <div class="paragraph"><material-switch ref="english_switch" label="ON" on_change={ onChangeEnglish }></material-switch></div>
        </div>
        <div class="section-frame">
            <div class="section-title">
                <span if={ TagG.jp }>ゼロ承認の{ TagG.BASECHAIN_ASSET }を使う</span>
                <span if={ !TagG.jp }>Use zero-conf { TagG.BASECHAIN_ASSET }</span>
            </div>
            <div class="paragraph"><material-switch ref="zeroconf_switch" label="ON" on_change={ onChangeZeroconf }></material-switch></div>
        </div>
        <div class="section-frame">
            <div class="section-title">{ TagG.jp ? 'Monapartyサーバを指定する' : 'Specify Monaparty servers' }</div>
            <div class="paragraph">
                <span if={ TagG.jp }>Counterblock API のエンドポイントを入力してください。カンマ区切りで複数指定すると冗長構成で使用します。</span>
                <span if={ !TagG.jp }>Enter Counterblock API endpoint. If you specify multiple endpoints separated by commas, they will be used in a redundant configuration.</span>
            </div>
            <div class="paragraph">
                <span if={ TagG.jp }>ここに変な値や利用できないエンドポイントが入っているとウォレットが動かなくなるのでご注意ください。</span>
                <span if={ !TagG.jp }>Please note that the wallet will not work if there is strange value or unavailable endpoint here.</span>
            </div>
            <div class="paragraph"><material-textfield ref="endpoints_input" hint="Counterblock Endpoints" on_change={ onChangeEndpoints }></material-textfield></div>
        </div>
    </div>
</div>

<script>
    this.TagG = TagG;
    const ENDPOINTS_STRKEY = TagG.STORAGEKEY_ENDPOINTS_FORMAT.replace('{COIN}', TagG.COIN);
    this.onChangeZeroconf = (checked) => {
        if (checked) TagG.confNum = 0;
        else TagG.confNum = 1;
        Util.saveStorage(TagG.STORAGEKEY_CONFNUM, TagG.confNum);
    };
    this.onChangeEnglish = (checked) => {
        if (checked) {
            TagG.jp = false;
            Util.saveStorage(TagG.STORAGEKEY_LANG, 'EN');
        }
        else {
            TagG.jp = true;
            Util.saveStorage(TagG.STORAGEKEY_LANG, 'JA');
        }
        TagG.body.update();
    };
    this.onChangeEndpoints = (endpoints) => {
        endpoints = endpoints.split(',').map(end => end.trim()).filter(end => end);
        if (endpoints.length > 0) {
            Monaparty.serversFile = null;
            Monaparty.fullEndpoints = endpoints || TagG.MONAPARTY_ENDPOINTS;
            Monaparty.nocoindEndpoints = [];
            Util.saveStorage(ENDPOINTS_STRKEY, endpoints);
        }
        else {
            Monaparty.serversFile = Monaparty.defaults.serversFile;
            Monaparty.fullEndpoints = TagG.MONAPARTY_ENDPOINTS || Monaparty.defaults.fullEndpoints;
            Monaparty.nocoindEndpoints = Monaparty.defaults.nocoindEndpoints;
            Util.saveStorage(ENDPOINTS_STRKEY, null);
        }
    };
    this.on('mount', async() => {
        this.refs.zeroconf_switch.setChecked(TagG.confNum === 0);
        this.refs.english_switch.setChecked(TagG.jp === false);
        this.refs.endpoints_input.setValue((Util.loadStorage(ENDPOINTS_STRKEY) || []).join(', '));
    });
</script>

</wallet-settings>
