wallet-settings {
    .section-frame {
        max-width: 840px;
        margin: 0 auto 40px auto;
    }
    .section-title {
        margin: 20px;
        font-size: 20px;
    }
    .paragraph {
        margin: 20px;
        &.page-description {
            margin-top: 10px;
        }
    }
}
