wallet-page {
    .app-page {
        .page-content {
            padding: 10px 10px 100px 10px;
            min-height: calc(100vh - 122px);
            box-sizing: border-box;
        }
    }
    .centering {
        text-align: center;
        max-width: 800px;
        margin: 20px auto 40px auto;
    }
    .limit-width {
        max-width: 800px;
        margin: 0 auto;
    }
    .section-frame {
        margin: 10px 0;
        padding-bottom: 6px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        border-radius: 4px;
        .section-title {
            margin: 20px;
            font-size: 20px;
        }
        .paragraph {
            margin: 20px;
        }
        .dekirukoto-subtitle {
            margin: 20px 20px 0 20px;
            font-size: 18px;
            &.dekirukoto-subtitle-longmargin {
                margin-top: 28px;
            }
            &.dekirukoto-subtitle-noitem {
                margin-bottom: 28px;
            }
        }
        .dekirukoto-description {
            margin: 20px 20px 0 20px;
        }
        .dekirukoto-items {
            margin: 20px 20px 20px 28px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px 28px;
            .dekirukoto-item {
                .dekirukoto-tag {
                    display: inline-block;
                    padding: 0px 4px;
                    font-size: 14px;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 3px;
                    vertical-align: middle;
                }
            }
        }
    }
    .large-button-flex {
        display: flex;
        flex-wrap: wrap;
        padding: 0 1px;
        gap: 10px;
        .large-button {
            width: calc((100% - 10px) / 2);
            background-color: white;
            border-radius: 3px;
            @media screen and (max-width: 580px) {
                width: 100%;
            }
            .mdc-button {
                display: inline-block;
                font-size: 20px;
                @include button.height(120px);
                .mdc-button__icon {
                    height: 24px;
                    font-size: 24px;
                    vertical-align: middle;
                }
            }
        }
    }
    @keyframes loop {
        0% { transform: translateX(100%) }
        to { transform: translateX(-100%) }
    }
    @keyframes loop2 {
        0% { transform: translateX(0) }
        to { transform: translateX(-200%) }
    }
    .sample-cards {
        margin: 14px 0;
        padding: 6px 0;
        white-space: nowrap;
        overflow: hidden;
        .sample-card {
            display: inline-block;
            margin-right: 20px;
            img {
                width: 160px;
                border-radius: 3px;
                vertical-align: middle;
                box-shadow: 0px 1px 1.5px rgba(black, 0.2);
            }
            a {
                &:hover { filter: brightness(105%); }
                &:active { filter: brightness(110%); }
            }
        }
        .slider {
            display: inline-block;
            &.slider1 {
                animation: loop 150s -75s linear infinite;
            }
            &.slider2 {
                animation: loop2 150s linear infinite;
            }
        }
    }
    .form-frame {
        margin: 0 14px;
        .title {
            font-size: 20px;
            margin: 10px 0 20px 0;
        }
        .note {
            margin: 20px 0;
        }
        .mnemonic {
            position: relative;
            max-width: 600px;
            margin: 20px auto;
        }
        .password {
            position: relative;
            max-width: 400px;
            margin: 28px auto;
            text-align: center;
        }
        .switch {
            margin: 30px auto;
            text-align: center;
        }
        .gobutton {
            max-width: 600px;
            margin: 30px auto 40px auto;
        }
        .enterbutton-frame {
            position: absolute;
            top: 4px;
            right: 4px;
        }
        .new-mnemonic-label {
            text-align: left;
            margin-top: 40px;
        }
        .new-mnemonic {
            text-align: center;
            background-color: #EEEEEE;
            font-family: $codeFontFamily;
            border-radius: 4px;
            padding: 12px;
            line-height: 26px;
        }
        .new-url {
            text-align: left;
            background-color: #EEEEEE;
            font-family: $codeFontFamily;
            border-radius: 4px;
            padding: 12px;
            word-wrap: break-word;
            word-break: break-all;
        }
        .new-url-copy {
            text-align: right;
            margin-bottom: 20px;
        }
        .new-mnemonic-note {
            text-align: left;
            margin: 16px 8px;
        }
        .new-mnemonic-annotation {
            text-align: left;
            font-size: 14px;
        }
    }
    .newaddr-button {
        margin: 6px 2px;
        .mdc-button {
            display: inline-block;
            font-size: 16px;
            @include button.height(60px);
            .mdc-button__icon {
                height: 20px;
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }
    .palette-red {
        color: #F24444;
    }
    .palette-yellow {
        color: #F5E03E;
    }
    .palette-green {
        color: #69DC4E;
    }
    .palette-blue {
        color: #2D7DD5;
    }
}

.wallet-page-swalwindow {
    .unit-input {
        width: 100px;
    }
}
