<base-pagecontroller>

<div ref="frame" class="pagecontroller-frame">
    <wallet-page if={ page === 'wallet' }></wallet-page>
    <markets-page if={ page === 'markets' } tab={ pageParams[0] } param1={ pageParams[1] } param2={ pageParams[2] }></markets-page>
    <tokenvault-page if={ page === 'tokenvault' }></tokenvault-page>
    <rakugaki-page if={ page === 'rakugaki' }></rakugaki-page>
    <dboard-page if={ page === 'dboard' }></dboard-page>
    <appconnect-page if={ page === 'appconnect' }></appconnect-page>
    <tools-page if={ page === 'tools' }></tools-page>
    <about-page if={ page === 'about' }></about-page>
    <wallet-settings if={ page === 'wallet_settings' }></wallet-settings>
    <monaparty-api-page if={ page === 'monaparty_api' }></monaparty-api-page>
    <regenerate-quickurl-page if={ page === 'regenerate_quickurl' }></regenerate-quickurl-page>
    <generate-kirakiraaddr-page if={ page === 'generate_kirakiraaddr' }></generate-kirakiraaddr-page>
    <addrbook-page if={ page === 'addrbook' }></addrbook-page>
    <addr-from-mpurse-page if={ page === 'addr_from_mpurse' }></addr-from-mpurse-page>
    <step-page if={ page === 'step' }></step-page>
    <appconnect-sample if={ page === 'appconnect_sample' }></appconnect-sample>
</div>

<script>
    if (TagG.IS_MPURSEEX) route('/', () => { this.changePage('addr_from_mpurse') });
    else route('/', () => { this.changePage('wallet') });
    route('/wallet', () => { this.changePage('wallet') });
    route('/dispensers', () => { if (this.page !== 'markets') this.changePage('markets', 'DISPENSERS') });
    route('/dex', () => { if (this.page !== 'markets') this.changePage('markets', 'DEX') });
    route('/dex/*/*', (param1, param2) => { if (this.page !== 'markets') this.changePage('markets', 'DEX', decodeURIComponent(param1), decodeURIComponent(param2)) });
    route('/shops', () => { if (this.page !== 'markets') this.changePage('markets', 'SHOPS') });
    route('/shops/*', (param1) => { if (this.page !== 'markets') this.changePage('markets', 'SHOPS', decodeURIComponent(param1)) });
    route('/tokenvault', () => { this.changePage('tokenvault') });
    route('/rakugaki', () => { this.changePage('rakugaki') });
    route('/dboard', () => { this.changePage('dboard') });
    route('/appconnect', () => { this.changePage('appconnect') });
    route('/tools', () => { this.changePage('tools') });
    route('/about', () => { this.changePage('about') });
    route('/wallet_settings', () => { this.changePage('wallet_settings') });
    route('/monaparty_api', () => { this.changePage('monaparty_api') });
    route('/regenerate_quickurl', () => { this.changePage('regenerate_quickurl') });
    route('/generate_kirakiraaddr', () => { this.changePage('generate_kirakiraaddr') });
    route('/addrbook', () => { this.changePage('addrbook') });
    route('/addr_from_mpurse', () => { this.changePage('addr_from_mpurse') });
    route('/step', () => { this.changePage('step') });
    route('/appconnect_sample', () => { this.changePage('appconnect_sample') });
    route('/regenerate_quickurl?..', () => { route('/') }); // 再生成URL用
    route('/*?..', (page) => {
        Object.assign(TagG.query, route.query() || {}); // サイト内移動時にクエリを回収
        route(`/${page}`);
    });
    route('/*/*?..', (page, param1) => {
        Object.assign(TagG.query, route.query() || {});
        route(`/${page}/${param1}`);
    });
    route('/..', () => { route('/') });
    route.start(true);

    const _onChangePage = opts.on_changepage;
    this.page = opts.page || '';

    this.changePage = (page, ...pageParams) => {
        if (swal.getState().isOpen) swal.close();
        const frame = this.refs.frame;
        if (_onChangePage) _onChangePage();
        frame.style.pointerEvents = 'none';
        frame.style.opacity = '0.0';
        window.scrollTo(0, 0);
        this.page = page;
        this.pageParams = pageParams;
        this.update();
        TweenLite.to(frame, 0.5, {
            opacity: '1.0',
            onComplete: () => { frame.style.pointerEvents = 'auto'; },
        });
    };
</script>

</base-pagecontroller>
