<base-menu> <!-- version: 20220707 -->

<material-iconbutton icon="menu" class="menu-button" on_click={ onMenuButtonClick }></material-iconbutton>
<div if={ notificationSum } class="menu-button-notification">{ notificationSum }</div>
<div ref="panel" if={ isShown } class="menu-panel">
    <material-iconbutton icon="close" class="close-button" on_click={ onCloseButtonClick }></material-iconbutton>
    <div class="menu-items">
        <div each={ items } class="menu-item">
            <material-button label={ title } on_click={ onClickAndClose } is_fullwidth="true"></material-button>
            <div if={ title2count[title] } class="menu-item-notification">{ title2count[title] }</div>
        </div>
    </div>
</div>

<script>
    this.items = opts.items || [{ title: 'sample', onClick: () => console.log('sample') }];
    for (const item of this.items) {
        item.onClickAndClose = () => {
            item.onClick();
            this.closePanel();
        };
    }
    this.isShown = false;
    this.title2count = {};
    let showAnimationWaiting = false;

    this.onMenuButtonClick = () => {
        this.isShown = true;
        showAnimationWaiting = true;
        this.update();
    };
    this.onCloseButtonClick = () => {
        this.closePanel();
    };
    this.on('updated', () => {
        if (showAnimationWaiting) {
            TweenLite.to(this.refs.panel, 0.5, {
                opacity: '1.0',
                onComplete: () => {
                    this.refs.panel.style.pointerEvents = 'auto';
                },
            });
            showAnimationWaiting = false;
        }
    });
    this.closePanel = () => {
        if (!this.refs.panel) return;
        this.refs.panel.style.pointerEvents = 'none';
        TweenLite.to(this.refs.panel, 0.5, {
            opacity: '0.0',
            onComplete: () => {
                this.isShown = false;
                this.update();
            },
        });
    };
    this.setNotifications = (title2count = {}) => {
        this.notificationSum = 0;
        for (const title in title2count) this.notificationSum += title2count[title];
        this.title2count = title2count;
        this.update();
    };
</script>

</base-menu>
