base-body {
    .body-frame {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .body-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: 68px;
        background-color: rgba($bgColor, 0.6);
        backdrop-filter: blur(2px);
        @supports not (backdrop-filter: blur(2px)) {
            background-color: rgba($bgColor, 0.9);
        }
        .body-title {
            margin: 0;
            padding: 0 0 0 22px;
            height: 68px;
            text-align: left;
            line-height: 68px;
            font-size: 24px;
            font-weight: $basicFontWeight;
            white-space: nowrap;
            .body-title-logo {
                margin: 0 10px 0 -6px;
                width: 40px;
                height: 40px;
                vertical-align: middle;
            }
        }
        .body-poweredby {
            position: absolute;
            left: 60px;
            bottom: 0;
            font-size: 12px;
            color: rgba($color, 0.6);
            white-space: nowrap;
        }
        .body-clickable {
            cursor: pointer;
        }
    }
    .body-content {
        position: absolute;
        top: 68px;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
}
