<base-swalcontents>

<div ref="container" show={ false }>
    <div ref="password_win" class="base-swalcontent">
        <div class="title">{ passwordWin.title || 'Password' }</div>
        <div if={ passwordWin.text } class="basic">{ passwordWin.text }</div>
        <div class="basic"><material-textfield ref="password_win_input" hint="Password" is_password="true" on_enter={ passwordWin.onClickOK }></material-textfield></div>
        <div class="bottombutton-frame"><material-button label="OK" on_click={ passwordWin.onClickOK } is_unelevated="true" is_fullwidth="true"></div>
    </div>
</div>

<script>
    this.passwordWin = {};
    this.passwordWin.onClickOK = () => {
        const ref = this.refs.password_win;
        ref.isOK = true;
        ref.value = this.refs.password_win_input.getValue();
        swal.close(); // swal.setActionValue しても close() では値が返らないので isOK, value を使う
    };
    this.on('mount', () => {
        const container = this.refs.container;
        while (container && container.firstChild) container.removeChild(container.firstChild);
        setup();
    });
    const setup = () => {
        const swalContents = {};
        swalContents.getPasswordWin = ({ title = null, text = null } = {}) => {
            this.passwordWin.title = title;
            this.passwordWin.text = text;
            this.update();
            const ref = this.refs.password_win;
            [ref.isOK, ref.value] = [false, null];
            return ref;
        };
        TagG.swalContents = swalContents;
    };
</script>

</base-swalcontents>
