base-menu {
    .menu-button {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .menu-button-notification {
        position: fixed;
        box-sizing: border-box;
        top: 4px;
        right: 4px;
        padding: 0 6px;
        min-width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 10px;
        font-size: 11px;
        font-weight: $boldFontWeight;
        text-align: center;
        color: $bgColor;
        background-color: tomato;
        pointer-events: none;
    }
    .close-button {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .menu-panel {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: $accentColor;
        background-color: rgba($bgColor, 0.9);
        backdrop-filter: blur(4px);
        @supports not (backdrop-filter: blur(4px)) {
            background-color: $bgColor;
        }
        pointer-events: none;
        z-index: 10;
    }
    .menu-items {
        padding-top: 70px;
        .menu-item {
            position: relative;
            margin-bottom: 4px;
            .mdc-button {
                display: inline-block;
                font-size: 24px;
                text-align: right;
                @include button.height(72px);
                @include button.horizontal-padding(22px);
                @media screen and (max-height: 700px) {
                    @include button.height(60px);
                }
                @media screen and (max-height: 600px) {
                    @include button.height(50px);
                }
            }
            .menu-item-notification {
                position: absolute;
                box-sizing: border-box;
                top: 4px;
                right: 4px;
                padding: 0 6px;
                min-width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 10px;
                font-size: 11px;
                font-weight: $boldFontWeight;
                text-align: center;
                color: $bgColor;
                background-color: tomato;
                pointer-events: none;
            }
        }
    }
}
