<base-body>

<div ref="body" class="body-frame">
    <div class="body-content">
        <base-pagecontroller on_changepage={ onChangePage }></base-pagecontroller>
    </div>
    <div class="body-header">
        <h1 class="body-title"><img if={ !subscript } src={ TagG.RELATIVE_URL_BASE + 'img/logoicon_80.png' } onclick={ onClickTitle } class="body-title-logo body-clickable" loading="lazy"><span onclick={ onClickTitle } class="body-clickable">{ title }</span></h1>
        <div if={ subscript } class="body-poweredby">{ subscript }</div>
    </div>
    <addrs-window ref="addrs_window"></addrs-window>
    <base-menu ref="menu" items={ menuItems }></base-menu>
    <base-swalcontents></base-swalcontents>
    <txmanager-dispenserpurchase ref="dispenser_purchase"></txmanager-dispenserpurchase>
    <txmanager-dexpurchase ref="dex_purchase"></txmanager-dexpurchase>
    <util-spinner ref="spinner" is_fulldisplay="true"></util-spinner>
</div>

<script>
    this.TagG = TagG;
    TagG.body = this;
    switch (TagG.COIN) {
        case COINS.MONA_TESTNET:
            this.title = TagG.jp ? 'モナパレット' : 'Monapalette';
            this.subscript = '※※※ TESTNET ※※※';
            this.menuItems = [
                { title: 'Wallet', onClick: () => { route('/wallet'); } },
                { title: 'Markets', onClick: () => { route('/shops'); } },
                { title: 'D-Board', onClick: () => { route('/dboard'); } },
                { title: 'AppConnect', onClick: () => { route('/appconnect'); } },
                { title: 'Tools', onClick: () => { route('/tools'); } },
                { title: 'About', onClick: () => { route('/about'); } },
            ];
            break;
        case COINS.MONA:
            this.title = TagG.jp ? 'モナパレット' : 'Monapalette';
            this.menuItems = [
                { title: 'Wallet', onClick: () => { route('/wallet'); } },
                { title: 'Markets', onClick: () => { route('/shops'); } },
                { title: 'Token Vault', onClick: () => { route('/tokenvault'); } },
                { title: (TagG.jp ? 'らくがきNFT' : 'Rakugaki NFT'), onClick: () => { route('/rakugaki'); } },
                { title: 'D-Board', onClick: () => { route('/dboard'); } },
                { title: 'AppConnect', onClick: () => { route('/appconnect'); } },
                { title: 'Tools', onClick: () => { route('/tools'); } },
                { title: 'About', onClick: () => { route('/about'); } },
            ];
            break;
        case COINS.BTC_TESTNET:
            this.title = 'Counterpalette';
            this.subscript = '※※※ TESTNET ※※※';
            this.menuItems = [
                { title: 'Wallet', onClick: () => { route('/wallet'); } },
                { title: 'Tools', onClick: () => { route('/tools'); } },
            ];
            break;
        case COINS.BTC:
            this.title = 'Counterpalette';
            this.menuItems = [
                { title: 'Wallet', onClick: () => { route('/wallet'); } },
                { title: 'Tools', onClick: () => { route('/tools'); } },
            ];
            break;
    }
    if (TagG.IS_MPURSEEX) {
        this.title = TagG.jp ? 'Mpurseエクステ' : 'MpurseExte';
        this.subscript = TagG.jp ? 'powered by モナパレット' : 'powered by Monapalette';
        this.menuItems = [
            { title: 'Wallet', onClick: () => { route('/addr_from_mpurse'); } },
            { title: 'Markets', onClick: () => { route('/shops'); } },
            { title: 'Token Vault', onClick: () => { route('/tokenvault'); } },
            { title: (TagG.jp ? 'らくがきNFT' : 'Rakugaki NFT'), onClick: () => { route('/rakugaki'); } },
            { title: 'D-Board', onClick: () => { route('/dboard'); } },
            { title: 'Tools', onClick: () => { route('/tools'); } },
            { title: 'About', onClick: () => { route('/about'); } },
        ];
    }
    this.onClickTitle = () => { route('/'); };
    this.onChangePage = () => {
        this.refs.menu.closePanel();
    };
    this.on('mount', () => {
        TagG.bodyMenu = this.refs.menu;
        TagG.bodySpinner = this.refs.spinner;
        TagG.bodyDispenserPurchase = this.refs.dispenser_purchase;
        TagG.bodyDexPurchase = this.refs.dex_purchase;
        TagG.bodyAddrsWin = this.refs.addrs_window;
    });
</script>

</base-body>
