<util-hashcolors> <!-- version: 20220215 -->

<!-- svgタグは{}をパースする前にレンダリングしようとするのでriot-widthとか使う必要がある -->
<svg xmlns="http://www.w3.org/2000/svg" ref="svg" class="svg-frame" version="1.1" riot-width={ width } riot-height={ height } riot-viewBox={ viewBox }></svg>

<script>
    const INTERVAL = 10;
    const RADIUS = 4;
    const NUM = 8;
    this.width = `${INTERVAL * NUM}`;
    this.height = `${RADIUS * 2}`;
    this.viewBox = `0 0 ${INTERVAL * NUM} ${RADIUS * 2}`;
    this.on('mount', () => { aUpdateValue(opts.seed_value) });
    this.on('update', () => { aUpdateValue(opts.seed_value) });
    const aUpdateValue = async(value) => {
        if (value === this.value) return;
        this.value = value;
        const hash = await aSha256(value);
        const svg = this.refs.svg;
        if (!svg) return;
        while (svg.firstChild) svg.removeChild(svg.lastChild);
        for (let i = 0; i < NUM; i++) {
            const color = `#${hash.slice(i * 6, (i + 1) * 6)}`;
            const circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
            circle.setAttribute('cx', `${INTERVAL / 2 + INTERVAL * i}`);
            circle.setAttribute('cy', `${RADIUS}`);
            circle.setAttribute('r', `${RADIUS}`);
            circle.setAttribute('fill', color);
            svg.appendChild(circle);
        }
    };
    const aSha256 = async(text) => {
        const uint8array  = new TextEncoder().encode(text);
        const arrayBuffer = await crypto.subtle.digest('SHA-256', uint8array);
        const hex = Array.from(new Uint8Array(arrayBuffer)).map(num => num.toString(16).padStart(2, '0')).join('');
        return hex;
    };
</script>

</util-hashcolors>
