<util-qrcode> <!-- version: 20201113 -->

<svg xmlns="http://www.w3.org/2000/svg" class="svg-frame">
    <g ref="qrcode"/>
</svg>

<script>
    this.value = opts.qr_value;

    this.getValue = () => {
        return this.value;
    };
    this.setValue = value => {
        this.value = value;
        this.updateQR();
    };
    this.updateQR = () => {
        if (this.value) this.qrcode.makeCode(this.value);
    };
    this.on('mount', () => {
        this.qrcode = new QRCode(this.refs.qrcode, {
            width: 400,
            height: 400,
            useSVG: true,
        });
        this.updateQR();
    });
</script>

</util-qrcode>
