<util-spinner> <!-- version: 20210714 -->

<div if={ isSpinning } ref="frame" class="spinner-frame { spinner-frame-fulldisplay: isFullDisplay }"></div>

<script>
    this.isFullDisplay = Boolean(opts.is_fulldisplay);
    const SPINNER_PARAMS = {
        lines: 9, // The number of lines to draw
        length: 12, // The length of each line
        width: 4, // The line thickness
        radius: 16, // The radius of the inner circle
        scale: 1, // Scales overall size of the spinner
        corners: 0.5, // Corner roundness (0..1)
        color: '#222222', // #rgb or #rrggbb or array of colors
        opacity: 0.1, // Opacity of the lines
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        speed: 1.2, // Rounds per second
        trail: 60, // Afterglow percentage
        fps: 20, // Frames per second when using setTimeout() as a fallback for CSS
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        className: 'spinner', // The CSS class to assign to the spinner
        top: '50%', // Top position relative to parent
        left: '50%', // Left position relative to parent
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        position: 'absolute' // Element positioning
    };
    this.isSpinning = false;
    this.spinner = new Spinner(SPINNER_PARAMS);
    this.start = () => {
        if (this.isSpinning) return;
        this.isSpinning = true;
        this.update();
        if (this.refs.frame) this.spinner.spin(this.refs.frame);
    };
    this.stop = () => {
        if (!this.isSpinning) return;
        if (this.refs.frame) this.spinner.stop();
        this.isSpinning = false;
        this.update();
    };
</script>

</util-spinner>
